{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block title %}Saved Gene & miRNA Favorites | ISB-CGC{% endblock %}}
{% block extra_css_libs %}{% endblock %}
{% block header %}{% endblock %}

{% block link_page_name %}genes{% endblock %}
{% block page_name %}genes{% endblock %}

{% block page_header %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}">Your Dashboard</a></li>
        <li><a href="{% url 'workbooks' %}">Saved Workbooks</a></li>
        {% if workbook %}
            <li><a href="{% url 'worksheet_display' workbook_id=workbook.id worksheet_id=worksheet.id %}">{{ workbook.name }}</a></li>
        {% endif %}
    </ol>
    <h1 class="page-header pull-left">Data Source | Gene & miRNA Favorites</h1>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="panel penel-default">
        <div class="panel-body">
            {% if gene_fav_list %}
                <div class="page-action-group">
                    <li role="menuitem">
                        {% if workbook %}
                            <button id="addToWorksheet" class="btn btn-primary">Apply to Worksheet</button>
                        {% else %}
                            <button id="addToNewWorksheet" class="btn btn-primary">Apply to New Worksheet</button>
                        {% endif %}
                    </li>
                    <li role="menuitem">
                        {% if workbook %}
                            <a class="btn btn-primary" href="{% url 'gene_create_for_existing_workbook' workbook.id worksheet.id %}"><i class="fa fa-plus"></i>Apply New Gene & miRNA List</a>
                        {% else %}
                            <a class="btn btn-primary" href="{% url 'gene_create_for_new_workbook' %}"><i class="fa fa-plus"></i>Apply New Gene & miRNA List</a>
                        {% endif %}
                    </li>
                </div>
            {% endif %}
            {% if gene_fav_list %}
                <table class="table table-striped tablesorter">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th># of Genes & miRNAs</th>
                            <th>Last Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for genes_fav in gene_fav_list %}
                            <tr>
                                <td class="checkbox-col"><input type="checkbox" name="id" value="{{ genes_fav.id }}" title="{{ genes_fav.name }} Checkbox" aria-label="gene-checkbox"/></td>
                                {% if workbook %}
                                    <td class="name-col"><a href="{% url 'gene_detail_for_existing_workbook' genes_fav.id workbook.id worksheet.id %}">{{genes_fav.name}}</a></td>
                                {% else %}
                                     <td class="name-col"><a href="{% url 'gene_detail_for_new_workbook' genes_fav.id %}">{{genes_fav.name}}</a></td>
                                {% endif %}
                                <td>{{genes_fav.genes | length}}</td>
                                <td>{{genes_fav.last_date_saved|date:'M d, Y, g:i a'}}</td>
                            </tr>
                        {% endfor %}
                        <input type="hidden" id="workbook_id" value="{{ workbook.id }}"/>
                        <input type="hidden" id="worksheet_id" value="{{ worksheet.id }}"/>
                    </tbody>
                </table>
            {% else %}
                <br>
                <p class="center">You don't have any gene & miRNA favorites created yet. <br><br>
                    {% if workbook %}
                        <a class="btn btn-primary" href="{% url 'gene_create_for_existing_workbook' workbook.id worksheet.id %}"><i class="fa fa-plus"></i>Apply New Gene & miRNA List</a>
                    {% else %}
                        <a class="btn btn-primary" href="{% url 'gene_create_for_new_workbook' %}"><i class="fa fa-plus"></i>Apply New Gene & miRNA List</a>
                    {% endif %}
                </p>
                <br>
            {% endif %}
        </div>
    </div>
</div>
<script type="text/javascript">
</script>
{% endblock %}

{% block js_file %}{% static 'js/genes/genes_select.js' %}{% endblock %}