{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block title %}Gene & miRNA Favorite Edit | ISB-CGC{% endblock %}}
{% block header %}{% endblock %}

{% block link_page_name %}genes_edit{% endblock %}
{% block page_name %}genes_edit{% endblock %}

{% block page_header %}
<link type="text/css" rel="stylesheet" href="{% static 'css/token-typeahead.css' %}" />
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}">Your Dashboard</a></li>
        {% if workbook %}
            <li><a href="{% url 'workbooks' %}">Saved Workbooks</a></li>
            <li><a href="{% url 'worksheet_display' workbook.id worksheet.id %}">{{ workbook.name }}</a></li>
            <li><a href="{% url 'gene_select_for_existing_workbook' workbook.id worksheet.id %}">Saved Gene Favorites</a></li>
        {% elif new_workbook %}
            <li><a href="{% url 'workbooks' %}">Saved Workbooks</a></li>
            <li><a href="{% url 'gene_select_for_new_workbook' %}">Saved Gene & miRNA Favorites</a></li>
        {% else %}
            <li><a href="{% url 'genes' %}">Saved Gene & miRNA Favorites</a></li>
        {% endif %}
    </ol>
    {% if workbook or not gene_favorite %}
        <h1 class="page-header">Create Gene & miRNA Favorite</h1>
    {% else %}
        <h1 class="page-header">Edit Gene & miRNA Favorite</h1>
    {% endif %}
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div id="unallowed-chars-alert" class="alert alert-warning alert-dismissable" style="display: none;">
        <button type="button" class="close" data-hide="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        Your gene & miRNA list's name contains invalid characters (<span class="unallowed-chars"></span>). Please choose another name.
    </div>
    <section class="panel panel-default">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            {% if gene_favorite %}
                <form class="create-gene-list" method="POST" action="{% url 'gene_fav_update' gene_favorite.id %}">
            {% elif workbook %}
                <form class="create-gene-list" method="POST" action="{% url 'worksheet_genes_edit' workbook.id worksheet.id %}">
            {% elif new_workbook %}
                <form class="create-gene-list" method="POST" action="{% url 'worksheet_create_with_genes' %}">
            {% else %}
                <form class="create-gene-list" method="POST" action="{% url 'gene_fav_save' %}">
            {% endif %}
                {% csrf_token %}
                <div class="form-group">
                    <label for="genes-list-name">Name of Favorite (Required)</label>
                    <input id="genes-list-name" class="form-control" type="text" value="{% if 'gene_fav_detail' %}{{gene_favorite.name}}{% endif %}" name="genes-name" required>
                </div>

                <div class="form-group">
                    <div>
                        <label for="genes-list">Selected Genes & miRNAs (required)</label>
                        <button class="btn btn-link" id="clearAll">Clear All</button>
                        <span> | </span>
                        <div id="uploadField" class="center" style="display : inline-block;">
                            <div class="tooltip-bubble">
                                <button class="btn btn-link nocap" id="file-upload-btn">
                                    <i class="fa fa-file"></i> Upload Gene and miRNA List
                                </button>
                                <span class="tooltip-text">Gene/miRNA list must be comma separated with no newlines.</span>
                            </div>
                            <input type="file" name="upload" id="file-upload-field" aria-label="File Upload" style="display: none">
                            <div id="uploading" class="collapse" style="margin-left: 20px;">
                                <i class="fa fa-circle-o-notch fa-spin"></i>  <span id="selected-file-name"></span>
                            </div>
                        </div>
                    </div>
                    <div id="tokenfield-holder">
                        <!-- "paste-in-genes" -->
                        <textarea name="genes-list" class="form-control tokenfield" id="paste-in-genes"  placeholder="Enter your favorite gene or miRNA's name" aria-label="Name" required></textarea>
                    </div>
                    <div class="tokenfield">
                        <p class="helper-text__repeat" style="display: none;"><i class="fa fa-exclamation-circle"></i> <span class="token invalid repeat">Repetitive</span>Genes and miRNAs will be removed on submit </p>
                        <p class="helper-text__invalid" style="display: none;"><i class="fa fa-exclamation-circle"></i> The following <span class="token invalid">items</span>were not recognized as gene or miRNA identifiers. You may either correct or delete these items or upload them as-is.</p>
                    </div>
                </div>
                <ul class="page-action-group">
                    {% if gene_favorite %}
                        <li role="menuitem">
                            <input type="submit" value="Save Changes" class="btn btn-primary"/>
                        </li>
                        <li role="menuitem"><menuitem class="btn btn-link"><a class="cancel-edit" href="{% url 'gene_fav_detail' gene_favorite.id %}">Cancel</a></menuitem></li>
                    {% elif workbook %}
                        <li role="menuitem">
                            <input type="submit" value="Apply to Worksheet" class="btn btn-primary"/>
                        </li>
                        <li role="menuitem"><a class="cancel-edit" href="{% url 'gene_select_for_existing_workbook' workbook.id worksheet.id %}">Cancel</a></li>
                    {% else %}
                        <li role="menuitem">
                            <input type="submit" value="Save as Favorite" class="btn btn-primary"/>
                        </li>
                        <li role="menuitem"><a class="cancel-edit" href="{% url 'genes' %}">Cancel</a></li>
                    {% endif %}
                    <menuitem class="btn nocap btn-link pull-right"><a href="http://www.genenames.org/" target="_blank">View Gene Identifiers</a></menuitem>
                    <menuitem class="btn nocap btn-link pull-right"><a href="http://www.mirbase.org/cgi-bin/mirna_summary.pl?org=hsa" target="_blank">View miRNA Identifiers</a></menuitem>
                </ul>
            </form>
        </div>
    </section>
</div>
<script type="text/javascript">

    {% if gene_favorite %}
        var gene_fav = { genes : {{ genes }} };
    {% else %}
        var gene_fav = { genes : [] };
    {% endif %}
</script>
{% endblock %}

{% block js_file %}{% static 'js/genes/genes.js' %}{% endblock %}