{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block title %}Genes Favorite Details | ISB-CGC{% endblock %}}
{% block extra_css_libs %}{% endblock %}
{% block header %}{% endblock %}

{% block link_page_name %}genes_detail{% endblock %}
{% block page_name %}genes_detail{% endblock %}

{% block page_header %}
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}">Your Dashboard</a></li>
        <li><a href="{% url 'genes' %}">Saved Gene Favorites</a></li>
    </ol>
    <h1 class="page-header">Gene Favorite Details</h1>
{% endblock %}
{% block content %}
<div class="container">

    <section class="panel panel-default">
        <div class="panel-heading">

        </div>
        <div class="panel-body">
            <!--<p>Name of Favorite</p>-->
            <h4>AKT Pathway</h4>

            <div>
                <h5>Selected Genes</h5>
                <span class="delete-x filter-label label label-default">PTEN</span>
                <span class="delete-x filter-label label label-default">PIK3CA</span>
                <span class="delete-x filter-label label label-default">AKT </span>
                <span class="delete-x filter-label label label-default">MTOR</span>
            </div>
        </div>
        <div class="panel-footer">
            <menu class="page-action-group">
                <a class="btn btn-primary" href="{% url 'edit_genes_list' 0 %}"><i class="fa fa-pencil"></i> Edit</a>
                <menuitem class="btn btn-primary"><i class="fa fa-trash"></i> Delete</menuitem>
                <span class="separator"></span>
                <menuitem class="btn btn-default"><i class="fa fa-plus"></i> Start New Workbook</menuitem>
                <a class="btn btn-link pull-right">View System Gene Identifier</a>
            </menu>
        </div>
    </section>
</div>
{% endblock %}

{% block js_file %}{% static 'js/base.js' %}{% endblock %}