{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block title %}Saved Gene & miRNA Favorites | ISB-CGC{% endblock %}}
{% block extra_css_libs %}{% endblock %}
{% block header %}{% endblock %}

{% block link_page_name %}genes_list{% endblock %}
{% block page_name %}genes_list{% endblock %}

{% block page_header %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}">Your Dashboard</a></li>
    </ol>
    <h1 class="page-header pull-left">Saved Gene & miRNA Favorites</h1>
    <a class="btn btn-primary pull-right" href="{% url 'gene_fav_create' %}"><i class="fa fa-plus"></i>Create New Favorite</a></li>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="panel penel-default">
        <div class="panel-body">
            {% if gene_fav_list %}
                {% include "isb_cgc/pagination.html" %}
                <table id="gene-list-table" class="table table-striped tablesorter">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th># of Genes & miRNAs</th>
                            <th>Last Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for genes_fav in gene_fav_list %}
                            <tr class="page-item">
                                <td class="control-col">
                                    <div class="dropdown">
                                        <a data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-caret-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{% url 'gene_fav_edit' genes_fav.id %}">Edit</a></li>
                                            <li><a data-toggle="modal" role="button" data-target="#delete-favorite-modal-{{ genes_fav.id }}" >Delete</a></li>
                                            <li><a data-toggle="modal" role="button" data-target="#new-favorite-workbook-modal-{{ genes_fav.id }}" >Start New Workbook</a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="name-col"><a href="{% url 'gene_fav_detail' genes_fav.id %}" title="{{genes_fav.name|wrap_text}}">{{genes_fav.name}}</a></td>
                                <td>{{genes_fav.genes | length}}</td>
                                <td>{{genes_fav.last_date_saved|date:'M d, Y, g:i a'}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% for genes_fav in gene_fav_list %}
                    {% include "genes/genes_list_modals.html" with favorite=genes_fav %}
                {% endfor %}
            {% else %}
                <br>
                <p class="center">You don't have any gene & miRNA favorites created yet. <br><a href="{% url 'gene_fav_create' %}" class="btn btn-link">Create A Favorite</a></p>
                <br>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block js_file %}
	{{ block.super }}
	<script src="{% static 'js/form_utils.js' %}"></script>
{% endblock %}