<!-- Edit Details Modal -->
<div class="modal fade" id="edit-program-details-modal" tabindex="-1" role="dialog" aria-labelledby="edit-program-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Program Details</h4>
            </div>
            <div class="modal-js-messages" id="edit-program-js-messages">
            </div>
            <form id="edit-program" method="POST" action="{% url 'program_edit' program.id %}">
                {% csrf_token %}
                <div class="modal-body">
                    <label for="share-viz-users">Name (required)</label>
                    <input class="form-control edit-name-field" type="text"  name="name" value="{{ program.name }}" required/>
                    <br>
                    <label for="share-viz-users">Description (optional)</label>
                    <textarea class="form-control edit-desc-field"  name="description">{{program.description }}</textarea>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Update" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Program Modal -->
<div class="modal fade" id="delete-program-modal" tabindex="-1" role="dialog" aria-labelledby="delete-program-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete this Program?</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning alert-dismissable">
                    Deleting this program will not delete underlying Google BigQuery tables or files in Google Cloud Storage. Those must be removed manually.
                </div>
            </div>
            <div class="modal-js-messages" id="delete-program-js-messages-{{ program.id }}">
            </div>
            <form id="delete-program" method="POST" class="program-delete-form" action="{% url 'program_delete' program.id %}" data-redirect="{% url 'programs' %}">
                {% csrf_token %}
                <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% if shared %}
<!-- Remove Program Modal -->
<div class="modal fade" id="remove-program-modal" tabindex="-1" role="dialog" aria-labelledby="remove-program-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Remove Yourself from this Program?</h4>
            </div>
            <form id="remove-program" method="POST" action="{% url 'program_unshare' program.id %}" data-redirect="{% url 'programs' %}">
                {% csrf_token %}
                <div class="modal-footer">
                    <input type="submit" value="Remove" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}

{% if program.owner == request.user %}
<!-- Share Program Modal -->
<div class="modal fade" id="share-program-modal" tabindex="-1" role="dialog" aria-labelledby="share-program-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="share-program-header">Program Sharing</h4>
                <div class="modal-js-messages" id="share-program-js-messages"></div>
                <ul class="nav nav-tabs" data-tabs="tablist">
                    <li class="active"><a class="share" href="#share" data-toggle="tab">Share</a></li>
                    <li><a class="shared-with" href="#shared-with" data-toggle="tab">Shared With</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <form class="tab-pane fade in active" id="share" method="POST" action="{% url 'program_share' program.id %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <p>
                            This will share the web view of the program.  This will not share the underlying Google cloud program
                            and big query data needed if you wish to access this program outside of the website.
                        </p>
                        <label for="share-users">Enter email addresses separated by a comma</label>
                        <textarea class="form-control" id="share_users" name="share_users"></textarea>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Send" class="btn btn-primary" />
                        <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
                <div class="tab-pane fade" id="shared-with">
                    <div class="modal-body">
                        {% if program.shared.count > 0 %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for shared in program.shared.all %}
                                <tr>
                                    <td>
                                        {% if shared.matched_user %}
                                        {{shared.matched_user.first_name}} {{shared.matched_user.last_name}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{shared.email}}
                                    </td>
                                    <td>
                                        {% if program.owner == request.user %}
                                        <a class="remove-shared-user" role="button" data-user-id="{{ shared.matched_user.id }}"><i class="fa fa-times"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p class="center">This program is not currently shared with any users.</p>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
