{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block title %}Program Upload | ISB-CGC{% endblock %}}
{% block extra_css_libs %}{% endblock %}
{% block header %}{% endblock %}

{% block link_page_name %}program_upload{% endblock %}
{% block page_name %}program_upload{% endblock %}

{% block page_header %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Your Dashboard</a></li>
            <li><a href="{% url 'programs' %}">Saved Programs</a></li>
        </ol>
        <h1 class="page-header">Data Upload</h1>
        <div id="unallowed-chars-alert" class="alert alert-warning alert-dismissable" style="display: none;">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            Your <span class="unallowed-fields"></span> contain invalid characters (<span class="unallowed-chars"></span>). Please choose different <span class="unallowed-fields"></span>.
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="error-message-container"></div>
    <!--File upload section-->
    <section class="panel panel-default" id="first-section">
        <ul class="nav nav-tabs" role="tablist">
            <li {% if not existing_proj %}class="active"{% endif %} role="presentation">
                <a aria-controls="program-upload" role="tab" data-toggle="tab" data-target="#program-info" data-value="new">A New Program</a>
            </li>
            <li {% if existing_proj %}class="active"{% endif %} role="presentation">
                <a class="{% if user.program_set.count == 0 %}disabled{% endif %}" aria-controls="program-upload" role="tab" data-value="existing" {% if user.program_set.count > 0 %}data-toggle="tab"{% endif %} data-target="#project-info">A New Project for an Existing Program</a>
            </li>
        </ul>
        <div class="panel-heading"></div>
        <form action="{% url 'program_file_upload' %}" id="base-data-form">
            {% csrf_token %}
            <input type="hidden" id="program-tab" value="{% if existing_proj %}existing{% else %}new{% endif %}">
            <div class="panel-body">
                <section id="program-info" class="collapse {% if not existing_proj %}in{% endif %}">
                    <div class="form-group">
                        <label for="program-name">Program Name</label>
                        <input class="form-control" type="text" name="program-name" id="program-name">
                    </div>
                    <div class="form-group">
                        <label for="program-description">Program Description (Optional)</label>
                        <textarea class="form-control" name="program-description" id="program-description" cols="30" rows="5" maxlength="2048"></textarea>
                    </div>
                </section>
                <section>
                    <div class="form-group collapse {% if existing_proj %}in{% endif %}" id="project-info">
                        <label for="program-name">Program Name</label>
                        <select class="form-control" required id="program-selection">
                            <option value="" disabled hidden {% if not existing_proj and not program_id %} selected {% endif %}>-- Select Program --</option>
                            {% for program in programs %}
                                {% if not program.is_public %}
                                    <option value="{{ program.id }}" {% if existing_proj and program_id and program_id|slugify == program.id|slugify %} selected {% endif %}>{{ program.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="project-name">Project Name</label>
                        <input class="form-control" type="text" name="project-name" id="project-name" required>
                    </div>
                    <div class="form-group">
                        <label for="project-description">Project Description (Optional)</label>
                        <textarea class="form-control" name="project-description" id="project-description" cols="30" rows="5" maxlength="2048"></textarea>
                    </div>
                </section>
                <section id="data-upload-group">
                    <div class="form-group">
                        <label>Data Upload</label>
                        <p>Please refer to the <a href="{% url 'system_data_dict' %}" target="_blank">system data dictionary <i class="fa fa-share-square-o"></i></a> for proper naming and data type conventions.</p>
                        <div class="checkbox">
                            <label>
                                <input class="data-radio" type="radio" name="data" checked value="high"> High level data files
                            </label>
                            <div class="checkbox sub-checkbox">
                                <label>
                                    <input type="checkbox" name="extend" id="high-level-extend"> Extends an existing program's project data
                                </label>
                                <select class="form-control inline-block input-sm" id="high-level-extend-project" disabled>
                                    <option value="" disabled selected hidden>-- Select a Program/Project --</option>
{#                                    <option>All TCGA Data</option>#}
                                    {% for program in programs %}
                                    <optgroup label="{{ program.name }}">
                                    {% for project in program.project_set.all|dictsort:"name" %}
                                        {% if project.active %}
                                        <option value="{{ project.id }}">{{ project.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    </optgroup>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="data-radio" type="radio" name="data" value="low"> Low level files for API access
                            </label>
                        </div>
                    </div>
                    <div class="low-level-message hidden">
                        <p>Please select and upload a file that provides reference to the patient, sample and data files.
                            <a href="http://isb-cancer-genomics-cloud.readthedocs.io/en/latest/sections/webapp/program_data_upload.html" target="_blank">View example</a></p>
                    </div>
                    <div id="data-upload-forms">
                        <button type="button" class="upload-file-button btn btn-primary">Select File(s)</button> <span class="float-right space-top-10"> Click <a href="http://isb-cancer-genomics-cloud.readthedocs.io/en/latest/sections/webapp/program_data_upload.html" target="_blank">here <i class="fa fa-share-square-o"></i></a> to view details of acceptable file types and formatting.</span>
                        <input type="file" class="hidden upload-file-field" multiple>
                        <table class="table table-striped" id="file-list-table">
                            <tr>
                                <th>Name</th>
                                <th class="low-level-hide">Type</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td colspan="3" class="table-message text-center">
                                    No Files Added
                                </td>
                            </tr>
                        </table>
                    </div>
                </section>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary text-right" id="next-btn">Next <i class="fa fa-chevron-right"></i></button>
                <span class="hidden progress-message"><i class="fa fa-spin fa-circle-o-notch"></i> Processing</span>
            </div>
        </form>
    </section>
    <section class="panel panel-default hidden" id="second-section">
        <div class="panel-heading">
            <h3 class="panel-title">Review Files</h3>
        </div>
        <div class="panel-body" id="file-process-list">

            <label for="select-gcp-bucket">Please select a Google Cloud Bucket to upload your files to.</label>
            {% if google_projects and got_bucket %}
            <select id="select-gcp-bucket" name="gcp-bucket" class="form-control">
                {% for google_project in google_projects %}
                {% for bucket in google_project.bucket_set.all %}
                <option value="{{ bucket.id }}">{{ bucket.google_project.project_id }} - {{ bucket.bucket_name }}</option>
                {% endfor %}
                {% endfor %}
            </select>
            {% else %}
                <div class="alert alert-warning alert-dismissable">You must have at least one Google Cloud Bucket registered with the system.</div>
            {% endif %}
            <label for="select-gcp-dataset">Please select a BigQuery dataset to upload your data to.</label>
            {% if google_projects and got_dataset %}
            <select id="select-gcp-dataset" name="gcp-dataset" class="form-control">
                {% for google_project in google_projects %}
                {% for dataset in google_project.bqdataset_set.all %}
                <option value="{{ dataset.id }}">{{ dataset.google_project.project_id }} - {{ dataset.dataset_name }}</option>
                {% endfor %}
                {% endfor %}
            </select>
            {% else %}
                <div class="alert alert-warning alert-dismissable">You must have at least one Google BigQuery Dataset registered with the system.</div>
            {% endif %}

            <hr>
            <p>Please refer to the <a href="{% url 'system_data_dict' %}" target="_blank">system data dictionary <i class="fa fa-share-square-o"></i></a> for proper naming and data type conventions.</p>
        </div>
        <div class="panel-footer">

            <button class="btn btn-primary" id="back-button"><i class="fa fa-chevron-left"></i> Back</button>
            <button class="btn btn-primary" id="upload-button" {% if not got_bucket or not got_dataset %}disabled="disabled"{% endif %}><i class="fa fa-cloud-upload"></i> Upload Data</button>
            <span class="hidden progress-message"><i class="fa fa-spin fa-circle-o-notch"></i> Uploading</span>

        </div>
    </section>
</div>

{% endblock %}

{% block js_file %}{% static 'js/data_upload.js' %}{% endblock %}