{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block title %}Programs | ISB-CGC{% endblock %}}
{% block extra_css_libs %}{% endblock %}
{% block header %}{% endblock %}

{% block link_page_name %}program_list{% endblock %}
{% block page_name %}program_list{% endblock %}

{% block page_header %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}">Your Dashboard</a></li>
    </ol>
    <h1 class="page-header pull-left">Programs</h1>
    <a href="{% url 'program_upload' %}" class="btn btn-primary pull-right"><i class="fa fa-cloud-upload"></i>Upload Data</a>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="panel">
         <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" {% if not is_public %} class="active" {% endif %} >
                <a href="#save-programs-list" aria-controls="save-programs-list" role="tab" data-toggle="tab">Saved Programs</a>
            </li>
            <li role="presentation" {% if is_public %} class="active" {% endif %} >
                <a href="#public-programs-list" aria-controls="public-programs-list" role="tab" data-toggle="tab">Public Programs</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane {% if not is_public %} active {% endif %}" id="save-programs-list">
                {% if programs %}

                <table class="table tablesorter">
                    <thead>
                        <th class="control-col"></th>
                        <th class="name-col">Name</th>
                        <th class="project-col">Projects</th>
                        <th>Ownership</th>
                        <th>Shared with</th>
                        <th>Last Updated</th>
                    </thead>
                    <tbody>
                        {% for program in programs %}
                        <tr class="row-{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" data-program-id="{{ program.id }}">
                            <td class="control-col">
                                <div class="dropdown">
                                    <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-arrow"><i class="fa fa-caret-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'program_detail' program.id %}">Edit</a> </li>
                                        <li><a role="button" data-toggle="modal" data-target="#delete-program-modal-{{ program.id }}">Delete</a></li>
{#                                        <li>#}
{#                                            <a>#}
{#                                                <form action="{% url 'worksheet_create_with_programs' %}" method="POST">#}
{#                                                    {% csrf_token %}#}
{#                                                    <input type="hidden" name="program_id" value="{{ program.id }}">#}
{#                                                    <button type="submit">New Workbook</button>#}
{#                                                </form>#}
{#                                            </a>#}
{#                                            <a href="{% url 'create_with_program' program.id %}">New Workbook</a>#}
{#                                        </li>#}
                                    </ul>
                                    <span class="row-expand-button"></span>
                                </div>
                            </td>
                            <td class="name-col"><a href="{% url 'program_detail' program.id %}">{{ program.name }}</a></td>
                            <td>{{ program.project_set.all|active|length }}</td>
                            <td>{% if program.owner.id == user.id %}
                                You
                            {% else %}
                                {{ program.owner.first_name }} {{ program.owner.last_name }}
                            {% endif %}</td>
                            <td>{% if program.owner.id == user.id %}( {{ program.shared.count }} ){% else %}You{% endif %}</td>
                            <td>{{ program.last_date_saved|date:'M d, Y, g:i a' }}</td>
                        {% for project in program.project_set.all|active %}
                        </tr>
                        <tr class="project hidden" data-program-id="{{ program.id }}">
                            <td class="control-col">
                            </td>
                            <td class="name-col">{{ project.name }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{ project.last_date_saved|date:'M d, Y, g:i a' }}</td>
                        {% endfor %}
                        </tr>

                        <!-- Delete Program Modal For Each Program-->
                        <div class="modal fade" id="delete-program-modal-{{ program.id }}" tabindex="-1" role="dialog" aria-labelledby="delete-program-header" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Delete this Program?</h4>
                                    </div>
                                    <form id="delete-program" method="POST" action="{% url 'program_delete' program.id %}" data-redirect="{% url 'programs' %}">
                                        {% csrf_token %}
                                        <div class="modal-footer">
                                            <input type="submit" value="Delete" class="btn btn-primary" />
                                            <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="center space-top-10">You don't have any saved programs yet</p>
                <p class="center"><a href="{% url 'program_upload' %}" class="btn btn-primary"><i class="fa fa-cloud-upload"></i>Upload Program Data</a></p>
                {% endif %}
            </div>
            <div role="tabpanel" class="tab-pane {% if is_public %} active {% endif %}" id="public-programs-list">
                {% if public_programs %}

                <table class="table tablesorter">
                    <thead>
                        <th class="control-col"></th>
                        <th class="name-col">Name</th>
                        <th class="project-col">Projects</th>
                        <th>Ownership</th>
                        <th>Last Updated</th>
                    </thead>
                    <tbody>
                        {% for program in public_programs %}
                        <tr class="row-{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" data-program-id="{{ program.id }}">
                            <td class="control-col">
                                <span class="row-expand-button"></span>
                            </td>
                            <td class="name-col"><a href="{% url 'program_detail' program.id %}">{{ program.name }}</a></td>
                            <td>{{ program.project_set.count }}</td>
                            <td>ISB</td>
                            <td>{{ program.last_date_saved|date:'M d, Y, g:i a' }}</td>
                        {% for project in program.project_set.all %}
                        </tr>
                        <tr class="project hidden" data-program-id="{{ program.id }}">
                            <td class="control-col">
                            </td>
                            <td class="name-col">
                                {{ project.name }}
                            </td>
                            <td></td>
                            <td></td>
                            <td>{{ project.last_date_saved|date:'M d, Y, g:i a' }}</td>
                        {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="center space-top-10">There are no public programs available at the moment</p>
                {% endif %}
            </div>
        </div>


    </div>
</div>
{% endblock %}

{% block js_file %}
	{{ block.super }}
	<script src="{% static 'js/program_list.js' %}"></script>
{% endblock %}