{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block title %}Project Upload | ISB-CGC{% endblock %}}
{% block extra_css_libs %}{% endblock %}
{% block header %}{% endblock %}

{% block link_page_name %}project_upload{% endblock %}
{% block page_name %}project_upload{% endblock %}

{% block page_header %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Your Dashboard</a></li>
            <li><a href="{% url 'projects' %}">Saved Projects</a></li>
        </ol>
        <h1 class="page-header">Data Upload</h1>
    </div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="error-message-container"></div>
    <section class="">
        <p class="{% if requested %}{% else %}hidden {% endif %}success-message alert alert-success text-center">
            Project request sent successfully
        </p>
        <form class="{% if requested %}hidden{% else %}{% endif %}" action="{% url 'project_request_result' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <p>
                    Data uploading requires that you have a Google Cloud project set up for your account.
                    If you would like to upload your data, please write a description of your work in the
                    space below and submit your request. Once we receive your request we will create the
                    project and email you once the creation is complete.
                </p>
                <textarea class="form-control" name="message" required></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" id="request-project">Request Project</button> <a class="btn btn-link" href="{% url 'projects' %}">Cancel</a>
            </div>
        </form>
    </section>
</div>

{% endblock %}

{% block js_file %}{% static 'js/project_request.js' %}{% endblock %}