{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block title %}Project | ISB-CGC{% endblock %}}
{% block extra_css_libs %}{% endblock %}
{% block header %}{% endblock %}

{% block link_page_name %}project_detail{% endblock %}
{% block page_name %}project_detail{% endblock %}

{% block page_header %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}">Your Dashboard</a></li>
        <li><a href="{% url 'projects' %}">Projects</a></li>
    </ol>
    <h1 class="page-header">{{ project.name }}</h1>
    <p class="project-description">{{ project.description }}</p>
    <ul class="page-action-group">
        <li role="menuitem"><button class="btn btn-default">New Workbook</button></li>
        <li class="separator"></li>
        {% if project.owner.id == user.id %}
        <li role="menuitem"><a href="{% url 'project_upload' %}" class="btn btn-info"><i class="fa fa-cloud-upload"></i>Upload Data</a></li>
        <li role="menuitem"><button class="btn btn-info" data-toggle="modal" data-target="#edit-project-details-modal">Edit Details</button></li>
        <li role="menuitem"><button class="btn btn-info project-delete" data-toggle="modal" data-target="#delete-project-modal">Delete</button></li>
        <li class="separator"></li>
        <li role="menuitem"><button class="btn btn-info" data-toggle="modal" data-target="#share-project-modal">Share</button></li>
        {% elif shared %}
        <li role="menuitem"><button class="btn btn-info" data-toggle="modal" data-target="#remove-project-modal">Remove</button></li>
        <li class="separator"></li>
        {% endif %}
        {% if project.is_public %}
        <li><em>Public Project</em></li>
        {% else %}
        <li role="menuitem"><button class="btn btn-link" data-toggle="modal" data-target="#share-project-modal">Shared with ({{ project.shared.count }})</button></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="error-messages"></div>
        {% for study in studies %}
        <section class="project-study panel panel-primary" data-study-id="{{ study.id }}">
            <div class="panel-heading clearfix">
                <div class="dropdown pull-left">
                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gear"></i></a>
                    <ul class="dropdown-menu">
                        <li role="menuitem"><a href="">New Workbook</a></li>
                        <li role="menuitem"><a data-toggle="modal" data-target="#edit-study-details-modal-{{ study.id }}">Edit Details</a></li>
                        <li role="menuitem"><a data-toggle="modal" data-target="#delete-study-modal-{{ study.id }}" class="study-delete">Delete</a></li>
                    </ul>
                </div>
                <h4 class="panel-title pull-left">{{ study.name }}</h4>
            </div>
            <div class="panel-body">
                {% if study.get_status == 'Processing' %}
                <div class="message message-info alert alert-dismissible fade in">
                    <p>Study Data is currently being processed.</p>
                    <a class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
                {% elif study.get_status == 'Error' %}
                <div class="message message-error alert alert-dismissible fade in">
                    <p>Upload of study data has an error. Please delete the study and re-upload.</p>
                    <a class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
                {% comment "Success message does not yet have technical implementation" %}
                <div class="message message-success alert alert-dismissible fade in">
                    Upload of study data is complete.
                    <a class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
                {% endcomment %}
                {% endif %}
                <p>{{ study.description }}</p>
                <dl>
                    <dt>Created</dt>
                    <dd>{{ study.last_date_saved }}</dd>
                    <dt>Number of Files</dt>
                    <dd>{{ study.get_file_count }}</dd>
                </dl>
            </div>
        </section>
        {% include "projects/study_modals.html" %}
        {% endfor %}

    </div>

    {% include "projects/project_modals.html" %}
{% endblock %}

{% block js_file %}{% static 'js/project_details.js' %}{% endblock %}