{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block title %}Projects | ISB-CGC{% endblock %}}
{% block extra_css_libs %}{% endblock %}
{% block header %}{% endblock %}

{% block link_page_name %}project_list{% endblock %}
{% block page_name %}project_list{% endblock %}

{% block page_header %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}">Your Dashboard</a></li>
    </ol>
    <h1 class="page-header pull-left">Projects</h1>
    <a href="{% url 'project_upload' %}" class="btn btn-primary pull-right"><i class="fa fa-cloud-upload"></i>Upload Data</a>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="panel">
         <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" {% if not is_public %} class="active" {% endif %} >
                <a href="#save-projects-list" aria-controls="save-projects-list" role="tab" data-toggle="tab">Saved Projects</a>
            </li>
            <li role="presentation" {% if is_public %} class="active" {% endif %} >
                <a href="#public-projects-list" aria-controls="public-projects-list" role="tab" data-toggle="tab">Public Projects</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane {% if not is_public %} active {% endif %}" id="save-projects-list">
                {% if projects %}

                <table class="table tablesorter">
                    <thead>
                        <th class="control-col"></th>
                        <th class="name-col">Name</th>
                        <th class="study-col">Studies</th>
                        <th>Ownership</th>
                        <th>Shared with</th>
                        <th>Last Updated</th>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                        <tr class="row-{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" data-project-id="{{ project.id }}">
                            <td class="control-col">
                                <div class="dropdown">
                                    <a data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-arrow"><i class="fa fa-caret-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'project_detail' project.id %}">Edit</a> </li>
                                        <li><a role="button" data-toggle="modal" data-target="#delete-project-modal-{{ project.id }}">Delete</a></li>
                                        <li>
                                            <a>
                                                <form action="{% url 'worksheet_create_with_projects' %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="project_id" value="{{ project.id }}">
                                                    <button type="submit">New Workbook</button>
                                                </form>
                                            </a>
{#                                            <a href="{% url 'create_with_project' project.id %}">New Workbook</a>#}
                                        </li>
                                    </ul>
                                    <span class="row-expand-button"></span>
                                </div>
                            </td>
                            <td class="name-col"><a href="{% url 'project_detail' project.id %}">{{ project.name }}</a></td>
                            <td>{{ project.study_set.all|active|length }}</td>
                            <td>{% if project.owner.id == user.id %}
                                You
                            {% else %}
                                {{ project.owner.first_name }} {{ project.owner.last_name }}
                            {% endif %}</td>
                            <td>({{ project.shared.count }})</td>
                            <td>{{ project.last_date_saved|date:"SHORT_DATETIME_FORMAT" }}</td>
                        {% for study in project.study_set.all|active %}
                        </tr>
                        <tr class="study hidden" data-project-id="{{ project.id }}">
                            <td class="control-col">
                            </td>
                            <td class="name-col">
                                <div class="dropdown">
                                    <a data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-caret-down"></i></a>
                                    {{ study.name }}
                                    <ul class="dropdown-menu">
                                        <li><a href="">New Workbook</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{ study.last_date_saved|date:"SHORT_DATETIME_FORMAT" }}</td>
                        {% endfor %}
                        </tr>

                        <!-- Delete Project Modal For Each Project-->
                        <div class="modal fade" id="delete-project-modal-{{ project.id }}" tabindex="-1" role="dialog" aria-labelledby="delete-project-header" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Delete this Project?</h4>
                                    </div>
                                    <form id="delete-project" method="POST" action="{% url 'project_delete' project.id %}" data-redirect="{% url 'projects' %}">
                                        {% csrf_token %}
                                        <div class="modal-footer">
                                            <input type="submit" value="Delete" class="btn btn-primary" />
                                            <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="center space-top-10">You don't have any saved projects yet</p>
                <p class="center"><a href="{% url 'project_upload' %}" class="btn btn-default"><i class="fa fa-cloud-upload"></i>Upload Project Data</a></p>
                {% endif %}
            </div>
            <div role="tabpanel" class="tab-pane {% if is_public %} active {% endif %}" id="public-projects-list">
                {% if public_projects %}

                <table class="table tablesorter">
                    <thead>
                        <th class="control-col"></th>
                        <th class="name-col">Name</th>
                        <th class="study-col">Studies</th>
                        <th>Ownership</th>
                        <th>Last Updated</th>
                    </thead>
                    <tbody>
                        {% for project in public_projects %}
                        <tr class="row-{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" data-project-id="{{ project.id }}">
                            <td class="control-col">
                                <div class="dropdown">
                                    <a data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-arrow"><i class="fa fa-caret-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="">New Workbook</a></li>
                                    </ul>
                                    <span class="row-expand-button"></span>
                                </div>
                            </td>
                            <td class="name-col"><a href="{% url 'project_detail' project.id %}">{{ project.name }}</a></td>
                            <td>{{ project.study_set.count }}</td>
                            <td>ISB</td>
                            <td>{{ project.last_date_saved|date:"SHORT_DATETIME_FORMAT" }}</td>
                        {% for study in project.study_set.all %}
                        </tr>
                        <tr class="study hidden" data-project-id="{{ project.id }}">
                            <td class="control-col">
                            </td>
                            <td class="name-col">
                                <div class="dropdown">
                                    <a data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-caret-down"></i></a>
                                    {{ study.name }}
                                    <ul class="dropdown-menu">
                                        <li><a href="">New Workbook</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td>{{ study.last_date_saved|date:"SHORT_DATETIME_FORMAT" }}</td>
                        {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="center space-top-10">There are no public projects available at the moment</p>
                {% endif %}
            </div>
        </div>


    </div>
</div>
{% endblock %}

{% block js_file %}{% static 'js/project_list.js' %}{% endblock %}