<!-- Edit Details Modal -->
<div class="modal fade" id="edit-project-details-modal-{{ project.id }}" tabindex="-1" role="dialog" aria-labelledby="edit-project-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Project Details</h4>
            </div>
            <div class="modal-js-messages" id="edit-project-js-messages-{{ project.id }}">
            </div>
            <form id="edit-project-{{ project.id }}" method="POST" class="project-edit-form" action="{% url 'project_edit' program.id project.id %}">
                {% csrf_token %}
                <div class="modal-body">
                    <label for="share-viz-users">Name (required)</label>
                    <input class="form-control edit-name-field" type="text" name="name" value="{{ project.name }}" required/>
                    <br>
                    <label for="share-viz-users">Description (optional)</label>
                    <textarea class="form-control edit-desc-field"  name="description">{{project.description }}</textarea>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Update" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Project Modal -->
<div class="modal fade" id="delete-project-modal-{{ project.id }}" tabindex="-1" role="dialog" aria-labelledby="delete-project-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete this Project?</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning alert-dismissable">
                    Deleting this project will not delete underlying Google BigQuery tables or files in Google Cloud Storage. Those must be removed manually.
                </div>
            </div>
            <div class="modal-js-messages" id="delete-project-js-messages-{{ project.id }}">
            </div>
            <form id="delete-project-{{ project.id }}" method="POST" class="project-delete-form" action="{% url 'project_delete' program.id project.id %}">
                {% csrf_token %}
                <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
