{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block title %}Project Upload | ISB-CGC{% endblock %}}
{% block extra_css_libs %}{% endblock %}
{% block header %}{% endblock %}

{% block link_page_name %}project_upload{% endblock %}
{% block page_name %}project_upload{% endblock %}

{% block page_header %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Your Dashboard</a></li>
            <li><a href="{% url 'projects' %}">Saved Projects</a></li>
        </ol>
        <h1 class="page-header">Data Upload</h1>
    </div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="error-message-container"></div>
    <!--File upload section-->
    <section class="panel panel-default" id="first-section">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active" role="presentation">
                <a aria-controls="project-upload" role="tab" data-toggle="tab" data-target="#project-info" data-value="new">A New Project</a>
            </li>
            <li role="presentation">
                <a class="{% if user.project_set.count == 0 %}disabled{% endif %}" aria-controls="project-upload" role="tab" data-value="existing" {% if user.project_set.count > 0 %}data-toggle="tab"{% endif %} data-target="#study-info">A New Study for an Existing Project</a>
            </li>
        </ul>
        <div class="panel-heading"></div>
        <form action="{% url 'project_file_upload' %}" id="base-data-form">
            {% csrf_token %}
            <input type="hidden" id="project-tab" value="new">
            <div class="panel-body">
                <section id="project-info" class="collapse in">
                    <div class="form-group">
                        <label for="project-name">Project Name</label>
                        <input class="form-control" type="text" name="project-name" id="project-name">
                    </div>
                    <div class="form-group">
                        <label for="project-description">Project Description (Optional)</label>
                        <textarea class="form-control" name="project-description" id="project-description" cols="30" rows="5"></textarea>
                    </div>
                </section>
                <section>
                    <div class="form-group collapse" id="study-info">
                        <select class="form-control" required id="project-selection">
                            <option value="" disabled selected hidden>-- Select Project --</option>
                            {% for project in projects %}
                            <option value="{{ project.id }}">{{ project.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="study-name">Study Name</label>
                        <input class="form-control" type="text" name="study-name" id="study-name" required>
                    </div>
                    <div class="form-group">
                        <label for="study-description">Study Description (Optional)</label>
                        <textarea class="form-control" name="study-description" id="study-description" cols="30" rows="5"></textarea>
                    </div>
                </section>
                <section id="data-upload-group">
                    <div class="form-group">
                        <label>Data Upload</label>
                        <p>Please refer to the <a href="">system data dictionary</a> for proper naming and data type conventions.</p>
                        <div class="checkbox">
                            <label>
                                <input class="data-radio" type="radio" name="data" checked value="high"> High level data files
                            </label>
                            <div class="checkbox sub-checkbox">
                                <label>
                                    <input type="checkbox" name="extend" id="high-level-extend"> Extends an existing project's study data
                                </label>
                                <select class="form-control inline-block input-sm" id="high-level-extend-study" disabled>
                                    <option value="" disabled selected hidden>-- Select a Project/Study --</option>
                                    <option>All TCGA Data</option>
                                    {% for project in projects %}
                                    <optgroup label="{{ project.name }}">
                                    {% for study in project.study_set.all %}
                                        {% if study.active %}
                                        <option value="{{ study.id }}">{{ study.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    </optgroup>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="data-radio" type="radio" name="data" value="low"> Low level files for API access
                            </label>
                        </div>
                    </div>
                    <div class="low-level-message hidden">
                        <p>Please select and upload a file that provides reference to the patient, sample and data files.
                            <a href="#">View example</a></p>
                    </div>
                    <div id="data-upload-forms">
                        <button type="button" class="upload-file-button btn btn-default">Select File(s)</button>
                        <input type="file" class="hidden upload-file-field" multiple>
                        <table class="table table-striped" id="file-list-table">
                            <tr>
                                <th>Name</th>
                                <th class="low-level-hide">Type</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td colspan="3" class="table-message text-center">
                                    No Files Added
                                </td>
                            </tr>
                        </table>
                    </div>
                </section>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary text-right" id="next-btn">Next <i class="fa fa-chevron-right"></i></button>
                <span class="hidden progress-message"><i class="fa fa-spin fa-circle-o-notch"></i> Processing</span>
            </div>
        </form>
    </section>
    <section class="panel panel-default hidden" id="second-section">
        <div class="panel-heading">
            <h3 class="panel-title">Review Files</h3>
        </div>
        <div class="panel-body" id="file-process-list">
            <p>Please refer to the <a href="">system data dictionary</a> for proper naming and data type conventions.</p>
        </div>
        <div class="panel-footer">
            <button class="btn btn-default" id="back-button"><i class="fa fa-chevron-left"></i> Back</button>
            <button class="btn btn-primary" id="upload-button"><i class="fa fa-cloud-upload"></i> Upload Data</button>
            <span class="hidden progress-message"><i class="fa fa-spin fa-circle-o-notch"></i> Uploading</span>
        </div>
    </section>
</div>

{% endblock %}

{% block js_file %}{% static 'js/data_upload.js' %}{% endblock %}