<!-- Edit Details Modal -->
<div class="modal fade" id="edit-study-details-modal-{{ study.id }}" tabindex="-1" role="dialog" aria-labelledby="edit-study-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Study Details</h4>
            </div>
            <form id="edit-study-{{ study.id }}" method="POST" action="{% url 'study_edit' project.id study.id %}">
                {% csrf_token %}
                <div class="modal-body">
                    <label for="share-viz-users">Name (required)</label>
                    <input class="form-control" type="text" name="name" value="{{ study.name }}" required/>
                    <br>
                    <label for="share-viz-users">Description (optional)</label>
                    <textarea class="form-control" name="description">{{study.description }}</textarea>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Update" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Study Modal -->
<div class="modal fade" id="delete-study-modal-{{ study.id }}" tabindex="-1" role="dialog" aria-labelledby="delete-study-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete this Study?</h4>
            </div>
            <form id="delete-study-{{ study.id }}" method="POST" action="{% url 'study_delete' project.id study.id %}">
                {% csrf_token %}
                <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Share Study Modal -->
<div class="modal fade" id="share-study-modal-{{ study.id }}" tabindex="-1" role="dialog" aria-labelledby="delete-study-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <!--<h4 class="modal-title">Study Sharing</h4>-->
                <ul class="nav nav-tabs" data-tabs="tablist">
                    {% if study.owner == request.user %}
                        <li class="active"><a href="#share" data-toggle="tab">Share</a></li>
                    {% endif %}
                    <li ><a href="#shared-with" data-toggle="tab">Shared With</a></li>
                </ul>
            </div>
            <div class="tab-content">
                {% if study.owner == request.user %}
                <form class="tab-pane fade in active" id="share-study-{{ study.id }}" method="POST" action="{% url 'study_share' project.id study.id %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <label for="share-users">Enter email addresses separated by a comma</label>
                        <textarea class="form-control" name="share_users"></textarea>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Send" class="btn btn-primary" />
                        <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
                {% endif %}
                <div class="tab-pane fade" id="shared-study-with-{{ study.id }}">
                    <div class="modal-body">
                        {% if study.shares|length > 0 %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for user in shared_with_users %}
                                <tr>
                                    <td>{{user.first_name}} {{user.last_name}}</td>
                                    <td>{{user.email}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p class="center">This list is empty.</p>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

