<!-- Edit Details Modal -->
<div class="modal fade" id="edit-study-details-modal-{{ study.id }}" tabindex="-1" role="dialog" aria-labelledby="edit-study-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Study Details</h4>
            </div>
            <form id="edit-study-{{ study.id }}" method="POST" action="{% url 'study_edit' project.id study.id %}">
                {% csrf_token %}
                <div class="modal-body">
                    <label for="share-viz-users">Name (required)</label>
                    <input class="form-control" type="text" name="name" value="{{ study.name }}" required/>
                    <br>
                    <label for="share-viz-users">Description (optional)</label>
                    <textarea class="form-control" name="description">{{study.description }}</textarea>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Update" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Study Modal -->
<div class="modal fade" id="delete-study-modal-{{ study.id }}" tabindex="-1" role="dialog" aria-labelledby="delete-study-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete this Study?</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning alert-dismissable">
                    Deleting this study will not delete underlying Google BigQuery tables or files in Google Cloud Storage. Those must be removed manually.
                </div>
            </div>
            <form id="delete-study-{{ study.id }}" method="POST" action="{% url 'study_delete' project.id study.id %}">
                {% csrf_token %}
                <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
