{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block title %}Saved Variable Favorites | ISB-CGC{% endblock %}}
{% block extra_css_libs %}{% endblock %}
{% block header %}{% endblock %}

{% block link_page_name %}variables_select{% endblock %}
{% block page_name %}variables_select{% endblock %}

{% block page_header %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}">Your Dashboard</a></li>
        <li><a href="{% url 'workbooks' %}">Saved Workbooks</a></li>
        {% if workbook %}
            <li><a href="{% url 'worksheet_display' workbook_id=workbook.id worksheet_id=worksheet.id %}">{{ workbook.name }}</a></li>
        {% endif %}
    </ol>
    <h1 class="page-header pull-left">Data Source | Variable Favorites</h1>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="panel penel-default">
        <div class="panel-body">
            <div class="page-action-group" role="menubar">
                <li role="menuitem">
                    {% if workbook %}
                        <button id="addToWorksheet" class="btn btn-primary">Apply to Worksheet</button>
                    {% else %}
                        <button id="addToNewWorksheet" class="btn btn-primary">Apply to New Worksheet</button>
                    {% endif %}
                </li>
                <li role="menuitem">
                    {% if workbook %}
                        <a class="btn btn-primary" href="{% url 'variable_create_for_existing_workbook' workbook.id worksheet.id %}"><i class="fa fa-plus"></i>Apply New Variable List</a>
                    {% else %}
                        <a class="btn btn-primary" href="{% url 'variable_create_for_new_workbook' %}"><i class="fa fa-plus"></i>Apply New Variable List</a>
                    {% endif %}
                </li>
            </div>
            <table class="table table-striped tablesorter">
                <thead>
                    <tr>
                        <td></td>
                        <th>Version</th>
                        <th>Name</th>
                        <th># of Variables</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for variable_fav in variable_list %}
                        <tr></tr>
                            <td class="checkbox-col">
                                {% if not workbook|workbook_matches_varfave:variable_fav %}
                                    <span title="Workbook and Variable Favorite List version must match."><i class="fa fa-times"></i> </span>
                                {% else %}
                                    <input type="checkbox" name="id" value="{{ variable_fav.id }}" title="{{ variable_fav.name }} Checkbox" aria-label="gene-checkbox"/></td>
                                {% endif %}
                            <td>{{ variable_fav.get_readable_version }}</td>
                            {% if workbook %}
                                <td class="name-col"><a href="{% url 'variable_detail_for_existing_workbook' variable_fav.id workbook.id worksheet.id %}">{{variable_fav.name}}</a></td>
                            {% else %}
                                <td class="name-col"><a href="{% url 'variable_detail_for_new_workbook' variable_fav.id %}">{{variable_fav.name}}</a></td>
                            {% endif %}
                            <td>{{variable_fav.variables | length}}</td>
                            <td>{{variable_fav.last_date_saved |date:'M d, Y, g:i a' }}</td>
                        </tr>
                    {% endfor %}
                    <input type="hidden" id="workbook_id" value="{{ workbook.id }}"/>
                    <input type="hidden" id="worksheet_id" value="{{ worksheet.id }}"/>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
</script>
{% endblock %}

{% block js_file %}{% static 'js/variables/variables_select.js' %}{% endblock %}