{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block title %}Variables Favorites | ISB-CGC{% endblock %}}
{% block extra_css_libs %}{% endblock %}
{% block header %}{% endblock %}

{% block link_page_name %}variable_list{% endblock %}
{% block page_name %}variable_list{% endblock %}

{% block page_header %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}">Your Dashboard</a></li>
    </ol>
    <h1 class="page-header pull-left">Saved Variables Favorites</h1>

    <a class="btn btn-primary pull-right" href="{% url 'variable_fav_create' %}"><i class="fa fa-plus"></i>Create New Favorite</a>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <section class="panel panel-default">
        <div class="panel-heading">
            
        </div>
        <div class="panel-body">
            {% if variable_list %}
                {% include "isb_cgc/pagination.html" %}

                <table id="var-list-table" class="table table-stripe tablesorter">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Version</th>
                            <th>Name</th>
                            <th># of Variables</th>
                            <th>Last Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for favorite in variable_list %}
                            <tr class="page-item">
                                <td class="control-col">
                                    <div class="dropdown">
                                        <a data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-caret-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li>{% if favorite.version == 'v2' %}<a href="{% url 'variable_fav_edit' favorite.id %}">Edit</a>
                                                {% else %}<span title="Version 1 Variable lists cannot be edited due to changes in variable names." class="disabled" disabled>Edit</span>{% endif %}</li>
                                            <li><a data-toggle="modal" role="button" data-target="#delete-favorite-modal-{{ favorite.id }}" >Delete</a></li>
                                            <li>{% if favorite.version == 'v2' %}<a data-toggle="modal" role="button" data-target="#new-favorite-workbook-modal-{{ favorite.id }}" >Start New Workbook</a>
                                            {% else %}<span title="Version 1 Variable lists cannot be used to start a new workbook." class="disabled">Start New Workbook</span>{% endif %}</li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="ver-col">{{ favorite.get_readable_version }}</td>
                                <td class="name-col"><a href="{% url 'variable_fav_detail' favorite.id %}" title="{{ favorite.name|wrap_text }}">{{ favorite.name }}</a></td>
                                <td>{{ favorite.variables | length }}</td>
                                <td>{{ favorite.last_date_saved|date:'M d, Y, g:i a'}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% for favorite in variable_list %}
                    {% include "variables/variable_list_modals.html" with favorite=favorite %}
                {% endfor %}
            {% else %}
                <br>
                <p class="center">You don't have any variable favorites created yet. <br><a href="{% url 'variable_fav_create' %}" class="btn btn-link">Create A Variable Favorite</a></p>
                <br>
            {% endif %}
        </div>
    </section>
</div>

{% endblock %}


{% block js_file %}
	{{ block.super }}
	<script src="{% static 'js/form_utils.js' %}"></script>
{% endblock %}