{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block title %}Variable Favorite: {{ variables.name }} | ISB-CGC{% endblock %}}
{% block extra_css_libs %}{% endblock %}
{% block header %}{% endblock %}

{% block link_page_name %}variable_detail{% endblock %}
{% block page_name %}variable_detail{% endblock %}

{% block page_header %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}">Your Dashboard</a></li>
        <li><a href="{% url 'variables' %}">Saved Variable Favorites</a></li>
    </ol>
    <h1 class="page-header">
        Variable Favorite Details
    </h1>

</div>
{% endblock %}
{% block content %}
<div class="container">
    <section class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">{{ variables.name }}</h4>
        </div>
        <div class="panel-body">
            <h5>Selected Variables</h5>
            <ul>
                {% for variable in variables.list  %}
                <li class="delete-x filter-label label label-default">
                    {{ variable.name }}
                </li>
                {% endfor %}
            </ul>
            <div>
                <ul class="page-action-group" role="menubar">
                    {% if not workbook and not new_workbook %}
                        <li><a class="btn btn-info" href="{% url 'variable_fav_edit' variables.id %}"><i class="fa fa-pencil"></i> Edit</a></li>
                        <li><a data-toggle="modal" data-target="#delete-favorite-modal" class="btn btn-info">Delete</a></li>
                    {% endif %}
                    <li role="menuitem">
                        {% if not workbook %}
                            <a data-toggle="modal" data-target="#new-favorite-workbook-modal" class="btn btn-default">Apply to New Workbook</a>
                        {% else %}
                            <form action="{% url 'worksheet_variables_edit' workbook.id worksheet.id %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="variable_list_id" value="{{ variables.id }}">
                                <button class="btn btn-default" type="submit"><i class="fa fa-plus"></i>Apply to Worksheet</button>
                                <a class="btn btn-info"  href="{% url 'variable_select_for_existing_workbook' workbook.id worksheet.id %}">Back</a>
                            </form>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
<!-- Delete variable modal -->
<div class="modal fade" id="delete-favorite-modal" tabindex="-1" role="dialog" aria-labelledby="delete-favorite-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="delete-favorite-header" class="modal-title">Delete this variable favorite "{{ variables.name|title }}"?</h4>
            </div>
            <form id="delete-workbook" method="POST" action="{% url 'variable_fav_delete' variables.id %}">
                {% csrf_token %}
                <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Create new workbook using favorite Modal -->
<div class="modal fade" id="new-favorite-workbook-modal" tabindex="-1" role="dialog" aria-labelledby="edit-workbook-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="edit-workbook-header" class="modal-title">Create a new workbook using the variable favorite "{{ variables.name|title }}"</h4>
            </div>
            <form id="edit-workbook" method="POST" action="{% url 'worksheet_create_with_variables' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <label id="name-label" for="name-input">Name (required)</label>
                    <input id="name-input" class="form-control" type="text" name="name" value="{{ variables.name }} workbook" aria-labelledby="name-label"/>
                    <input type="hidden" name="variable_list_id" value="{{ variables.id }}" />
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Create Workbook" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js_file %}{% static 'js/base.js' %}{% endblock %}