<!-- Delete Variable Favorite Modal -->
<div class="modal fade" id="delete-favorite-modal-{{ favorite.id }}" tabindex="-1" role="dialog" aria-labelledby="delete-var-fave-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-var-fave-header">Delete this variable favorite "{{ favorite.name|title }}"?</h4>
            </div>
            <form id="delete-var-fave" method="POST" action="{% url 'variable_fav_delete' favorite.id %}">
                {% csrf_token %}
                <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Create new workbook using favorite Modal -->
<div class="modal fade new-workbook-modal" id="new-favorite-workbook-modal-{{ favorite.id }}" tabindex="-1" role="dialog" aria-labelledby="edit-workbook-var-fave-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="edit-workbook-var-fave-header">Create a new workbook using the variable favorite "{{ favorite.name|title }}"</h4>
            </div>
            <form class="new-workbook" id="edit-workbook" method="POST" action="{% url 'worksheet_create_with_variables' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div id="unallowed-chars-alert" class="alert alert-warning alert-dismissable unallowed-chars-wb-alert" style="display: none;">
                        <button type="button" class="close" data-hide="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        Your workbook's name contains invalid characters (<span class="unallowed-chars-wb"></span>). Please choose another name.
                    </div>
                    <label for="name-{{ favorite.id }}">Name (required)</label>
                    <input id="name-{{ favorite.id }}" class="form-control new-workbook-name" type="text" name="name" value="{{ favorite.name }} workbook"/>
                    <input type="hidden" name="variable_list_id" value="{{ favorite.id }}" />
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Create Workbook" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>