asgiref==3.8.1
astroid==3.3.6
cachetools==5.5.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==43.0.1
Deprecated==1.2.15
dill==0.3.9
django==4.2.17
django-allauth==0.63.1
django-anymail==12.0
django-cors-headers==4.5.0
django-dotenv==1.4.2
django-finalware==1.0.0
django-otp==1.5.4
django-session-security==2.6.7
djangorestframework==3.14.0
future==0.18.3
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.24.0
google-api-python-client==2.133.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-cloud-appengine-logging==1.5.0
google-cloud-audit-log==0.3.0
google-cloud-bigquery==3.27.0
google-cloud-core==2.4.1
google-cloud-logging==3.11.3
google-cloud-storage==2.17.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
grpc-google-iam-v1==0.13.1
grpcio==1.68.1
grpcio-status==1.68.1
httplib2==0.19.0
idna==3.10
importlib_metadata==8.5.0
isort==5.13.2
jsonschema==2.6.0
mccabe==0.7.0
mysqlclient==2.0.1
oauth2client==3.0.0
oauthlib==3.2.2
opentelemetry-api==1.29.0
packaging==24.2
pexpect==4.0.1
platformdirs==4.3.6
proto-plus==1.25.0
protobuf==5.29.1
ptyprocess==0.7.0
pyasn1==0.4.6
pyasn1_modules==0.4.1
pycparser==2.22
PyJWT==2.4.0
pylint==3.3.2
pyparsing==2.4.7
python-dateutil==2.9.0.post0
python-openid==2.2.5
pytz==2018.4
PyYAML==5.4
requests==2.32.3
requests-oauthlib==0.7.0
responses==0.25.3
rsa==4.7
simplejson==3.8.1
six==1.13.0
smmap==5.0.1
sqlparse==0.5.3
tomli==2.2.1
tomlkit==0.13.2
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.2.3
WebOb==1.5.0
wrapt==1.17.0
zipp==3.21.0
