cryptography==43.0.1
django==3.2.25
django-allauth==0.43.0
django-anymail[mailgun]
django-axes==5.40.0
django-dotenv==1.4.2
django-finalware==1.0.0
django-redis==5.2.0
djangorestframework==3.14.0
django-session-security==2.6.5
future==0.18.3
google-api-python-client==2.133.0
google-cloud-bigquery
google-cloud-logging
google-cloud-pubsub
google-cloud-storage==2.17.0
httplib2==0.19.0
jsonschema==2.6.0
mysqlclient==2.0.1
oauth2client==3.0.0
pexpect==4.0.1
pyasn1==0.4.6
pyjwt==2.4.0
python-openid==2.2.5
pytz==2018.4
PyYAML==5.4
requests==2.32.3
requests-oauthlib==0.7.0
rsa==4.7
simplejson==3.8.1
six==1.13.0
uritemplate==4.1.1
WebOb==1.8.8

# If you are seeing an error about django-debug-toolbar not being installed,
# the problem is almost certainly that your developer .env wasn't found
# django-debug-toolbar should **only** be installed on local developer builds, so do
# not add it to this file.
#
# If you are seeing an error about setuptools, the error is likely in your
# VM's build. Do not correct it with changes to requirements.txt!
