{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block page_header %}
<div class="container">
    <h1 class="page-header">{% trans "Sign In" %}</h1>
</div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
{% if socialaccount.providers  %}
                    <p>{% blocktrans with site.name as site_name %}Please sign in with one
                        of your existing third party accounts. Or, <a href="{{ signup_url }}"><b>sign up</b></a>
                    for an {{site_name}} account and sign in below:{% endblocktrans %}</p>
                </div>
            <div class="panel-body">
                <div class="socialaccount_ballot">
                  <ul class="socialaccount_providers">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                  </ul>
                  <div class="login-or">{% trans 'or' %}</div>
                </div>
            </div>
                {% include "socialaccount/snippets/login_extra.html" %}
{% else %}
                <p>{% blocktrans %}If you have not created an account yet, then please <a href="{{ signup_url }}"><b>sign up</b></a> first.{% endblocktrans %}</p>
            </div>
{% endif %}
            <div class="panel-body">
                <form class="login" method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                  <a class="btn btn-special" href="{{ signup_url }}">{% trans "Sign Up" %}</a>
                  <a class="btn btn-default secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
