{% extends "account/base.html" %}

{% load i18n %}
{% load socialaccount %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}

    <div class="row">
    <div class="col-lg-12">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
        <form class="login" method="POST" action="{% url 'account_login' %}">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a class="btn btn-primary google-sign-in" href="{% provider_login_url 'google' %}">
                        <img class="icon-small" alt="G" src="{%  static 'img/google_icon_sm.png' %}" />
                        <span>Sign in with Google</span>
                    </a>
                </div>
                <div class="panel-body panel-or">
                    <div class="col-lg-5 col-md-5 col-sm-4"><hr /></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 text-center"><h4> OR </h4></div>
                    <div class="col-lg-5 col-md-5 col-sm-4"><hr /></div>
                </div>
                <div class="panel-body idc-login">
                    <h3><img class="icon-small" alt="IDC" src="{%  static 'img/idclogo.png' %}" /> Imaging Data Commons</h3>
                      {% csrf_token %}
                      {{ form.as_p }}
                      {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}
                      <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                      <a class="btn btn-default secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </div>
            </div>
        <div class="panel panel-default">
            <div class="panel-body sign-up">
                <p>
                Don't have an account with IDC? <a href="{{ signup_url }}">{% trans "Sign Up" %}</a>
                </p>
            </div>
        </div>
        </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
    </div>

{% endblock %}
