{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-4 col-md-4 col-sm-1"></div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>{% trans "Change Password" %}</h3>
                    </div>
                    <div class="panel-body">
                        <p>{% trans 'Your password is now changed.' %}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-1"></div>
        </div>
    </div>
{% endblock %}
