{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8 password_set accounts-col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>{% trans "Set Password" %}</h3>
                    </div>
                    <div class="panel-body">
                        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-special" type="submit">{% trans "Set Password" %}</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
        </div>
    </div>
{% endblock %}
