{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-4 col-md-4 col-sm-1"></div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h1>{% trans "Sign Up Closed" %}</h1></div>
                    <div class="panel-body">
                        <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-1"></div>
        </div>
    </div>
{% endblock %}


