{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <h3>{% trans "Verify Your E-mail Address" %}</h3>

    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.{% endblocktrans %}</p>
    <p>If you do not receive the email within a few minutes, check your spam folder. Registration confirmation emails are often flagged as potential spam.</p>
    <p>If the email hasn't arrived and isn't in your spam folder, please contact us for assistance.</p>

{% endblock %}
