{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>{% trans "Verify Your E-mail Address" %}</h3></div>
                    <div class="panel-body">
                        <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.{% endblocktrans %}</p>
                        <p>If you do not receive the email within a few minutes, check your spam folder. Registration confirmation emails are often flagged as potential spam.</p>
                        <p>If the email hasn't arrived and isn't in your spam folder, please contact us for assistance.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
        </div>
    </div>
{% endblock %}
