.btn
  text-transform: capitalize
  &.nocap
    text-transform: none
  overflow: hidden
  position: relative
  i.fa
    padding-right: 5px
    position: relative
  .fa.fa-rotate-90
    padding-right: 0
  &.active
    .fa-cloud-upload
      display: none
    .fa
      padding: 0

.btn__ripple
  width: 24px
  height: 24px
  border-radius: 50%
  background-color: rgba(255, 255, 255, 0.25)
  display: inline-block
  position: absolute
  animation: ripple $transition ease-out

.btn-default
    color: $white !important
    background-color: $isb-warning
    border: 1px solid darken($isb-warning, 8%) !important
    &:hover, &:active, &:focus
        background-color: darken($isb-warning, 8%) !important
        color: $white !important
        border: 1px solid lighten($isb-warning,20%) !important

.btn-link
  font-weight: $regular-font-weight
  &:focus, &:active, &:focus:active, &.active
    outline: transparent

.btn-oval
  border-radius: 50%
  width: 36px
  height: 36px

.btn-symbol
  i.fa
    padding-right: 0

.btn-float
  position: fixed
  width: 60px
  height: 60px

  background-color: rgba(0, 0, 0, 0.25)
  color: #fff
  border-radius: 50px
  border-width: 1px
  border-color: #fff
  border-style: solid
  text-align: center
  box-shadow: 2px 2px 5px #999
  z-index: 99
  &:hover
    background-color: rgba(0, 138, 224, 0.5)
    color: white
  i
    margin-top: 20px
    font-size: 20px

// hamburger button on the menu
.lines-button
  display: inline-block
  padding: $button-size/2 $button-size/4
  transition: .3s
  cursor: pointer
  user-select: none
  border-radius: $button-size/7

  &.collapsed
    .lines
      @include line($button-size, $isb-primary)
      position: relative
      vertical-align: middle

      &:before, &:after
        @include line($button-size, $isb-primary)
        left: 0
        transform-origin: $button-size/14 center

      &:before
        top: $button-size/4
        transform: rotate3d(0,0,1,0)

      &:after
        top: -$button-size/4
        transform: rotate3d(0,0,1,0)

    &:hover
      opacity: 1
      .lines
        &:before
          top: $button-size/3.5
        &:after
          top: -$button-size/3.5

  .lines
    @include line($button-size, transparent)
    position: relative
    vertical-align: middle
    margin-top: -4px

    &:before, &:after
      @include line($button-size, $isb-primary)
      position: absolute
      content: ''
      transform-origin: 50% 50%
      top: 0
      width: $button-size
    &:before
      transform: rotate3d(0,0,1,45deg)
    &:after
      transform: rotate3d(0,0,1,-45deg)

  &:active
    transition: 0
    background: rgba(0,0,0,.1)


