
.dropdown
    &.open > .dropdown-toggle.btn-primary
        background-color: $primary-color-dark
        border-color: $primary-color-dark

    &.dropdown-menu-right
        text-align: right

    .dropdown-toggle:hover
        &.btn-primary
            background-color: $primary-color-dark

    .dropdown-menu
        border-radius: $border-radius-base
        border: none
        box-shadow: $box-shadow
        margin: 0px

        > li > a
            padding: 3px 10px
        i
            text-align: center
            width: 20px
        &.dropdown-menu-right
            > li > a
                text-align: right
    &-header
        padding: 3px 10px