body
  transition: all 0.4s ease-in

.menu-open
  padding-top: 50px
  transition: all 0.4s ease-in

nav, .site-header
  background: $nav-bg
  a
    color: $font-color

.navbar-right
  margin-right: 0

.navbar-link a
  color: $link-color
  &:hover, &:focus
    color: darken($link-color, 10%)

.navbar-item
  display: inline-block
  vertical-align: middle
  padding-right: 5px
  padding-left: 5px

  &__text
    display: inline-block
    font-size: 16px
    vertical-align: middle
    &:hover
      text-decoration: none
    i.fa
      padding: 0 5px

.subnav
  background-color: darken($white, 10%)
  a:hover
    text-decoration: none

  ul, li
    list-style: none
    padding: 0
    margin-bottom: 0

  li
    padding: 10px

  & > ul > li
    display: inline-block
    vertical-align: top
    position: relative
    padding: 15px 25px

    &:hover
      background: darken($white, 15%)

      > .navitem-list, &:hover > ul
        display: block
        position: absolute
        background: darken($white, 15%)
        top: 100%
        left: 0

.menu-item
  position: relative

  .sub-menu
    width: 250px
    padding: 10px 15px
    > li
      padding: 10px 5px
      border-bottom: 1px solid $white

      &:last-child
        border-bottom: none
    .item-list li:hover
      background: darken($white, 20%)

  &.has-drop-down
    > .drop
      display: none
    &:hover > .drop
      display: block

    &__more
      &:after
        @extend %fa
        content: "\f0da" // caret right
        @include vertical-align(absolute)
        right: 15px

      > .drop
        display: none
        position: absolute
        left: 100%
        top: -10px
        padding: 10px
        background: darken($white, 5%)
        width: 250px
      &:hover > .drop
        display: block
