%message-icon
  left: 10px
  top: 8px
  position: absolute

.alert
  border-radius: 1px
  border: 5px solid transparent
  padding: 10px
  .close
      right: 0px
  &.alert-success
      background-color: $bg-color
      border-color: $success-bgcolor-dark
  &.alert-info
      color: $info-color
      background-color: $bg-color
      border-color: $info-bgcolor-dark
  &.alert-warning
      background-color: $bg-color
      border-color: $warning-bgcolor-dark
  &.alert-error
      background-color: $bg-color
      border-color: $danger-bgcolor-dark

.modal-js-messages>.alert
  border-width: 2px
  border-style: solid
  padding: 5px
  margin-bottom: 0
  font-size: 13px

.modal-js-messages
    margin-top: 8px
    min-height: 35px

.message
  margin: 0 -15px 10px -15px
  padding: 5px 15px 5px 30px
  background: darken($white, 5%)
  position: relative
  font-weight: $medium-font-weight

  .close
    right: 10px
    @include vertical-align(absolute)
    font-size: 14px
    font-weight: $regular-font-weight

  &-error
    //background: #f2dede

    &:before
      @extend %fa
      content: "\f071"
      color: #a94442
      @extend %message-icon

  &-success:before
    @extend %fa
    content: "\f00c"
    color: $isb-success
    @extend %message-icon

  &-info:before
    @extend %fa
    @extend %message-icon
    color: $isb-info
    content: "\f06a"
  p
    margin: 0

