{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}

{% block header %}
    <script type="text/javascript" src="{% static 'js/libs/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/d3-tip.js' %}"></script>
{% endblock %}

{% block page_name %}visualizations{% endblock %}

{% block content %}
<h2>{{ request.GET.vis_title }}</h2>


    {% for plot in plots_data %}
    <div class="plot" id="plot-{{ plot.plot_index }}">
        <div class="plot-loader" style="display:none;"><i class="fa fa-spinner fa-spin"></i></div>
        <table class="plot-config vis-config">
            <tr>
                <td><label>Cohort</label></td>
                <td>{{ plot.cohort_name }}</td>
            </tr>
            <tr>
                <td><label>Total Samples</label></td>
                <td><div class="other-data">{{ plot.cohort_length }}</div></td>
            </tr>
            <tr>
                <td><label for="{{ plot.plot_index }}-x-selector">X Axis Feature</label></td>
                <td>
                    <select id="{{ plot.plot_index }}-x-selector" class="x-selector form-control">
                        {% for item in numerical_attributes %}
                            <option value="{{ item }}">{{ friendly_name_map|get_item:item }}</option>
                        {% endfor %}
                        {% for item in categorical_attributes %}
                            <option value="{{ item }}">{{ friendly_name_map|get_item:item }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="{{ plot.plot_index }}-y-selector">Y Axis Feature</label></td>
                <td>
                    <select id="{{ plot.plot_index }}-y-selector" class="y-selector form-control">
                        <option value="none">No Value</option>
                        {% for item in numerical_attributes %}
                            <option value="{{ item }}">{{ friendly_name_map|get_item:item }}</option>
                        {% endfor %}
                        {% for item in categorical_attributes %}
                            <option value="{{ item }}">{{ friendly_name_map|get_item:item }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="{{ plot.plot_index }}-color-selector">Color By Feature</label></td>
                <td>
                    <select id="{{ plot.plot_index }}-color-selector" class="color-selector form-control">
                        {% for item in categorical_attributes %}
                            <option value="{{ item }}">{{ friendly_name_map|get_item:item }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
        <h5 class="selected-points-count">Total Number of Samples Selected: 0</h5>
        <div class="select-toggle">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default active" value="selection">Selection</button>
                <button type="button" class="btn btn-default" value="moving">Move Plot</button>
            </div>
        </div>
        <div class="plot-div"></div>
        <div class="legend"></div>

        <input type="hidden" name="type" value="genecentric" />
        <input type="hidden" name="cohort" value="{{ plot.cohort }}" />
    </div>
    {% endfor %}

    <h5 id="selected-points-count"></h5>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary save-data-modal" data-toggle="modal" data-target="#save-search-modal">
        Save Selected Samples
    </button>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary save-viz-modal inline-block" data-toggle="modal" data-target="#save-viz-modal">
        {% if viz and viz.user.id != request.user.id %}
            Clone Visualization
        {% else %}
            Save Visualizations
        {% endif %}
    </button>

<!-- Modal -->
<div class="modal fade" id="save-search-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Save Search Data Selection</h4>
            </div>
            <form id="save-search" method="POST" action="{% url 'save_search' %}">
                <div class="modal-body">
                    <label for="search-name">Search Name</label>
                    <input type="text" class="form-control" id="search-name" name="name" placeholder="Enter name for saved search">
                    <h5></h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    {% csrf_token %}
                    <input type="submit" value="Save Changes" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="save-viz-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Save Search Data Selection</h4>
            </div>

            <form id="save-viz" method="POST" action="{% url 'saveviz' %}">

                <div class="modal-body">
                    <input name="user_id" type="hidden" value="{{ user.id }}" />
                    <label for="viz-name">Visualization Name</label>
                    <input type="text" class="form-control" id="viz-name" name="name" value="{% if viz|length %}{{ viz.name }}{% else %}{{ request.GET.vis_title }}{% endif %}" />
                </div>
                <div class="modal-footer">
                    {% csrf_token %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    {% if viz and viz.user.id != request.user.id %}
                        <input type="submit" value="Clone Visualization" class="btn btn-primary" />
                    {% else %}
                        <input type="submit" value="Save Visualization" class="btn btn-primary" />
                    {% endif %}
                </div>
            </form>

        </div>
    </div>
</div>

<script type="text/javascript">
var plots_data = {{ plots_data|safe }};
var violin_data = {{ violin_data|safe }};
var friendly_name_map = {{ friendly_name_map|safe }};
var numerical_attributes = {{ numerical_attributes|safe }};
var categorical_attributes = {{ categorical_attributes|safe }};
</script>
{% endblock %}

{% block js_file %}{% static 'js/genecentric.js' %}{% endblock %}