<!-- Duplicate Worksheet Modal -->
<div class="modal fade" id="copy-worksheet-modal-{{ worksheet.id }}" tabindex="-1" role="dialog" aria-labelledby="copy-workbook-body" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <!--<h4 class="modal-title"></h4>-->
            </div>
            <div class="modal-body" id="copy-workbook-body">
                Duplicate this Worksheet "{{ worksheet.name }}"?
            </div>
            <form id="copy-workbook" method="POST" action="{% url 'worksheet_copy' workbook.id worksheet.id %}">
                {% csrf_token %}
                <div class="modal-footer">
                    <input type="submit" value="Duplicate" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Worksheet Modal -->
<div class="modal fade" id="delete-worksheet-modal-{{ worksheet.id }}" tabindex="-1" role="dialog" aria-labelledby="delete-worksheet-body" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <!--<h4 class="modal-title"></h4>-->
            </div>
            <div class="modal-body" id="delete-worksheet-body">
                Delete this Worksheet "{{ worksheet.name }}"?
            </div>
            <form class="delete-worksheet" id="delete-worksheet" method="POST" action="{% url 'worksheet_delete' workbook.id worksheet.id %}">
                {% csrf_token %}
                <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Worksheet Details Modal -->
<div class="modal fade" id="edit-worksheet-details-modal-{{ worksheet.id }}" tabindex="-1" role="dialog" aria-labelledby="edit-worksheet-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="edit-worksheet-header" class="modal-title">Worksheet Details</h4>
            </div>
            <form class="edit-worksheet-details" method="POST" action="{% url 'worksheet_edit' workbook.id worksheet.id %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="unallowed-chars-alert-sheet alert alert-warning alert-dismissable" style="display: none;">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        Your worksheet's <span class="sheet-unallowed"></span> invalid characters (<span class="unallowed-chars-sheet"></span>). Please choose another <span class="sheet-fields"></span>.
                    </div>
                    <label for="edit-sheet-name-{{ worksheet.id }}">Name (required)</label>
                    <input id="edit-sheet-name-{{ worksheet.id }}" class="form-control edit-sheet-name" type="text" name="name" value="{{ worksheet.name }}"/>
                    <br>
                    <label for="edit-sheet-desc-{{ worksheet.id }}">Description (optional, max length is 2000 characters)</label>
                    <textarea id="edit-sheet-desc-{{ worksheet.id }}" class="form-control edit-sheet-desc" name="description" maxlength="2000">{{worksheet.description }}</textarea>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Update" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>