{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block title %}Workbooks | ISB-CGC{% endblock %}}
{% block extra_css_libs %}{% endblock %}
{% block header %}{% endblock %}

{% block link_page_name %}workbook_list{% endblock %}
{% block page_name %}workbook_list{% endblock %}

{% block page_header %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}">Your Dashboard</a></li>
    </ol>
    <h1 class="page-header pull-left">Saved Workbooks</h1>
    <form id="create-workbook" method="POST" action="{% url 'workbook_create' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary pull-right" ><i class="fa fa-plus"></i>Create Workbook</button>
    </form>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            {% if workbooks %}
            <table id="workbook-table" class="table table-striped tablesorter">
                <thead>
                    <th class=""></th>
                    <th>Version and Build</th>
                    <th class="name-col">Name</th>
                    <th class="study-col">Worksheets</th>
                    <th>Ownership</th>
                    <th>Last Updated</th>
                </thead>
                <tbody>
                    {% for workbook in workbooks %}
                        <tr>
                            <td class="control-col">
{#                                {% if workbook.owner.id == user.id %}#}
                                <div class="dropdown">
                                    <a data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-caret-down"></i></a>
                                    <ul class="dropdown-menu">
                                        {% if workbook.owner.id == user.id %}
                                            <li><a data-toggle="modal" data-target="#edit-workbook-details-modal-{{ workbook.id }}">Edit</a></li>
                                            <li><a data-toggle="modal" data-target="#copy-workbook-modal-{{ workbook.id }}">Duplicate</a></li>
                                            <li><a data-toggle="modal" data-target="#delete-workbook-modal-{{ workbook.id }}">Delete</a></li>
                                        {% else  %}
                                            <li><a data-toggle="modal" data-target="#remove-workbook-modal-{{ workbook.id }}">Remove</a></li>
                                            <li><a data-toggle="modal" data-target="#copy-workbook-modal-{{ workbook.id }}">Duplicate</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
{#                                {% endif %}#}
                            </td>
                            <td>{% if workbook.build and workbook.build != 'Legacy' %}Version 2, Build {{ workbook.build }}{% else %}Version 1, Legacy{% endif %}</td>
                            <td class="name-col"><a href="{% url 'workbook_detail' workbook.id %}" title="{{ workbook.name|title|wrap_text }}">{{ workbook.name }}</a></td>
                            <td> {{ workbook.worksheet_set.count }}</td>
                            <td>{% if workbook.owner.id == user.id %}
                                You
                            {% else %}
                                {{ workbook.owner.first_name }} {{ workbook.owner.last_name }}
                            {% endif %}</td>
                            <td> {{ workbook.last_date_saved|date:'M d, Y, g:i a'}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% for workbook in workbooks %}
                {% include 'workbooks/workbook_modals.html' %}
            {% endfor %}
            {% else %}
                <br>
                <p class="center">You don't have any workbooks created yet.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block js_file %}{% static 'js/workbooks_list.js' %}{% endblock %}
