{% if workbook.owner.id == user.id %}
<!-- Edit Details Modal -->
<div class="modal fade edit-workbook-details-modal" id="edit-workbook-details-modal-{{ workbook.id }}" tabindex="-1" role="dialog" aria-labelledby="edit-workbook-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="edit-workbook-header">Workbook Details</h4>
            </div>
            <form class="edit-workbook-details" method="POST" action="{% url 'workbook_edit' workbook.id %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="unallowed-chars-alert-book alert alert-warning alert-dismissable" style="display: none;">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        Your workbook's <span class="book-unallowed"></span> invalid characters (<span class="unallowed-chars-book"></span>). Please choose another <span class="book-fields"></span>.
                    </div>
                    <label for="edit-workbook-name-{{ workbook.id }}">Name (required)</label>
                    <input id="edit-workbook-name-{{ workbook.id }}" class="edit-workbook-name form-control" type="text" name="name" maxlength="2000" value="{{ workbook.name }}" required/>
                    <br />
                    <label for="workbook-build-{{ workbook.id }}">Build</label>
                    <select aria-label="Workbook Build" id="workbook-build-{{ workbook.id }}" name="build" class="form-control workbook-build">
                        <option value="{% if not workbook.build %}legacy{% else %}{{ workbook.build }}{% endif %}"
                                data-plot-version="{% if not workbook.build %}v1{% else %}v2{% endif %}" selected >{% if not workbook.build %}Legacy{% else %}{{ workbook.build }}{% endif %}</option>
                        {% for build in workbook.get_builds %}
                            {% if build != workbook.build %}
                                <option data-plot-version="v2" value="{{ build }}" {% if not workbook.build %}disabled title="Legacy workbooks cannot specify a build value."{% endif %}>{{ build }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <br />
                    <label for="edit-workbook-desc-{{ workbook.id }}">Description (optional, max length is 2000 characters)</label>
                    <textarea id="edit-workbook-desc-{{ workbook.id }}" class="edit-workbook-desc form-control" name="description" maxlength="2000">{{workbook.description }}</textarea>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Update" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Create Worksheet modal-->
{% if workbook.build %}
<div class="modal fade" id="create-worksheet-modal-{{ workbook.id }}" tabindex="-1" aria-labelledby="create-worksheet-header-{{ workbook.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="create-worksheet-header-{{ workbook.id }}">Create New Worksheet</h4>
            </div>
            <form class="create-worksheet-form" id="worksheet_create_form-{{ workbook.id }}" method="POST" action="{% url 'worksheet_create' workbook_id=workbook.id %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="unallowed-chars-alert-sheet alert alert-warning alert-dismissable" style="display: none;">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        Your worksheet's <span class="sheet-unallowed"></span> invalid characters (<span class="unallowed-chars-sheet"></span>). Please choose another <span class="sheet-fields"></span>.
                    </div>
                    <label for="create-sheet-name-{{ workbook.id }}">Name (required)</label>
                    <input id="create-sheet-name-{{ workbook.id }}" type="text" class="form-control create-sheet-name" name="name" value="New Worksheet"/>
                    <br>
                    <label for="create-sheet-desc-{{ workbook.id }}">Description (optional, max length is 2000 characters)</label>
                    <textarea id="create-sheet-desc-{{ workbook.id }}" class="form-control create-sheet-desc" name="description" placeholder="Add a description" maxlength="2000"></textarea>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}

<!-- Delete Workbook Modal -->
<div class="modal fade" id="delete-workbook-modal-{{ workbook.id }}" tabindex="-1" role="dialog" aria-labelledby="delete-workbook-body" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <!--<h4 class="modal-title">Delete Workbook</h4>-->
            </div>
            <div class="modal-body" id="delete-workbook-body">Delete this Workbook?</div>
            <form class="delete-workbook" id="delete-workbook-{{ workbook.id }}" method="POST" action="{% url 'workbook_delete' workbook.id %}">
                {% csrf_token %}
                <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% elif shared %}

<!-- Remove Workbook Modal -->
<div class="ajax-form-modal modal fade" id="remove-workbook-modal-{{ workbook.id }}" tabindex="-1" role="dialog" aria-labelledby="remove-workbook-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="remove-workbook-header">Remove Yourself from this Workbook?</h4>
            </div>
            <form id="remove-workbook-{{ workbook.id }}" method="POST" action="{% url 'sharing_remove' shared.id %}" data-redirect="{% url 'workbooks' %}">
                {% csrf_token %}
                <div class="modal-footer">
                    <input type="submit" value="Remove" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% elif workbook.shared %}

    {% for shared_item in workbook.shared.all %}
        {% if shared_item.matched_user == user %}
        <!-- Remove Workbook Modal -->
        <div class="ajax-form-modal modal fade" id="remove-workbook-modal-{{ workbook.id }}" tabindex="-1" role="dialog" aria-labelledby="remove-workbook-header" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="remove-workbook-header">Remove Yourself from this Workbook?</h4>
                    </div>
                    <form id="remove-workbook-{{ workbook.id }}" method="POST" action="{% url 'sharing_remove' shared_item.id %}" data-redirect="{% url 'workbooks' %}">
                        {% csrf_token %}
                        <div class="modal-footer">
                            <input type="submit" value="Remove" class="btn btn-primary" />
                            <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<!-- Duplicate Workbook Modal -->
{% if workbook.build %}
<div class="modal fade" id="copy-workbook-modal-{{ workbook.id }}" tabindex="-1" role="dialog" aria-labelledby="copy-workbook-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="copy-workbook-header">Duplicate this Workbook?</h4>
            </div>
            <div class="modal-body">
                <p>
                    This will create a copy of the worksheet and reference the cohorts, variables, and gene lists used in the workbook
                    This will not make duplicates of the cohort, variables, and gene lists used in the workbook
                </p>
            </div>
            <form id="copy-workbook-{{ workbook.id }}" method="POST" action="{% url 'workbook_copy' workbook.id %}">
                {% csrf_token %}
                <div class="modal-footer">
                    <input type="submit" value="Duplicate" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}

<!-- Only workbook owners have access to the sharing modal -->
{% if workbook.owner.id == request.user.id %}
    {% if is_shareable %}
    <!-- Share Workbook Modal -->
    <div class="ajax-form-modal share-workbook-modal modal fade" id="share-workbook-modal-{{ workbook.id }}" tabindex="-1" role="dialog" aria-labelledby="share-workbook-header" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!-- If we want to remove this header we must place this ID on another element with text which can describe the dialog to a screen reader -->
                    <h4 class="modal-title" id="share-workbook-header">Workbook Sharing</h4>
                    <div class="modal-js-messages" id="share-modal-js-messages">
                    </div>
                    <ul class="nav nav-tabs" data-tabs="tablist">
                        <li class="active"><a class="share-workbook" href="#share-{{ workbook.id }}" data-toggle="tab">Share</a></li>
                        <li ><a class="shared-with" href="#shared-with-{{ workbook.id }}" data-toggle="tab">Shared With</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <form class="tab-pane share-pane fade in active share-workbook-form" role="tabpanel" data-workbook-id="{{ workbook.id }}" id="share-{{ workbook.id }}" method="" action="">
                        {% csrf_token %}
                        <div class="modal-body">
                            <p>
                                This will share the web view of workbooks.
                            </p>
                            <label for="share-share_users">Enter email addresses separated by a comma</label>
                            <textarea id="share-share_users" class="form-control" name="share_users"></textarea>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" />
                            <button type="button" class="btn btn-link btn-cancel" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                    <div class="tab-pane shared-with-pane fade {% if not workbook.owner == request.user %}active in{% endif %}" role="tabpanel" id="shared-with-{{ workbook.id }}">
                        <div class="modal-body">
                            {% if workbook.shared.count > 0 %}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for shared in workbook.shared.all|active %}
                                    <tr>
                                        <td>
                                            {% if shared.matched_user %}
                                            {{shared.matched_user.first_name}} {{shared.matched_user.last_name}}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{shared.email}}
                                        </td>
                                        <td>
                                            {% if workbook.owner.id == request.user.id %}
                                            <a class="remove-shared-user" role="button" data-shared-id="{{ shared.id }}"><i class="fa fa-times"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <p class="center">This list is empty.</p>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endif %}