{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block title %}Sample Workbooks | ISB-CGC{% endblock %}}
{% block extra_css_libs %}{% endblock %}
{% block header %}{% endblock %}

{% block link_page_name %}workbook_samples{% endblock %}
{% block page_name %}workbook_samples{% endblock %}

{% block page_header %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}">Your Dashboard</a></li>
    </ol>
    <h1 class="page-header pull-left">Sample Workbooks</h1>
    <form id="create-workbook" method="POST" action="{% url 'workbook_create' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary pull-right" ><i class="fa fa-plus"></i>Create Workbook</button>
    </form>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            {% if workbooks %}
            <table class="table table-striped tablesorter">
                <thead>
                    <th class="name-col">Name</th>
                    <th class="study-col">Worksheets</th>
                    <th>Ownership</th>
                    <th>Last Updated</th>
                </thead>
                <tbody>
                    {% for workbook in workbooks %}
                        <tr>
                            <td class="name-col"><a href="{% url 'workbook_detail' workbook.id %}">{{ workbook.name }}</a></td>
                            <td> {{ workbook.worksheet_set.count }}</td>
                            <td> {{ workbook.owner|upper }}</td>
                            <td> {{ workbook.last_date_saved|date:'M d, Y, g:i a'}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>We don't have any sample workbooks yet</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block js_file %}
	{{ block.super }}
	<script src="{% static 'js/workbooks_list.js' %}"></script>
{% endblock %}