{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% load workbook_custom_tags %}

{% block title %}Workbooks | ISB-CGC{% endblock %}
{% block extra_css_libs %}{% endblock %}

{% block header %}
{<link type="text/css" rel="stylesheet" href="{% static 'css/jquery.qtip.min.css' %}" />}
{% endblock %}


{% block link_page_name %}workbook_detail{% endblock %}
{% block page_name %}workbook_detail{% endblock %}

{% block page_header %}
<div class="container">
    <!--Workbook header-->
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}">Your Dashboard</a></li>
        <li><a href="{% url 'workbooks' %}">Saved Workbooks</a></li>
    </ol>
    <h1 class="page-header">{{ workbook.name }}</h1>
    <p class="workbook-ver-display"><span>Version: </span> {% if not workbook.build %}Version 1{% else %}Version 2{% endif %}</p>
    <p class="workbook-build-display" data-plot-version="{% if not workbook.build %}v1{% else %}v2{% endif %}"
       data-build="{% if not workbook.build %}None{% else %}{{ workbook.build }}{% endif %}">
        <span>Build: </span> {% if not workbook.build %}Legacy{% else %}{{ workbook.build }}{% endif %}</p>
    <p>{{ workbook.description }}</p>
    <ul class="page-action-group" role="menubar">
        {% if workbook.owner.id == request.user.id %}
            <li role="menuitem"><button class="btn btn-info" data-toggle="modal" data-target=".edit-workbook-details-modal">Edit Details</button></li>
            <li role="menuitem"><button class="btn btn-info {% if not workbook.build %}disabled{% endif %}" data-toggle="modal" data-target="{% if workbook.build %}#copy-workbook-modal-{{ workbook.id }}{% endif %}">Duplicate</button></li>
            <li role="menuitem"><button class="btn btn-info" data-toggle="modal" data-target="#delete-workbook-modal-{{ workbook.id }}">Delete</button></li>
            <li class="separator"></li>
            {% if is_shareable %}
            <li role="menuitem"><button class="btn btn-info share-modal" data-toggle="modal" data-target="#share-workbook-modal-{{ workbook.id }}">Share</button></li>
            <li role="menuitem"><button class="btn btn-link shared-with" data-toggle="modal" data-target="#share-workbook-modal-{{ workbook.id }}">Shared with (<span class="share-count">{{ workbook.shared.all|shared_active_count }}</span>)</button></li>
            {% else %}
            <li role="menuitem" title="This workbook cannot be shared because you are not the owner of some components (cohort, variable list, gene list)."><button class="btn btn-info disabled">Share</button></li>
            {% endif %}
        {% elif workbook.is_public %}
            {# Is a public workbook #}
            <li><h4>Public Workbook</h4></li>
            <li class="separator"></li>
            <li role="menuitem"><button class="btn btn-info {% if not workbook.build %}disabled{% endif %}" data-toggle="modal" data-target="{% if workbook.build %}#copy-workbook-modal-{{ workbook.id }}{% endif %}">Duplicate</button></li>
        {% else %}
            {# Is a shared workbook #}
            <li><h4>Owner: {{ workbook.owner.first_name }} {{ workbook.owner.last_name }}</h4></li>
            <li class="separator"></li>
            <li role="menuitem"><button class="btn btn-info {% if not workbook.build %}disabled{% endif %}" data-toggle="modal" data-target="{% if workbook.build %}#copy-workbook-modal-{{ workbook.id }}{% endif %}">Duplicate</button></li>
            <li role="menuitem"><button class="btn btn-info" data-toggle="modal" data-target="#remove-workbook-modal-{{ workbook.id }}">Remove</button></li>
        {% endif %}

    </ul>
</div>
{% endblock %}
{% block content %}

<div class="container">
    <div class="panel-invisible" id="worksheets">
         <!-- tabs of worksheets -->
        <ul class="nav nav-tabs_excel" id="worksheets-tabs">
            <!-- for each worksheet in workbook -->
            {% for worksheet in workbook.worksheets %}
                {% if forloop.counter < 6 %}
                    <li class="{% if display_worksheet and display_worksheet.id == worksheet.id %} active {% elif not display_worksheet and forloop.counter == 1 %} active {% endif %}">
                         <a href="#{{ worksheet.id }}" data-toggle="tab" data-toggle-type="worksheet" data-sheet-id="{{ worksheet.id }}" is-loaded="false" title="{{ worksheet.name|wrap_text }}">{{ worksheet.name }}</a>
                         {% if workbook.owner.id == request.user.id %}
                         <div class="dropdown">
                             <a class="dropdown-toggle worksheet-drop" role="button" data-toggle="dropdown"><i class="fa fa-caret-down" ></i></a>

                             <ul class="dropdown-menu">
                                <li role="menuitem"><a data-toggle="modal" role="button" data-target="#edit-worksheet-details-modal-{{ worksheet.id }}">Edit details</a></li>
                                <li role="menuitem"><a data-toggle="modal" role="button" class="{% if not workbook.build %}disabled{% endif %}" data-target="{% if workbook.build %}#copy-worksheet-modal-{{ worksheet.id }}{% endif %}">Duplicate</a></li>
                                {% if workbook.worksheet_set.count > 1 %}
                                    <li role="menuitem"><a data-toggle="modal" role="button" data-target="#delete-worksheet-modal-{{ worksheet.id }}">Delete</a></li>
                                {% endif %}
                             </ul>
                         </div>
                         {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
            {% if workbook.worksheet_set.all|length > 5 %}
                <li class="dropdown" id="more-tabs">
                    <button class="btn btn-symbol" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></button>
                    <ul class="dropdown-menu" id="worksheets-dropdown-menu">
                    {% for worksheet in workbook.worksheet_set.all  %}
                        {% if forloop.counter >= 6 %}
                        <li class="{% if display_worksheet and display_worksheet.id == worksheet.id %} active {% endif %}">
                            <a href="#{{ worksheet.id }}" data-toggle="tab" data-sheet-id="{{ worksheet.id }}">{{ worksheet.name }}</a>
                            <div class="dropdown">
                                <a class="dropdown-toggle worksheet-drop" role="button" data-toggle="dropdown"><i class="fa fa-caret-down" ></i></a>
                                <ul class="dropdown-menu">
                                    <li role="menuitem"><a data-toggle="modal" role="button" data-target="#edit-worksheet-details-modal-{{ worksheet.id }}">Edit details</a></li>
                                    <li role="menuitem"><a data-toggle="modal" role="button" data-target="#copy-worksheet-modal-{{ worksheet.id }}">Duplicate</a></li>
                                    {% if workbook.worksheet_set.count > 1 %}
                                    <li role="menuitem"><a data-toggle="modal" role="button" data-target="#delete-worksheet-modal-{{ worksheet.id }}">Delete</a></li>
                                    {% endif %}
                                </ul>
                             </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </li>
            {% endif %}

            {% if workbook.owner.id == request.user.id and workbook.build %}
            <li>
                <a data-target="#create-worksheet-modal-{{ workbook.id }}" data-toggle="modal"><i class="fa fa-plus"></i></a>
            </li>
            {% endif %}
        </ul>
        <div class="tab-content">
             <!-- for each worksheet in workbook -->
             {% for worksheet in workbook.worksheets %}
                 <div class="worksheet tab-pane fade {% if not display_worksheet and forloop.counter == 1 %} in active{% elif display_worksheet and display_worksheet.id == worksheet.id %} in active {% endif %}" id="{{ worksheet.id }}" is-loaded="false">
                     <!-- worksheet description -->
                     <div class="worksheet-header">
                         <p>{{worksheet.description}}</p>
                        <button class="show-flyout btn btn-primary btn-sm pull-right" title="Show Comments">comments (<span class="comment-count">{{ worksheet.comments | length }}</span>)</button>
                     </div>

                     <div class="worksheet-body">
                        <!-- worksheet data source pane -->
                        <div id="source_pane-{{ worksheet.id }}" class="worksheet-nav">

                            <h4>Source Data</h4>
                            <ul class="list">
                                <li class="list-item">
                                    <div class="list-item__heading">
                                        {% if workbook.owner.id == request.user.id %}
                                        <a href="{% url 'gene_select_for_existing_workbook' workbook.id worksheet.id %}">Genes & miRNAs <i class="fa fa-plus pull-right"></i></a>
                                        {% else %}
                                        <span>Genes & miRNAs </span>
                                        {% endif %}
                                    </div>
                                    {% if worksheet.worksheet_gene_set.count > 0 %}
                                    <ul class="list-item__body">
                                        {% with worksheet.worksheet_gene_set.all|how_many_more:6 as num_more  %}
                                            {% for gene in worksheet.genes %}
                                                {% if forloop.counter0 < 6 %}
                                                    <li class="sublist-item">
                                                        {% if shared %}
                                                            {{ gene.gene }}
                                                        {% else %}
                                                            <form action="{% url 'worksheet_gene_delete' workbook_id=workbook.id worksheet_id=worksheet.id gene_id=gene.id %}" method="POST">
                                                                {% csrf_token %}
                                                                {% if workbook.owner.id == user.id %}
                                                                    <button type="submit" title="Delete" class="workbook-remove-item" aria-label="Remove Gene or miRNA"><i class="fa fa-times-circle"></i></button>
                                                                {% endif %}
                                                                {{ gene.gene }}
                                                            </form>
                                                        {% endif %}
                                                    </li>
                                                {% elif forloop.counter0 >= 6 and num_more > 0 %}
                                                    {% if forloop.counter0 == 6 %}
                                                        <a class="show-more">{{num_more}} more</a>
                                                    {% endif %}
                                                    <li class="extra-values sublist-item">
                                                        {{ gene.gene }}
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endwith %}
                                    </ul>
                                    {% endif %}
                                </li>
                                <li class="list-item">
                                    <div class="list-item__heading">
                                        {% if workbook.owner.id == request.user.id %}
                                        <a href="{% url 'variable_select_for_existing_workbook' workbook.id worksheet.id %}">Variables <i class="fa fa-plus pull-right"></i></a>
                                        {% else %}
                                        <span>Variables </span>
                                        {% endif %}
                                    </div>
                                    {% if worksheet.worksheet_variable_set.count > 0 %}
                                    <ul class="list-item__body">
                                        {% with worksheet.worksheet_variable_set.all|how_many_more:6 as num_more  %}
                                            {% for variable in worksheet.variables %}
                                                {% if forloop.counter0 < 6 %}
                                                    <li class="sublist-item">
                                                        {% if shared %}
                                                            {{ variable.name }}
                                                        {% else %}
                                                            <form action="{% url 'worksheet_variables_delete' workbook_id=workbook.id worksheet_id=worksheet.id variable_id=variable.id %}" method="POST">
                                                                {% csrf_token %}
                                                                {% if workbook.owner.id == user.id %}
                                                                    <button type="submit" title="Delete" class="workbook-remove-item" aria-label="Remove Variable"><i class="fa fa-times-circle"></i></button>
                                                                {% endif %}
                                                                {{ variable.name }}
                                                            </form>
                                                        {% endif %}
                                                    </li>
                                                {% elif forloop.counter0 >= 6 and num_more > 0 %}
                                                    {% if forloop.counter0 == 6 %}
                                                        <a class="show-more">{{num_more}} more</a>
                                                    {% endif %}
                                                    <li class="extra-values sublist-item">
                                                        {{ variable.name }}
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endwith %}
                                    </ul>
                                    {% endif %}
                                </li>
                                <li class="list-item">
                                    <div class="list-item__heading">
                                        {% if workbook.owner.id == request.user.id %}
                                        <a href="{% url 'cohort_select_for_existing_workbook' workbook.id worksheet.id %}">Cohorts <i class="fa fa-plus pull-right"></i></a>
                                        {% else %}
                                        <span>Cohorts </span>
                                        {% endif %}
                                    </div>
                                    {% if worksheet.worksheet_cohort_set.count > 0 %}
                                    <ul class="list-item__body">
                                        {% with worksheet.worksheet_cohort_set.all|active:'cohort'|how_many_more:6 as num_more  %}
                                            {% for wsch in worksheet.worksheet_cohort_set.all|active:'cohort' %}
                                                {% with wsch.cohort as cohort %}
                                                {% if forloop.counter0 < 6 %}
                                                    <li class="sublist-item">
                                                        {% if workbook.owner.id == user.id %}
                                                            <form action="{% url 'remove_cohort_from_worksheet' workbook_id=workbook.id worksheet_id=worksheet.id cohort_id=cohort.id %}" method="POST">
                                                                {% csrf_token %}
                                                                <button type="submit" title="Delete" class="workbook-remove-item" aria-label="Remove Cohort"><i class="fa fa-times-circle"></i></button>
                                                        {% endif %}
                                                        {% if cohort|get_cohort_perm:request %}
                                                            <a href="{% url 'cohort_details' cohort.id %}">{{ cohort.name }}</a>
                                                        {% else %}
                                                            <span title="You do not have permission to view this cohort.">{{ cohort.name }}</span>
                                                        {% endif %}
                                                        {% if workbook.owner.id == user.id %}
                                                            </form>
                                                        {% endif %}
                                                    </li>
                                                {% elif forloop.counter0 >= 6 and num_more > 0 %}
                                                    {% if forloop.counter0 == 6 %}
                                                    <a class="show-more">{{num_more}} more</a>
                                                    {% endif %}
                                                    <li class="extra-values sublist-item">
                                                        {% if cohort|get_cohort_perm:request %}
                                                            <a href="{% url 'cohort_details' cohort.id %}">{{ cohort.name }}</a>
                                                        {% else %}
                                                            <span title="You do not have permission to view this cohort.">{{ cohort.name }}</span>
                                                        {% endif %}
                                                    </li>
                                                {% endif %}
                                                {% endwith %}
                                            {% endfor %}
                                            {% if num_more > 0 %}
                                                <a class="show-less" style="display:none;">Show Less</a>
                                            {% endif %}
                                        {% endwith %}
                                    </ul>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                        <!-- end worksheet data source section -->

                        <!-- worksheet analysis section -->
                        <div class="worksheet-content">
                            <div class="worksheet-nav-toggle">
                                <a class="fa fa-caret-left"></a>
                                <a class="fa fa-caret-right"></a>
                            </div>
                            {% if workbook.owner.id == user.id %}
                                <label>Analysis Type</label>
                                <a style="margin-left: 5px;" href="{% url 'sample_analyses' %}" target="_blank">
                                    <i class="fa fa-angle-double-right fa-fw" aria-hidden="true"></i>Learn more about our available Analyses
                                </a>
                                <div class="form-group">
                                    <select aria-label="Analysis Type" id="{{ worksheet.id }}-analysis-type" worksheet_id="{{ worksheet.id }}" class="form-control plot_selection">
                                        {% if worksheet.active_plot %}
                                            <option value="{{ worksheet.active_plot.type }}" selected >{{ worksheet.active_plot.type }}</option>
                                        {% else %}
                                            <option disabled selected value="" type="label">-- select an analysis --</option>
                                        {% endif %}
                                        {% for plot in plot_types %}
                                            {% if not worksheet.active_plot or plot.name != worksheet.active_plot.type %}
                                                <option value="{{ plot.name }}">{{ plot.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div id="log-scale-alert" class="alert alert-warning alert-dismissable" style="display: none;">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    No valid domain was found for use of a log scale - this could mean no non-zero data was found, or, the data contained both negative and positive values.
                                    The scale has been changed back to linear.
                                </div>
                                <div class="plot-container">
                                    {% include 'workbooks/workbook_plot.html' with plot=worksheet.active_plot datatype_list=datatypes genes=worksheet.genes variables=worksheet.variables cohorts=worksheet.cohorts %}
                                    <!-- plot needs to indicate saved plot data such as selected variables, cohorts, title, etc -->
                                    <!-- workbook_plot also needs to have reference to all worksheet cohorts, variables and genes -->
                                </div>
                            {% elif worksheet.active_plot %}
                                <h5>Analysis Type</h5>
                                <div class="form-group">
                                    <select worksheet_id="{{ worksheet.id }}" disabled class="form-control plot_selection">
                                        <option value="{{ worksheet.active_plot.type }}" selected >{{ worksheet.active_plot.type }}</option>
                                    </select>
                                </div>
                                <div class="plot-container">
                                    {% include 'workbooks/workbook_plot.html' with plot=worksheet.active_plot datatype_list=datatypes genes=worksheet.genes variables=worksheet.variables cohorts=worksheet.cohorts %}
                                    <!-- plot needs to indicate saved plot data such as selected variables, cohorts, title, etc -->
                                    <!-- workbook_plot also needs to have reference to all worksheet cohorts, variables and genes -->
                                </div>
                            {% else %}
                                <div class="plot-container">
                                    <div class="message message-info alert fade in">
                                        <p>No Analysis Available</p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <!-- end worksheet analysis section -->
                     </div>
                     <!-- worksheet comment section -->
                        <div class="fly-out comment-flyout comments">
                            <div class="flyout-heading">
                                <h4>Comments <a role="button" class="hide-flyout" aria-label="Hide Flyout"><i class="fa fa-times"></i></a></h4>
                            </div>
                            <div class="flyout-body">
                                {% for comment in worksheet.comments %}
                                    <h5 class="comment-username">{{ comment.user.first_name }} {{ comment.user.last_name }}</h5>
                                    <p class="comment-content">{{ comment.content }}</p>
                                    <p class="comment-date">{{ comment.date_created }}</p>
                                {% endfor %}
                            </div>
                            <div class="flyout-footer">
                                <form class="add_worksheet_comment_form">
                                    {% csrf_token %}
                                    <div id="unallowed-chars-alert-comment" class="alert alert-warning alert-dismissable" style="display: none;">
                                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        Your comment contains invalid characters (<span id="unallowed-chars-comment"></span>). Please adjust the content accordingly.
                                    </div>
                                    <label for="comment-content">Add Comment (1000 character limit)</label>
                                    <textarea id="comment-content" class="comment-textarea form-control space-bottom-10" name="content" maxlength="1000"></textarea>
                                    <button class="btn btn-primary save-comment-btn" type="submit">Comment</button>
                                    <input type="hidden" id="workbook_id_input" value="{{ workbook.id }}"/>
                                    <input type="hidden" id="worksheet_id_input" value="{{ worksheet.id }}"/>
                                </form>
                            </div>
                         </div>
                         <!-- end worksheet comment section -->
                     {% include "workbooks/worksheet_modals.html" with worksheet=worksheet %}
                </div>
             {% endfor %}
        </div><!-- end content -->
    </div>
</div>

{% include "workbooks/workbook_modals.html" %}

<script type="text/javascript">
    var base_url            = '{{ BASE_URL|safe }}';
    var display_worksheet_id    = '{{ display_worksheet.id|safe }}';
    var workbook_id             = '{{ workbook.id }}';
</script>

{% endblock content %}
{% block js_file %}
	{{ block.super }}
	<script src="{% static 'js/workbooks.js' %}"></script>
{% endblock %}
