#analysis-body
  li
    width: 22%
    margin: 0 1.5%
    float: left
    text-align: center

.table-list li
  .list-main
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    &.col-3
      width: 48%
    p,h5
      overflow: inherit
      text-overflow: inherit
  .list-info
    &.col-3
      width: 28%
  .list-link
    width: 20%
    display: inline-block
    padding-left: 10px

section
  h3
    display: inline-block
  .min-max
    float: right
    display: inline-block
    i
      font-weight: 700
      font-size: 18px

.min-max
  a
    &:hover, &:focus
      text-decoration: none