/********************************************
 * Landing Page Styles
 *******************************************/

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin,latin-ext")
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700&subset=latin,latin-ext")

html
    scroll-behavior: smooth
#landing
    .landing-content-div
        position: absolute
        top: 57px
        left: 0
        width: 100%
        .container
            .header-div
                min-height: 650px
                height: 100vh
                .header-content-div
                    position: relative
                    top: 45%
                    transform: translateY(-45%)
                    a
                        color: $isb-lighter
                    .lj-title h1
                        font-family: 'Montserrat'
                        font-size: 3.8em
                        font-weight: 300
                        color: #fff
                        margin: 0
                        word-wrap: break-word

                    .lj-text-center
                        text-align: center

                    .lj-title span
                        color: #4cc2d6
                        font-weight: 700

                    .lj-title-paragraph
                        padding: 30px
                        p
                            color: #fff
                            font-size: 1.5em
                    .lj-header-vid
                        text-align: right
                        &.custom-width-55
                            width: 55%
                        .carousel
                            float: right
                            width: 320px
                            height: 240px
                            .carousel-control-button
                                height: 42px
                                width: 42px
                                line-height: 38px
                                position: absolute
                                top: 50%
                                border-radius: 50%
                                border: 2px solid white
                                transform: translateY(-50%)
                                color: white
                                background-color: rgba(0,0,0,.5)
                                i
                                    width: 38px
                            .left, .right
                                background-image: none
                            .tutorial-vid
                                width: 320px
                                height: 240px
                            .carousel-indicators
                                bottom: -20px

                .lj-header-button
                    text-align: left
                    margin-top: 2px
                    a
                        display: inline-block
                        color: #fff
                        text-align: center
                        background-color: transparent
                        font-family: 'Montserrat'
                        font-weight: 700
                        padding: 8px 10px
                        border: 2px solid #4cc2d6
                        -webkit-border-radius: 3px
                        -moz-border-radius: 3px
                        border-radius: 3px
                        width: 200px
                        text-decoration: none
                        &:hover
                            color: #fff
                            background-color: darken($isb-primary, 10%)
                            border: 2px solid #4cc2d6
                    &.custom-width-45
                        width: 45%
            .about-content-div
                position: relative
                padding-top: 100px
                padding-bottom: 100px
                left: 0
                h2
                    font-size: 25px
                    color: $isb-primary
                p
                    color: darken($isb-dark, 10%)

        .lj-overlay
            width: 100%
            height: 100vh
            min-height: 650px
            position: absolute
            top: 0
            left: 0
        .lj-overlay-bg
            background-image: url('../img/bg.jpg')
            background-size: cover
        .lj-overlay-image
            background-image: url('../img/lines.png')
            background-repeat: repeat
        .lj-overlay-color
            background-color: rgba(0,0,0,0.5)


    .footer
        color: white
        margin-top: 50px
        text-align: center
        font-size: 1.1em

    .cite-text
        background-color: lighten(grey, 40%)
        color: darken($isb-dark, 10%)
        font-size: 0.9em
        border-radius: 5px
        border-width: 1px
        border-color: grey
        padding: 5px

    .pull-down-button
        width: 100%
        text-align: center
        margin-top: 20px
        display: block
        font-weight: bold
        text-align: center
        font-size: 24px
        i
            color: white
            padding: 8px
            width: 50px
            height: 50px
            background-color: rgba(0,0,0,0.5)
            border-radius: 50%
            border: 2px solid #4cc2d6
            &:hover
                background-color: darken($isb-primary, 10%)

#privacy
    h2
        font-size: 20px
        margin-top: 20px
    h3
        font-size: 18px
    ul
        margin-left: 20px
        list-style: circle
        margin-bottom: 10px
    a
        font-weight: bold