#video-tutorials
    li
        padding: 10px 50px
        margin: 5px auto
        background-color: $bg-color
        iframe
            float: left
            width: 640px
            height: 365px
        .vid-text
            margin-left: 680px
            height: 365px