.worksheet
  position: relative
  overflow: hidden
  margin: 0 -10px -5px -10px

  .resubmit-button
    margin-top: 10px

  .panel.plot
    box-shadow: none
    margin: 0
    overflow-y: auto
    overflow-x: hidden

  .panel-heading, .panel-footing
    div
      padding: 5px
    .bq-tables
      margin: 0 10px
      .bq-tables-header
      ul
        background-color: $bg-color
        border-radius: 3px
        padding: 7px 10px
        li
          text-overflow: ellipsis
          overflow: hidden
          white-space: nowrap
    .options-bar
      float: left
      width: 50%
      margin-bottom: 10px
    .alert
      clear: both

  .fly-out
    position: absolute
    visibility: hidden
    top: 16px
    border: none
    border-left: 1px solid darken($white, 15%)
    width: 250px
    min-height: 1200px
    &.comment-flyout
      [class*='flyout-']
        position: relative
      .flyout-body
        height: 350px
        top: 0
        bottom: 0
    &.open
      visibility: visible

  &-header
    @extend %clearfix
    padding: 10px 15px

  &-body
    @extend %clearfix
    border-top: 1px solid darken($white, 10%)

  &-nav
    padding: 10px 15px
    float: left
    width: 20%
    background: darken($white, 8%)
    min-height: 1200px
    max-height: 1200px
    position: relative
    transition: width 0.45s ease-in-out
    *
      opacity: 1
      transition: opacity 0.45s ease-in-out

    &.closed
      width: 0
      transition: width 0.45s ease-in-out
      overflow-x: hidden
      overflow-y: hidden
      *
        opacity: 0
        z-index: -1
        overflow-x: hidden
        transition: opacity 0.45s ease-in-out

    &-toggle
      background-color: $white
      position: absolute
      left: -16px
      top: 5px
      border-bottom:
      cursor: pointer

      &:after
        content: ''
        width: 0
        height: 0
        border-style: solid
        border-width: 0 16px 12px 0
        border-color: transparent rgba(0,0,0,0.1) transparent transparent
        position: absolute
        top: 100%
        right: 0
      a
        display: block
        width: 16px
        height: 24px
        padding: 5px
        &:hover
          text-decoration: none

      .fa-caret-right
        display: none

      &.open
        .fa-caret-right
          display: inline-block
        .fa-caret-left
          display: none

    h4
      color: $isb-primary

    .list
      width: 100%
      .sublist-item
        padding-left: 10px
        padding-top: 3px
        &:hover
          background-color: darken($white, 20%)
          border-width: 1px
          border-radius: 5px
          .workbook-remove-item
            visibility: visible

    .list-item__heading
      font-size: $font-size
      font-weight: $bold-font-weight
      i
        font-size: $font-size-small
        font-weight: $regular-font-weight
        opacity: 0.8
        margin-top: 5px

    .workbook-remove-item
      visibility: hidden
      border: none
      background: none
      float: right
      &:hover
        color: #a94442

  &-content
    float: left
    width: 80%
    padding: 10px 15px
    position: relative
    transition: width 0.45s ease-in-out

    &.open
      width: calc(100% - 40px)
      transition: width 0.45s ease-in-out

  ul.no-bullet
    list-style: none
    margin-left: -15px
    li.plot-ready-check
      &:before
        font-family: FontAwesome
        content: '\f18e'
        display: inline-block
        width: 12px
        color: #ce7907
      &.check-off:before
        content: '\f05d'
        color: #3c763d



  .alert-dismissable
    margin-top: 8px

.workbook-build
  width: 100px
  margin-bottom: 15px
  height: 28px
  padding: 2px 5px

.workbook-build-display, .workbook-ver-display
  font-size: 16px
  span
    font-weight: 600
