<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Join the ISB-CGC Community!</title>
</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
    <table align="center" cellpadding="10" cellspacing="0" width="800" style="background-color:#F8F8F8;height:100%;font-family: Barlow, Arial, sans-serif;">
        <tr>
            <td bgcolor="#006EFF" style="padding: 40px 10px 30px 10px;">
                <a target="_blank" rel="noreferrer" href="https://www.isb-cgc.org">
                    <img src="https://storage.googleapis.com/webapp-prod-static-files/static/img/isblogo.png" alt="Join the ISB-CGC Community!" width="100" height="100"/>
                </a>
                <span style="font-size: 24px;font-weight: bold;color: white;">Join the ISB-CGC Community!</span>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">
                <table>
                    <tr>
                        <td></td>
                        <td style="font-size:20px;color:#3d3d3d;margin-left:15px;min-width:280px;max-width:920px;width:90%;background-color:#FFFFFF;border:0;">
                            <p>
                                Dear {{ firstName}} {{ lastName }},
                            </p>
                            <p>
                                ISB-CGC is funded by the National Cancer Institute (NCI) to provide cloud-based tools
                                and data to the
                                cancer research community.
                            </p>
                            <p>
                                Your feedback is important to the NCI and us.
                                <br>
                                Please help us by filling out this form:
                            </p>
                            <div align="center">
                                <a href="{{ formLink }}" target="_blank" rel="noreferrer" style="display:block;width:265px;height:25px;background:#008CBA;text-decoration:none;padding:8px 24px;text-align:center;border-radius:4px;color:white;font-weight:bold;">
                                    Take me to the Survey
                                </a>
                            </div>
                            <p>
                                Thank you.
                            </p>
                            <p>
                                ISB-CGC team
                            </p>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-size: 12px;color: white;" bgcolor="#002664" align="right">
                © ISB · 2020 · All Rights Reserved
            </td>
        </tr>
    </table>

</body>
</html>
