/********************************
 ** FILE: base.css
 ********************************/
body {
  margin: 0;
  /*padding: 13px 0;*/
  font-family:nyt-franklin,nyt-franklin-1,'Helvetica Neue',Arial,sans-serif;
  /*font-weight:400;*/
  /*font-size:11px;*/
  /*line-height:13px;*/
  color:#333
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #000;
}



/* Structure */
.cancer {
  font-family: Arial;
}
#cancer-chartFrame{
  width: 970px;
  height: 850px;
  /*margin-left: 50px;*/
  -webkit-transition: height ease-in-out 1s;  
  -moz-transition: height ease-in-out 1s;    
  -o-transition: height ease-in-out 1s;    
  -ms-transition: height ease-in-out 1s;        
}


#cancer-chart {
  position: relative;
  width: 100%;
  height: 100%;
}
#cancer-error {
  
  
}
#cancer-error p {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin: 10px;
  border: solid 1px #CCC;
  background: #ffd;
  padding: 10px;
  
}

#cancer-error a {
  text-decoration: underline;
}

#cancer-chartCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}
#cancer-chartCanvas svg {
  height: 100%;
  overflow: hidden;
}

#search-tooltipContainer {
  position: absolute;
  bottom: 0;
  width: 100px;
  left: 0px;
  font-size: 12px;
  line-height: 16px;
  padding: 10px;
  border-radius: 13px;
  background: rgba(255,255,255,0.9);
  color: #000;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);  
  border:1px solid rgba(200,200,200,0.85);
  text-align:center;
}

#cancer-tooltipContainer {
  position: absolute;
  bottom: 0;
  width: 230px;
  left: -125px;
  font-size: 12px;
  line-height: 16px;
  padding: 10px;
  border-radius: 13px;
  background: rgba(255,255,255,0.9);
  color: #000;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);  
  border:1px solid rgba(200,200,200,0.85);
  text-align:center;
}

#cancer-tooltip {
 text-align:center;  
  z-index: 1000;
  position: absolute;
  display: none;
}

#cancer-tooltip .cancer-country {
  text-transform: uppercase;
  text-align: left;
  font-size: 10px;
  margin-bottom: 2px;
  color:#666;
  text-align:center;  

}
#cancer-tooltip .cancer-rule{
  height:1px;
  margin:1px auto 3px;
  background:#ddd;
  width:130px;
}

#cancer-tooltip .cancer-gender{
  color:#666;
/*   text-transform:uppercase;*/
  font-size: 11px;   
  text-align:center;  
  font-style:italic;
}
#cancer-tooltip .cancer-name {
  text-align: left;
  font-size: 13px;
/*  width:170px;*/
 text-align:center;  
}
#cancer-tooltip .cancer-value {
/*  position:absolute;*/
 text-align:center;
  right:10px;
  top:28px;
  font-size: 16px;
/*  width:100px;*/
 text-align:center;  
  overflow:hidden;
  font-weight:bold;
}
#cancer-tooltip .cancer-change {
  padding-left:10px;
/*  width:110px;  */
  font-size: 16px;  
  text-align:right;  
  overflow:hidden;
/*  position:absolute;*/
  font-weight:bold;  
  color:#666;
 text-align:center;  
 display:inline;
}
#cancer-tooltip .cancer-valuesContainer {
  padding-top:7px;
  
}
#cancer-tooltip.cancer-minus .cancer-change{
  color:#900;
}
#cancer-tooltip.cancer-plus .cancer-change{
  color:#090;
}

/* Navigation */
.cancer-navBar {
  /*border-top: solid 1px #DDD;*/
  padding: 15px 0 0;
  margin: 0 10px;
  z-index: 100;
  position: absolute;
  width: 950px;
}


.cancer-navigation {
  
}

ul {
  list-style-type: none;
  padding:0;
  margin:0;
}
.cancer-navigation li {
  color: #999;
  font-size: 14px;
  cursor: pointer;
  float: left;
  padding: 10px 18px;
  border-top: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
  border-left: solid 1px #CCC;
  background: #f9f9f9;
  margin: 0 0;
}

.cancer-navigation li:first-of-type{
  border-radius: 4px 0 0 4px;
}
.cancer-navigation li:last-of-type{

  border-right: solid 1px #CCC;
  border-radius: 0 4px 4px 0;
}
.cancer-navigation li.selected {
  color: #000;
  background: #e9e9e9;
  border-color: #AAA;
  box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
}


/*Category List*/
#cancer-categoryBrowser li{
  cursor: pointer;
  background-image: none;
  background-color: none;
  border-bottom: solid 1px #f0f0f0;
  padding: 3px;
  margin: 0 0 1px 0;
}
#cancer-categoryBrowser li:hover {
  background-color: #f3f3f3;
}

