.viewer-toggle {
    display: inline;
}

.viewer-toggle .viewer-menu {
    border: 1px solid lightgray;
    border-radius: 5px;
    min-width: 100px;
}

.viewer-toggle a.dropdown-toggle {
    padding: 10px;
}

.viewer-toggle .viewer-menu a:hover {
    background-color: #d5d5d5;
}

.export-button:hover, .btnGroupDropViewers:hover {
    cursor: pointer;
}

.cart-filter-display {
    margin-bottom: 8px;
}

.filter-type, .adjustment-type {
    color: #a66206;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.filter-att{
    background-color: #2A537A;
    border-radius: 3px;
    display: inline-block;
    color: #F8F8F8;
    padding: 2px;
    margin: 0 3px 3px 3px
}

.filter-title, .adjustments-op {
    font-weight: bold;
}

.adjustment-att {
    color: #2A537A;
    font-weight: bold;
    display: inline-block;
}

.cart-def-list {
    margin-bottom: 15px;
    padding-bottom: 9px;
}

.cart-def-list:not(:last-child) {
    border-bottom: 2px solid black;
}

.citations-button .fa-quote-left,.citations-button .fa-quote-right {
    position: relative;
    font-size: xx-small;
}

.citations-button .fa-quote-left {
    top: -5px;
    margin-left: 2px;
}

.citations-button .fa-quote-right {
    top: 2px;
    margin-left: -1px;
}