.content-container {
    margin-left: 20px;
    margin-right: 20px;
    width: 98vw;
}


/*.grid-container {*/
/*    display: flex;*/
/*    width: 100%;*/
/*    !*align-items: stretch;*!*/
/*    border: solid black;*/
/*}*/

/*.grid-container {*/
/*    !*border: solid green;*!*/
/*    width: 96vw;*/
/*    height: 95%;*/
/*    display: flex;*/
/*    transition: 1s ease;*/
/*    position: absolute;*/
/*    left: 0;*/
/*}*/

/*#content {*/
/*    !*height: 500px;*!*/
/*    !*min-width: 100%;*!*/
/*    !*max-width: 30%;*!*/
/*    !*width: 100%;*!*/
/*    height: 100%;*/
/*    background-color: white;*/
/*}*/

#content {
    /*border: solid salmon;*/
    overflow: hidden;
    height: 100%;
    background-color: white;
}

#label-comp-tab {
    /*border: solid springgreen;*/
    position: absolute;
    left: 0;
    top: 38px;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

#sidebar {
    width: 370px;
    float: left;
    /*border: solid crimson;*/
    height: 100%;
    /*min-width: 25%;*/
    /*max-width: 25%;*/
    /*height: 100%;*/
    background: #f7f7f7;
    /*color: black;*/
    transition: .8s ease;
    /*border: solid red;*/
}

#sidebar.active {
    margin-left: -370px;
}

#sidebar .sidebar-header {
    padding: 7px;
   /*background: #f7f7f7;*/
background-color: darksalmon;
    text-align: center;


}

#sidebarCollapse {
    position: absolute;
    margin: 10px 0px 350px;
    left: 5px;

}

#save-but {
    margin-top: 10px;

}

.compare-desc {
    position: absolute;
    margin: 50px 10px 350px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -370px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}


/*.sidebar {*/
/*    width: 27vw;*/
/*    height: 100%;*/
/*    background: #f7f7f7;*/
/*    transition: 1s ease;*/
/*    position: relative;*/
/*}*/

/*#menubar .nav {*/
/*    position: absolute;*/
/*}*/

/*.comp-body-content {*/
/*    width: 73%;*/
/*    height: 100%;*/
/*    background-color: white;*/
/*    transition: 1s ease;*/
/*}*/

/*#label-comp-tab {*/
/*    border: solid red;*/
/*    width: 94vw;*/
/*    !*margin-left: 5px;*!*/
/*    !*margin-right: 5px;*!*/
/*    !*position: absolute;*!*/
/*    !*left: 0;*!*/
/*margin: 0 auto;*/

/*}*/

.tab-content {
    padding: 5px 10px;
    height: 150vw;
    /*border: solid blue;*/
    /*display: flex;*/
}


#panel {
    width: 96vw;
    height: 200vw;
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    /*border: solid black;*/
}

/*#sidebar-but {*/
/*    position: absolute;*/
/*    border: none;*/
/*    height: 40px;*/
/*    width: 40px;*/
/*    border-radius: 50%;*/
/*    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, .3);*/
/*    left: 100%;*/
/*    top: 2rem;*/
/*    transform: translateX(-50%);*/
/*    cursor: pointer;*/
/*}*/

/*.comp-body-content_large {*/
/*    width: 100%;*/
/*}*/

/*.sidebar_small {*/
/*    width: 0%;*/
/*}*/

/*.card_small {*/
/*    width: 0%;*/
/*}*/

/*#sidebar-but {*/

/*    margin: 50px 330px 350px;*/
/*    position: absolute;*/
/*    border: none;*/
/*    height: 30px;*/
/*    width: 30px;*/
/*    border-radius: 50%;*/
/*    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, .3);*/
/*    left: 4.4%;*/
/*    background-color: #fee9d5;*/
/*}*/


/*#dropdown-label {*/
/*    !*background-color: floralwhite;*!*/

/*    background-color: #fee9d5;*/
/*    border-radius: 2px;*/
/*    padding-right: 10px;*/

/*}*/

#panel .tab-content {
    /*background-color: cornsilk;*/
    padding: 5px 15px;
}

#panel .nav-tabs_excel {
    font-size: 14px;
}

.lineHorizontal {
    border-top: 1px solid lightgrey;
    width: 100%;
}

/*#comp-tab {*/
/*    !*background-color: #fee9d5;*!*/
/*}*/

/*#panel .nav-tabs_excel > li.active > a,*/
/*#panel .nav-tabs_excel > li.active > a:focus,*/
/*#panel .nav-tabs_excel > li.active > a:hover {*/
/*    background-color: oldlace;*/

/*}*/


/*#panel .nav-tabs_excel > li.active > a {*/
/*    display: block;*/
/*}*/

/*#comp-tab {*/
/*    background-color: oldlace;*/
/*}*/

/*#diff-tab {*/
/*    background-color: white;*/
/*}*/

/*.fa-caret-down {*/
/*    padding-left: 3px;*/
/*}*/


#labels-card {
    /*display: flex;*/
    width: 25rem;
    papadding: 60px;
    margin: 10px 20px 350px;
}

#sel-labels {
    padding: 20px;
    background-color: floralwhite;
    /*background-color: #fee9d5;*/
    text-align: left;
    box-shadow: 2px 2px 10px #999;
    border-radius: 5px;
    overflow: hidden;
}

#form-title {
    color: #404040;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 15px 0;
    bottom: 15px;
}

#sel-labels .form-check {
    margin: 0 20px 5px;
    position: relative;
}

#sel-labels .form-group .btn {
    font-size: 14px;
    font-family: Arial;
    font-weight: 600;
    background-color: #F9661A;
    padding: 8px;
    border: none;
    display: block;
    width: 13rem;
    margin: 0 0 15px 0;
    top: 10px;
}

#sel-labels .form-group .btn:focus,
#sel-labels .form-group .btn:hover {
    box-shadow: -1px 1px 10px #505050 inset;
}

#sel-labels .form-check .custom-control-label {
    color: #404040;
    font-weight: normal;
    font-size: 15px;
}


