/*
Error: Inconsistent indentation: 2 spaces were used for indentation, but the rest of the document was indented using 4 spaces.
        on line 65 of /home/vagrant/www/sass/basic.sass
        from line 29 of /home/vagrant/www/sass/main.sass

60: /********************************************
61:  * plot loading animation
62:  *********************************************\/
63: 
64: .load-bar
65:   position: relative
66:   width: 100%
67:   height: 15px
68:   background-color: #fdba2c
69: 
70: .bar

Backtrace:
/home/vagrant/www/sass/basic.sass:65
/home/vagrant/www/sass/main.sass:29
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/engine.rb:486:in `block in tabulate'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/engine.rb:444:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/engine.rb:444:in `each_with_index'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/engine.rb:444:in `tabulate'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/engine.rb:409:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/engine.rb:312:in `to_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/stack.rb:88:in `block in with_import'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/stack.rb:88:in `with_import'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:159:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/engine.rb:298:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:294:in `watch'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/plugin.rb:109:in `method_missing'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:51:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.24/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.4.24/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: 2 spaces were used for indentation, but the rest of the document was indented using 4 spaces.\A         on line 65 of /home/vagrant/www/sass/basic.sass\A         from line 29 of /home/vagrant/www/sass/main.sass\A \A 60: /********************************************\A 61:  * plot loading animation\A 62:  *********************************************/\A 63: \A 64: .load-bar\A 65:   position: relative\A 66:   width: 100%\A 67:   height: 15px\A 68:   background-color: #fdba2c\A 69: \A 70: .bar"; }
