/********************************
 ** FILE: overlays.css
 ********************************/

/*Overlays*/
#cancer-overlays {
  position: absolute;
  z-index: 40;
}

.cancer-overlay {
  position: absolute;  
  display:none;
  color: #666;
}

.cancer-overlay h5 {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 7px;
}
.cancer-overlay p {
  margin: 0;
  font-size: 12px;
  line-height: 1.45em;
}
.cancer-overlaySVG {
  width: 970px;
  height: 850px;
  position: absolute;
  z-index: 0;
}



/*Start*/
.cancer-overview {
  position: absolute;
  width: 275px;
  top:100px;
  left: 10px;
}

.cancer-overview p{
  font-size: 13px;
}

.cancer-aside {
  position: absolute;
  width: 125px;
  left: 775px;
  top: 266px;
  text-align: center;
}

.cancer-olderLabel {
  position: absolute;
  top: 100px;
  left: 540px;
  width: 60px;
  border-top: dashed 1px rgba(0,0,0,0.2);
}
.cancer-olderLabel span {
  position: absolute;
  right: -105px;
  top: -10px;
  width: 100px;
}
.cancer-youngerLabel {
  position: absolute;
  top: 470px;
  left: 560px;
  width: 60px;
  border-top: dashed 1px rgba(0,0,0,0.2);
}
.cancer-youngerLabel span {
  position: absolute;
  right: -105px;
  top: -10px;
  width: 100px;
}


#cancer-deficitCircle {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 60px;
  left: 700px;
}

.cancer-deficitCircle {
  stroke-width:1;
  stroke:#999;
  stroke-dasharray:4 4;
  fill:none;
}




#cancer-colorKey {
  position: absolute;
  top: 210px;
  left: 10px;
  width: 200px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#cancer-sizeKey {
  position: relative;
  height: 110px;
  width: 200px;
}
#cancer-scaleKey {
  width: 100%;
  height: 100%;
  position: absolute;
}

.cancer-circleKeyLabel {
  position: absolute;
  border-top: solid 1px #DDD;
  width: 40px;
}

#cancer-sizeKey .cancer-circleKeyLabel span {
  font-size: 10px;
  color: #999;
  position: absolute;
  display: block;
  left: 45px;
  top: -8px;
  width: 80px;
  z-index: 100;
}

.cancer-scaleKeyCircle {
  stroke-width:1;
  stroke:#999;
  stroke-dasharray:2 2;
  fill:none;
}

#cancer-colorKey ul {
  margin: 0;
  padding: 0;
}
#cancer-colorKey p {
  margin-bottom: 8px;
}

#cancer-colorKey li{
  background-image: none;
  padding: 0;
  margin: 0;
  float: left;
  display: block;
  height: 100%;
}

.cancer-colorSwatches{
  width: 100%;
  height: 10px;
}

.cancer-colorSwatches li {
  width: 10%;
  border-right: solid white 1px;
}

.cancer-colorTicks {
  height: 6px;
}
.cancer-colorTicks li {
  width: 10%;
  border-right: solid #CCC 1px;
}

.cancer-colorLabels {
  margin-top: 3px;
  height: 20px;
  position: relative;
  left: 8%;

}

.cancer-colorLabels li {
  width: 10.5%;
  text-align: left;
  font-size: 10px;
  line-height: 1em;
  padding: 4px 0 0 0!important;
  margin: 0;
}




/*gender*/

#cancer-genderOverlay {
  
}

.cancer-femaleExplainer {
  text-align: center;
  left: 550px;
  top: 100px;
  position: absolute;
  width: 340px;
}


.cancer-maleExplainer {
  text-align: center;
  left: 150px;
  top: 80px;
  position: absolute;
  width: 340px;
}

.cancer-femaleAside {
  position: absolute;
  left: 800px;
  top: 120px;
  width: 130px;
}

.cancer-maleAside {
  position: absolute;
  left: 30px;
  top: 120px;
  width: 140px;
}

/*By age*/
#cancer-ageIntro {
  top: 80px;
  left: 10px;
  width: 500px;
  position: absolute;
}
.cancer-ageTickLabel {
  width: 200px;
  position: absolute;
  left: 10px;
}
.cancer-ageTickLabel p {
  position:relative;
  top: -6px;
  font-size: 10px;
}
.cancer-ageTick {
  position: absolute;
  border-top: dashed 1px #CCC;
  left: 60px;
  width: 900px;
}
.cancer-ageTick p {
  font-size: 10px;
  text-align: left;
  position: absolute;
  left: -50px;
  width: 40px;
  top: -8px;
}
.cancer-ageZeroTick {
  border-top: solid 1px #AAA;
  left: 10px;
  width: 950px;
}


/*country*/
.cancer-countryAnnotation {
  position: absolute;
  z-index: 1000;
}

.cancer-countryAnnotation p {
  font-size: 12px;
  line-height: 1.2em;
  text-align: center;
  margin: 0;
  padding: 0;
}

.cancer-countryAnnotation p.total {
  font-weight: bold;
  margin-bottom: 0.3em;
  color:#000;
}
.cancer-countryAnnotation p.total {
  font-weight: bold;  
}

.cancer-countryAnnotation.cancer-row0 p {
  font-size: 14px;
}
.cancer-countryAnnotation.cancer-row0 p.total {
  font-size: 16px;
}
.cancer-countryAnnotation.cancer-row1 p{
  font-size: 11px;
}
.cancer-countryAnnotation.cancer-row1 p.total{
  font-size: 13px;
}

.cancer-countryAnnotation.cancer-row2 p{
  font-size: 10px;
}
.cancer-countryAnnotation.cancer-row2 p.total{
  font-size: 12px;
}

.cancer-countryAnnotation.cancer-row3 p{
  font-size: 10px;
}
.cancer-countryAnnotation.cancer-row3 p.total{
  font-size: 12px;
}
.cancer-countryAnnotation.cancer-row4 p{
  font-size: 10px;
}
.cancer-countryAnnotation.cancer-row4 p.total{
  font-size: 12px;
}


/*country*/
#cancer-countryOverlay{
  
}
