#proj_table thead .sorting:after,
#proj_table thead .sorting:before,
#proj_table thead .sorting_asc:after,
#proj_table thead .sorting_before:after,
#proj_table thead .sorting_asc_disabled:after,
#proj_table thead .sorting_asc_disabled:before,
#proj_table thead .sorting_desc:after,
#proj_table thead .sorting_desc:before,
#proj_table thead .sorting_desc_disabled:after,
#proj_table thead .sorting_desc_disabled:before {
    bottom: .5em;
}


.tippy-uid {
    font-size:20px;
}

.controls {
    float:right;
}

.controls i {
    margin-left: 4px;
    font-size: 16px;
}

.list-group *[data-toggle="collapse"][aria-expanded="true"]  {
    border-color: red;
}

.list-group *[data-toggle="collapse"][aria-expanded="true"] ~ .controls {
    display: inline-block;
}

.list-group *[data-toggle="collapse"][aria-expanded="false"] ~ .controls {
    display: none;
}


.greyText {
   color:#808080;
}

.is-hidden {
    display: none !important;
}

.display-block {
    display: block;
}

.notVis {
    visibility: hidden;
}

input.join_val, input.sort_val {
    vertical-align: middle;
    margin-top: -1px;
    margin-left: 5px;
}

label.join:last-of-type {
    margin-right: 5px;
}

.multiSel{
  border-style: dashed;
  animation: border-dance 4s infinite linear;
}
@keyframes border-dance {
  0% {
    background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
  }
  100% {
    background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
  }
}

.prev-page{
    float:left;
    margin-left:0px;
}
.next-page{
    float:right;
    #margin-right:200px;
}


.plot_count {
    display:none;
}

.ui-slider {
    display:inline-block;
    width:70%;
    margin-right:20px;
}

.slide_tooltipT {
    top: -25px;
}

.slide_tooltipB {
    top: 20px;
}


.slide_tooltipT::after {
content: " ";
position: absolute;
top: 90%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;

}

.slide_tooltipB::before {
content: " ";
position: absolute;
bottom: 95%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
    transform:rotate(180deg);

}


.main_cols{
    display:inline-block;
    #transition: width 2s;
}
.lh{
    display:inline-block;
    float:right;
    position:relative;
    #top: 100%;
    right: -10px;

}

.rh{
    display:inline-block;
    float:left;
    position:relative;
    #top: 100%;
    left: -10px;

}



.graph-set {
    display: flex;
    overflow:visible;
    flex-wrap: wrap;
    justify-content: space-around;
    #justify-content: space-between;
    #justify-content: center;

}

.original-graphs, .related-graphs{
    position:relative;
    z-index:5 !important;
}
.more-graphs, .less-graphs{
    position:relative;
    display:block;
    z-index:10 !important;
    width:100%;
}


.fa-stack .greyout {
    background-style: grey;
}

.list-group-item__heading.greyout {
    background-color: #777777;
    #line-height: 4;
    #background-style: grey;
}

.value-search {
    margin-bottom: 8px;
    border: 2px solid #476a75;
    border-radius: 3px;
    width: 200px;
    display: block;
}

.cntr {
    margin-bottom: 11px;
}

.sorter.cntr {
    margin-bottom: 14px;
}

.fa-stack {
  text-align: center;
}

.fa-stack .fa-caret-down {
    position: absolute;
    bottom: 0;
}

.fa-stack .fa-caret-up {
  position: absolute;
  top: 0;
}
.flex_div{
    display: flex;
    flex-direction:column;
}
.vert {
  #overflow-y: scroll;
    #max-height:800px;
  #height: 600px;
}

.search-con {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 2000px;
}

.checkbox-disabled {
    disabled:true;
}

.tooltip_ex .tooltiptext_ex {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin-left: 17px;
    position: absolute;
    z-index: 1; }

.tooltip_ex:hover .tooltiptext_ex {
    visibility: visible; }

.tooltip_info .tooltiptext_info {
    visibility: hidden;
    width: 500px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1; }

.tooltip_info:hover .tooltiptext_info {
    visibility: visible; }

.tooltip_rhs {
    right: 20px;
}

.chart-tooltip {
    position: absolute;
    z-index: 9999;
    opacity: 0;
    width: 100%;
    background-color: transparent;
}

.chart-tooltip div {
    margin-left: 20px;
    display: inline-block;
    text-align: left;
    border: 3px solid black;
    border-radius: 2px;
    padding: 3px;
    background-color: #fff;
    max-width: 260px;
    filter: drop-shadow(gray 2px 4px 6px);
    font-weight: bold;
}

.id-names{
    text-overflow: ellipsis;
    overflow: hidden;
    max-lines: 1; }

.filter-type{
    background-color: #a66206;
    color: #F8F8F8;
    margin-left: 5px;
    margin-right: 5px;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 4px; }

.filter-att{
    background-color: #2A537A;
    color: #F8F8F8;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: inline-block;
}

.bar-charts-div {
    display: block;
    width: 100%;
    height: 100%;
    overflow: visible
}

.bar-charts-div-derived {
    display: block;
    width: 100%;
    height: 100%;
    overflow: visible
}

.bar-chart {
   display: inline-block;
    position:relative;
    width: 190px;
    height: 200px;
    overflow:visible;

}

.bar-chart.hide-chart{
    display: none;
}


#results_derived_set .tab-pane:not(:last-of-type) {
    margin-bottom: 20px;
}

/* th, tb,tr,td {
    border: 1px solid black; } */

tr.selected_grey td, i.selected_grey {
    background-color: #333; color: #fff; }

tr.selected_grey td  a {
    color: #fff;
}

td.greyout   {
    background-color: #333; color: #fff;

}

tbody.set_height {
    max-height: 200px;       /* Just for the demo          */
    //overflow-y: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    display: inline-block;
    table-layout: fixed; }

thead {
    display: table;
    width: calc( 100% - 1em ); }
tr.hide {
    display: none;
    width: 100%; }
tr {
    display: table;
    width: 100%; }

.expansion-toggle i {
    font-size: larger;
}

.expansion-toggle.open {
    background-color: #c5b9d5;
}

.expansion-toggle:hover {
    cursor: pointer;
    background-color: #b7cfe5;
}

.export-button:hover, .citations-button:hover, .btnGroupDropViewers:hover {
    cursor: pointer;
}

#projects_table td.cartnumholder, #projects_table_head th.cartnumholder,
#cases_table td.cartnumholder, #cases_table_head th.cartnumholder,
#studies_table td.cartnumholder, #studies_table_head th.cartnumholder {
    width: 10%;
}

#projects_table td.ckbx:not(.cartnumholder), #projects_table_head th.ckbx:not(.cartnumholder),
#cases_table_head th.ckbx:not(.cartnumholder), #cases_table td.ckbx:not(.cartnumholder),
#studies_table_head th.ckbx:not(.cartnumholder), #studies_table td.ckbx:not(.cartnumholder),
#series_table_head th.ckbx, #series_table td.ckbx {
    width: 5%;
}

#search_def_stats {
    padding-top: 8px; }

#projects_table td, #projects_table_head th {
    width: 30%;
    word-wrap: break-word; }

#cases_table td, #cases_table_head th {
    width: 23.75%;
    word-wrap: break-word; }

#studies_table_head th, #studies_table td {
    word-break: break-word; }

#studies_table_head th.project-name, th.case-id,
#studies_table td.project-name, td.case-id {
    width: 12%;
}

#studies_table_head th.study-id,
#studies_table td.study-id {
    width: 16%;
}

#studies_table_head th.study-date,
#studies_table td.study-date {
    width: 10%;
}

#studies_table_head th.study-description,
#studies_table td.study-description {
    width:29%;
}

#studies_table_head th.numrows,
#studies_table td.numrows {
    width:10%;
}
#studies_table_head th.open-viewer,
#studies_table td.open-viewer {
    width:4%;
    /* This is necessary to make sure the 2 icons remain together, lined up. */
    min-width: 80px;
}

#studies_table td.open-viewer {
    /* This is necessary to make sure the 2 icons remain together, lined up. */
    min-width: 70px;
}

#studies_table_head th.download-col,
#studies_table td.download-col {
    width:6%;
}

#series_table_head th, #series_table td {
    word-break: break-word;
}

#series_table_head th.study-id, #series_table_head th.series-id,
#series_table td.study-id, #series_table td.series-id
{
   width: 15%;
}

#series_table_head th.manifest-controls,
#series_table td.manifest-controls,
#series_table_head th.series-number,
#series_table td.series-number
{
    width: 7%;
}

#series_table_head th.modality,
#series_table td.modality {
    width:10%;
}
#series_table_head th.body-part-examined,
#series_table td.body-part-examined {
    width:14%;
}
#series_table_head th.series-description,
#series_table td.series-description {
    width:22%;
}
#series_table_head th.open-viewer,
#series_table td.open-viewer {
    width:6%;
}

#series_table_head th.download,
#series_table td.download {
    width:7%;
}

#series_table td.ohif, #studies_table td.ohif, #series_table td.download, #studies_table td.download{
  vertical-align: middle;
  padding: 0 8px 0 8px;
}

#series_table td.ohif img, #studies_table td.ohif img {
  filter: brightness(0%);
}

#series_table tr.selected_grey td.ohif img, #studies_table tr.selected_grey td.ohif img {
  filter: brightness(100%);
}

.export-series-manifest.btn {
    border: 1px solid #1d3954;
}

.export-series-manifest.btn:hover {
    background-color: #98b4e9a1;
    color: black;
}

.btn-mini {
    padding: 4px 8px;
}

.copy-url {
    padding: 6px 9px;
    vertical-align: top;
}

.filter-url {
    display: inline-block;
    vertical-align: top;
    max-width: 95%;
    padding: 7px;
    overflow-x: auto;
}

.empty-cart {
    font-style: italic;
}

table {
  table-layout: fixed;
  width: 100%; }

.list-group-item__body .list-group:last-child .list-group-item, .search-checkbox-list .list-group-item:last-child {
    border: 0;
}

.search-checkbox-list .list-group-item:last-child {
    border-top: 1px solid #d9d9d9;
}

svg {
    overflow:visible;
}

#Program .more-checks:after {
    content: "";
    display:table;
    clear: both;
}

#Program_list:after {
    content: "";
    display:table;
    clear: both;
}

#collection-modal{
    overflow:visible !important;
}

#collection-modal-content{
    border:solid !important;
    border-width:thin !important;
}

.list-group-item__heading:after {
    content: "";
    display:table;
    clear: both;
}

.ui-slider{
    margin-bottom: 18px;
}


.more-checks {
    min-height: 19px;
}


.fa-car-shopping {
    margin: auto;
}

.viewer-toggle {
    display: inline;
}

.viewer-toggle .viewer-menu {
    border: 1px solid lightgray;
    border-radius: 5px;
    min-width: 100px;
}

.viewer-toggle a.dropdown-toggle {
    padding: 10px;
}

.viewer-toggle .viewer-menu a:hover {
    background-color: #d5d5d5;
}

.tooltip_filter_info {
    float: right;
}

td.cartnum.incart {
    background-color:grey;
    color:white;
}

tr:not(.someInCart).ckbx:has(.fa-cart-shopping) {
    background-color:transparent;
}

.cart-info-tip.case1 {
    background-color:green;
}

.cart-info-tip.case2 {
    background-color:yellow;
}

.cart-info-tip.case3 {
    background-color:transparent;
}

#projects_table tr.someInCart:not(.extraInItem) .ckbx .fa-cart-shopping {
    background-color:green;
}

#projects_table tr.someInCart.extraInItem .ckbx .fa-cart-shopping {
    background-color:yellow;
}

#cases_table tr.someInCart:not(.extraInItem) .ckbx .fa-cart-shopping {
    background-color:green;
}

#cases_table tr.someInCart.extraInItem .ckbx .fa-cart-shopping {
    background-color:yellow;
}

#studies_table tr.someInCart:not(.extraInItem) .ckbx .fa-cart-shopping {
    background-color:green;
}

#studies_table tr.someInCart.extraInItem .ckbx .fa-cart-shopping {
    background-color:yellow;
}

#series_table tr.someInCart .ckbx .fa-cart-shopping {
    background-color:green;
}

.curfilt {
  background-color: lightgrey;
}

.filts:not(.curfilt):hover {
    text-decoration:underline;
}

.filtermoddisp {
    display:block !important;
    visibility: visible;
    z-index:1050;
}

.filternotdisp {
    z-index:-1;
}

li.cartlist {
    display: list-item !important;
  list-style-position: inside !important;
}

.modal-dialog {
  height: fit-content;
  max-width: 960px; // Optional, maximum width
}

.ckbx:has(.fa-caret-right){
  font-size:18px;
    text-align:center;
    vertical-align: middle !important;
}

.ckbx .fa-cart-shopping {
    #border: solid 1px #000;
    border-radius: 7px;
    padding: 4px 5px;
    font-size: 13px;
    text-align:center;
    box-shadow: inset 0 0 0 0.5px grey;
    vertical-align: middle !important;
}

 .cart-info-tip {
    border-radius: 7px;
    padding: 4px 5px;
    font-size: 13px;
    text-align:center;
    box-shadow: inset 0 0 0 0.5px grey;
    vertical-align: middle !important;
 }

.cart-info-div{
    margin-bottom:10px !important;
}

.cartnum_style {
    background-color: #818181;
    color: white;
    color: white;
    border-radius: 7px;
    font-size: 11.2px;
    padding: 4px 5px;
    text-align: right;
    vertical-align: middle;
    font-weight:500;
}

.cohort-summary{
     font-size: 16px !important;
     color: #2A537A !important;
     padding-left: 2px !important;
 }

 thead .cart-info {
     text-align: center !important;
     font-size: 18px;
 }

#export-manifest-modal .modal-dialog {
    min-width: 610px;
    margin: 30px auto;
}

@media (min-width: 768px) {
    #export-manifest-modal .modal-dialog {
        width: 730px;
        margin: 30px auto;
    }
}


#projects_table:hover, #cases_table:hover, #studies_table:hover{
    cursor:pointer;

}
