#proj_table thead .sorting:after,
#proj_table thead .sorting:before,
#proj_table thead .sorting_asc:after,
#proj_table thead .sorting_before:after,
#proj_table thead .sorting_asc_disabled:after,
#proj_table thead .sorting_asc_disabled:before,
#proj_table thead .sorting_desc:after,
#proj_table thead .sorting_desc:before,
#proj_table thead .sorting_desc_disabled:after,
#proj_table thead .sorting_desc_disabled:before {
    bottom: .5em;
}

.ui-slider {
    display:inline-block;
    width:70%;
    margin-right:20px;
}

.slide_tooltip {
    #left: 50%;
    #top:40%;
  #-webkit-transform: translateX(-50%);
     #position: 'absolute';
    #top: -25;
    #left: -10;
}


.slide_tooltip::after {
content: " ";
position: absolute;
top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;

}

.main_cols{
    display:inline-block;
    #transition: width 2s;
}
.lh{
    display:inline-block;
    float:right;
    position:relative;
    #top: 100%;
    right: -10px;

}

.rh{
    display:inline-block;
    float:left;
    position:relative;
    #top: 100%;
    left: -10px;

}



.graph-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-between;
    padding-top: 10px !important;
}



.fa-stack .greyout {
    background-style: grey;
}


.fa-stack {
  text-align: center;
}

.fa-stack .fa-caret-down {
    position: absolute;
    bottom: 0;
}

.fa-stack .fa-caret-up {
  position: absolute;
  top: 0;
}
.flex_div{
    display: flex;
    flex-direction:column;
}
.vert {
  #overflow-y: scroll;
    #max-height:800px;
  #height: 600px;
}

.search-con {
  overflow-y: auto;
    overflow-x:hidden;
  max-height: 1000px;
}

html {
  overflow-y: scroll;
}

body {
  overflow: hidden;
}


.tooltip_ex .tooltiptext_ex {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1; }

.tooltip_ex:hover .tooltiptext_ex {
    visibility: visible; }

.spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 100px;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.5);
    z-index: 10; }

.spinner .spin {
    display: inline-block;
    position: absolute;
    #position: absolute;
    top: 50%;
    left: 50%; }

.id-names{
    text-overflow: ellipsis;
    overflow: hidden;
    max-lines: 1; }

.filter-type{
    background-color: #a66206;
    color: #F8F8F8;
    margin-left: 5px;
    margin-right: 5px;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 4px; }

.filter-att{
    background-color: #2A537A;
    color: #F8F8F8;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: inline-block;
}

.bar-charts-div {
    display: block;
    width: 100%;
    height: 200px;
    overflow: hidden
}

.bar-charts-div-derived {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden
}



.bar-chart {
   display: inline-block;
    width: 240px;
    height: 200px
}

/* th, tb,tr,td {
    border: 1px solid black; } */

tr.selected_grey td, i.selected_grey {
    background-color: #333; color: #fff; }

tr.selected_grey td  a {
    color: #fff;
}

tbody.set_height {
    max-height: 200px;       /* Just for the demo          */
    //overflow-y: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    display: inline-block;
    table-layout: fixed; }

thead {
    display: table;
    width: calc( 100% - 1em ); }
tr.hide {
    display: none;
    width: 100%; }
tr {
    display: table;
    width: 100%; }

#projects_table td, #projects_table_head th {
    width: 33.33%;
    word-wrap: break-word; }
#studies_table_head th {
    width: 20%;
    word-break: break-word; }
#series_table_head th, #series_table td {
    width: 16.667%;
    word-break: break-word;
    max-width: 16.667%; }
#studies_table td {
    width: 20%;
    word-break: break-word;
    max-width: 20%; }

table {
  table-layout: fixed;
  width: 100%; }

.list-group-item__body .list-group:last-child .list-group-item, .search-checkbox-list .list-group-item:last-child {
    border: 0;
}

.search-checkbox-list .list-group-item:last-child {
    border-top: 1px solid #d9d9d9;
}