#proj_table thead .sorting:after,
#proj_table thead .sorting:before,
#proj_table thead .sorting_asc:after,
#proj_table thead .sorting_before:after,
#proj_table thead .sorting_asc_disabled:after,
#proj_table thead .sorting_asc_disabled:before,
#proj_table thead .sorting_desc:after,
#proj_table thead .sorting_desc:before,
#proj_table thead .sorting_desc_disabled:after,
#proj_table thead .sorting_desc_disabled:before {
    bottom: .5em;
}


.tippy-uid {
    font-size:20px;
}

.controls {
    float:right;
}

.controls i {
    margin-left: 4px;
    font-size: 16px;
}

.list-group *[data-toggle="collapse"][aria-expanded="true"]  {
    border-color: red;
}

.list-group *[data-toggle="collapse"][aria-expanded="true"] ~ .controls {
    display: inline-block;
}

.list-group *[data-toggle="collapse"][aria-expanded="false"] ~ .controls {
    display: none;
}


.greyText {
   color:#808080;
}

.notDisp {
    display: none !important;
}

.display-block {
    display: block;
}

.notVis {
    visibility: hidden;
}

input.join_val, input.sort_val {
    vertical-align: middle;
    margin-top: -1px;
    margin-left: 5px;
}

label.join:last-of-type {
    margin-right: 5px;
}

.multiSel{
  border-style: dashed;
  animation: border-dance 4s infinite linear;
}
@keyframes border-dance {
  0% {
    background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
  }
  100% {
    background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
  }
}

.prev-page{
    float:left;
    margin-left:0px;
}
.next-page{
    float:right;
    #margin-right:200px;
}


.plot_count {
    display:none;
}

.ui-slider {
    display:inline-block;
    width:70%;
    margin-right:20px;
}

.slide_tooltipT {
    top: -25px;
}

.slide_tooltipB {
    top: 20px;
}


.slide_tooltipT::after {
content: " ";
position: absolute;
top: 90%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;

}

.slide_tooltipB::before {
content: " ";
position: absolute;
bottom: 95%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
    transform:rotate(180deg);

}


.main_cols{
    display:inline-block;
    #transition: width 2s;
}
.lh{
    display:inline-block;
    float:right;
    position:relative;
    #top: 100%;
    right: -10px;

}

.rh{
    display:inline-block;
    float:left;
    position:relative;
    #top: 100%;
    left: -10px;

}



.graph-set {
    display: flex;
    overflow:visible;
    flex-wrap: wrap;
    #justify-content: space-around;
    #justify-content: space-between;
    justify-content: center;
    padding-top: 10px !important;
}



.fa-stack .greyout {
    background-style: grey;
}

.list-group-item__heading.greyout {
    background-color: #777777;
    #line-height: 4;
    #background-style: grey;
}

.value-search {
    margin-bottom: 8px;
    border: 2px solid #476a75;
    border-radius: 3px;
    width: 200px;
    display: block;
}

.cntr {
    margin-bottom: 11px;
}

.sorter.cntr {
    margin-bottom: 14px;
}

.fa-stack {
  text-align: center;
}

.fa-stack .fa-caret-down {
    position: absolute;
    bottom: 0;
}

.fa-stack .fa-caret-up {
  position: absolute;
  top: 0;
}
.flex_div{
    display: flex;
    flex-direction:column;
}
.vert {
  #overflow-y: scroll;
    #max-height:800px;
  #height: 600px;
}

.search-con {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 2000px;
}

.checkbox-disabled {
    disabled:true;
}

.tooltip_ex .tooltiptext_ex {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin-left: 17px;
    position: absolute;
    z-index: 1; }

.tooltip_ex:hover .tooltiptext_ex {
    visibility: visible; }



.tooltip_info .tooltiptext_info {
    visibility: hidden;
    width: 500px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1; }

.tooltip_info:hover .tooltiptext_info {
    visibility: visible; }

.tooltip_rhs {
    right: 20px;
}

.chart-tooltip {
    position: absolute;
    z-index: 9999;
    opacity: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    font-weight: bold;
}

.chart-tooltip div {
    display: inline-block;
    text-align: left;
    border-bottom: 3px solid black;
    max-width: 250px;
}

.id-names{
    text-overflow: ellipsis;
    overflow: hidden;
    max-lines: 1; }

.filter-type{
    background-color: #a66206;
    color: #F8F8F8;
    margin-left: 5px;
    margin-right: 5px;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 4px; }

.filter-att{
    background-color: #2A537A;
    color: #F8F8F8;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: inline-block;
}

.bar-charts-div {
    display: block;
    width: 100%;
    height: 100%;
    overflow: visible
}

.bar-charts-div-derived {
    display: block;
    width: 100%;
    height: 100%;
    overflow: visible
}

.bar-chart {
   display: inline-block;
    position:relative;
    width: 300px;
    height: 310px;
    overflow:visible;
}

.bar-chart.hide-chart{
    display: none;
}


#results_derived_set .tab-pane:not(:last-of-type) {
    margin-bottom: 20px;
}

/* th, tb,tr,td {
    border: 1px solid black; } */

tr.selected_grey td, i.selected_grey {
    background-color: #333; color: #fff; }

tr.selected_grey td  a {
    color: #fff;
}

td.greyout   {
    background-color: #333; color: #fff;

}



tbody.set_height {
    max-height: 200px;       /* Just for the demo          */
    //overflow-y: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    display: inline-block;
    table-layout: fixed; }

thead {
    display: table;
    width: calc( 100% - 1em ); }
tr.hide {
    display: none;
    width: 100%; }
tr {
    display: table;
    width: 100%; }

#projects_table td.ckbx, #projects_table_head th.ckbx,
#cases_table_head th.ckbx, #cases_table td.ckbx,
#series_table_head th.ckbx, #series_table td.ckbx,
#studies_table_head th.ckbx, #studies_table td.ckbx
{
    width: 5%;
    word-wrap: break-word;
}



#projects_table td, #projects_table_head th {
    width: 31.33%;
    word-wrap: break-word; }




#cases_table td, #cases_table_head th {
    width: 23.75%;
    word-wrap: break-word; }



#studies_table_head th, #studies_table td {
    word-break: break-word; }


#studies_table_head th.project-name, th.case-id, th.study-id,
#studies_table td.project-name, td.case-id, td.study-id {
    width: 14%;
}

#studies_table_head th.study-date,
#studies_table td.study-date {
    width: 10%;
}

#studies_table_head th.study-description,
#studies_table td.study-description {
    width:33%;
}
#studies_table_head th.open-viewer,
#studies_table td.open-viewer {
    width:6%;
}


#series_table_head th, #series_table td {
    word-break: break-word;
}
#series_table_head th.study-id,
#series_table td.study-id {
   width: 15%;
}

#series_table_head th.series-id,
#series_table td.series-id
{
    width: 15%;
}

#series_table_head th.series-number,
#series_table td.series-number
{
    width: 11%;
}
#series_table_head th.modality,
#series_table td.modality {
    width:11%;
}
#series_table_head th.body-part-examined,
#series_table td.body-part-examined {
    width:15%;
}
#series_table_head th.series-description,
#series_table td.series-description {
    width:26%;
}
#series_table_head th.open-viewer,
#series_table td.open-viewer {
    width:7%;
}

#series_table td.ohif, #studies_table td.ohif {
  vertical-align: middle;
  padding: 0 8px 0 8px;
}

#series_table td.ohif img, #studies_table td.ohif img {
  filter: brightness(0%);
}

#series_table tr.selected_grey td.ohif img, #studies_table tr.selected_grey td.ohif img {
  filter: brightness(100%);
}

table {
  table-layout: fixed;
  width: 100%; }

.list-group-item__body .list-group:last-child .list-group-item, .search-checkbox-list .list-group-item:last-child {
    border: 0;
}

.search-checkbox-list .list-group-item:last-child {
    border-top: 1px solid #d9d9d9;
}

svg {
    overflow:visible;
}

#Program .more-checks:after {
    content: "";
    display:table;
    clear: both;
}

#Program_list:after {
    content: "";
    display:table;
    clear: both;
}


.list-group-item__heading:after {
    content: "";
    display:table;
    clear: both;
}

.ui-slider{
    margin-bottom: 18px;
}