{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% load notebook_custom_tags %}

{% block title %}Notebooks | ISB-CGC{% endblock %}
{% block extra_css_libs %}{% endblock %}

{% block link_page_name %}notebook_detail{% endblock %}
{% block page_name %}notebook_detail{% endblock %}

{% block page_header %}
    <div class="container">
        <!--Notebook header-->
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Your Dashboard</a></li>
            {% if from_public_list %}
                <li><a href="{% url 'notebooks_public' %}">Public Notebooks</a></li>
            {% else %}
                <li><a href="{% url 'notebooks' %}">Saved Notebooks</a></li>
            {% endif %}
        </ol>

        <h1 class="page-header">{{ notebook.name }}{% if notebook.is_public %}
            <span class="badge" style="margin: 0 5px;">Public</span>{% endif %}</h1>
        <p>{{ notebook.description }}</p>

        <label aria-label="notebook-keywords">Keywords: </label>
        <p>{{ notebook.keywords }}</p>

        <label aria-label="notebook-file-path">Notebook File Location: </label>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">https://github.com/</span>
            <input type="text" class="form-control" aria-describedby="basic-addon1" value="{{ notebook.file_path }}"
                   readonly>
        </div>

        <ul class="page-action-group" role="menubar">
            {% if notebook.owner.id == request.user.id %}
                <li role="menuitem">
                    <button class="btn btn-info" data-toggle="modal"
                            data-target="#edit-notebook-details-modal-{{ notebook.id }}">Edit Details
                    </button>
                </li>
                <li role="menuitem">
                    <button class="btn btn-info" data-toggle="modal"
                            data-target="#copy-notebook-modal-{{ notebook.id }}">Duplicate
                    </button>
                </li>
                <li role="menuitem">
                    <button class="btn btn-info" data-toggle="modal"
                            data-target="#delete-notebook-modal-{{ notebook.id }}">Delete
                    </button>
                </li>
            {% else %}
                {% if notebook|isin_notebooklist:request.user %}
                    <li role="menuitem">
                        <button class="btn btn-info" data-toggle="modal"
                                data-target="#remove-notebook-modal-{{ notebook.id }}">Remove from My List
                        </button>
                    </li>
                    <li role="menuitem">
                        <button class="btn btn-info" data-toggle="modal"
                                data-target="#copy-notebook-modal-{{ notebook.id }}">Duplicate
                        </button>
                    </li>
                {% else %}
                    <li role="menuitem">
                        <button class="btn btn-info" data-toggle="modal"
                                data-target="#add-notebook-modal-{{ notebook.id }}">Add to My List
                        </button>
                    </li>
                {% endif %}

            {% endif %}
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div id="notebook-div" class="row">
        <div id="notebook-viewer" class="viewer">
            <div class="data-tab-content-panel">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="iframe-container">
                            {#                            <div class="btn-float toggle-fullscreen" title="Toggle full screen">#}
                            {#                                <i class="fa fa-expand"></i>#}
                            {#                            </div>#}
                            <div class="load-spinner" style="display:none;"><i class="fa fa-spinner fa-spin"></i></div>
                            <iframe id="notebook-iframe" frameborder="0"
                                    src="{{ notebook_viewer }}/github/{{ notebook.file_path }}"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "notebooks/notebook_modals.html" %}

{% endblock content %}
{% block js_file %}{% static 'js/notebooks.js' %}{% endblock %}
