{#{% extends 'base.html' %}#}
{#{% load staticfiles %}#}
{#{% load custom_tags %}#}
{#{% load notebook_custom_tags %}#}
{#{% block title %}Notebooks VM | ISB-CGC{% endblock %}}#}
{#{% block extra_css_libs %}{% endblock %}#}
{#{% block header %}{% endblock %}#}
{##}
{#{% block link_page_name %}notebook_vm{% endblock %}#}
{#{% block page_name %}notebook_vm{% endblock %}#}
{##}
{#{% block page_header %}#}
{#    <div class="container">#}
{#        <ol class="breadcrumb">#}
{#            <li><a href="{% url 'dashboard' %}">Your Notebook VM</a></li>#}
{#        </ol>#}
{#        <h1 class="page-header pull-left">{% if is_public_list %} Public {% else %}Saved {% endif %}Notebooks</h1>#}
{#        {% if not is_public_list %}#}
{#            <form id="create-notebook" method="POST" action="{% url 'notebook_create' %}">#}
{#                {% csrf_token %}#}
{#                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>Create Notebook#}
{#                </button>#}
{#            </form>#}
{#        {% endif %}#}
{#    </div>#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    <div class="container">#}
{#        <div class="panel panel-default">#}
{#            <div class="panel-body">#}
{#                {% if message %}#}
{#                    <p>{{ message }}</p>#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#{% endblock %}#}

{#{% block js_file %}{% static 'js/notebooks.js' %}{% endblock %}#}
