{% if notebook.owner.id == user.id %}
<!-- Edit Details Modal -->
<div class="modal fade edit-notebook-details-modal" id="edit-notebook-details-modal-{{ notebook.id }}" tabindex="-1" role="dialog" aria-labelledby="edit-notebook-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="edit-notebook-header">Notebook Details</h4>
            </div>
            <form class="edit-notebook-details" method="POST" action="{% url 'notebook_edit' notebook.id %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="unallowed-chars-alert-book alert alert-warning alert-dismissable" style="display: none;">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        Your notebook's <span class="book-unallowed"></span> invalid characters (<span class="unallowed-chars-book"></span>). Please choose another <span class="book-fields"></span>.
                    </div>
                    <label for="edit-notebook-name-{{ notebook.id }}">Name (required)</label>
                    <input id="edit-notebook-name-{{ notebook.id }}" class="edit-notebook-name form-control" type="text" name="name" maxlength="2000" value="{{ notebook.name }}" required/>
                    <br />
                    <label for="edit-notebook-keywords-{{ notebook.id }}">Keywords (required, max length is 2000 characters)</label>
                    <textarea id="edit-notebook-keywords-{{ notebook.id }}" class="edit-notebook-keywords form-control" name="keywords" maxlength="2000" required>{{ notebook.keywords }}</textarea>
                    <br />
                    <label for="edit-notebook-desc-{{ notebook.id }}">Description (required, max length is 2000 characters)</label>
                    <textarea id="edit-notebook-desc-{{ notebook.id }}" class="edit-notebook-desc form-control" name="description" maxlength="2000" required>{{ notebook.description }}</textarea>
                    <br />
                    <label for="edit-notebook-filepath-{{ notebook.id }}">Notebook File Location - GitHub's Repository URL (required, max length is 250 characters)</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">https://github.com/</span>
                        <input id="edit-notebook-filepath-{{ notebook.id }}" type="text" class="edit-notebook-filepath form-control" name="file_path" maxlength="250" required placeholder="repo_dir/file_name.ipynb" aria-describedby="basic-addon1" value="{{ notebook.file_path }}">
                    </div>
{#                    <textarea id="edit-notebook-filepath-{{ notebook.id }}" class="edit-notebook-filepath form-control" name="file_path" maxlength="250" required>{{ notebook.file_path }}</textarea>#}
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Update" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Notebook Modal -->
<div class="modal fade" id="delete-notebook-modal-{{ notebook.id }}" tabindex="-1" role="dialog" aria-labelledby="delete-notebook-body" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-notebook-header-{{ notebook.id }}">Delete Notebook</h4>
            </div>
            <div class="modal-body" id="delete-notebook-body">Delete this Notebook?</div>
            <form class="delete-notebook" id="delete-notebook-{{ notebook.id }}" method="POST" action="{% url 'notebook_delete' notebook.id %}">
                {% csrf_token %}
                <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}

<!-- Duplicate Notebook Modal -->

<div class="modal fade" id="copy-notebook-modal-{{ notebook.id }}" tabindex="-1" role="dialog" aria-labelledby="copy-notebook-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="copy-notebook-header">Duplicate this Notebook?</h4>
            </div>
            <div class="modal-body">
                <p>
                    This will create a copy of the notebook.
                </p>
            </div>
            <form id="copy-notebook-{{ notebook.id }}" method="POST" action="{% url 'notebook_copy' notebook.id %}">
                {% csrf_token %}
                <div class="modal-footer">
                    <input type="submit" value="Duplicate" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Add Notebook Modal: Adds public notebook to user's notebook collection list -->
<div class="modal fade" id="add-notebook-modal-{{ notebook.id }}" tabindex="-1" role="dialog" aria-labelledby="add-notebook-body" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="add-notebook-header-{{ notebook.id }}">Add Notebook</h4>
            </div>
            <div class="modal-body" id="add-notebook-body">This will add this public notebook to your notebook collection. It will appear on your <b>Saved Notebooks</b> section.</div>
            <form class="add-notebook" id="add-notebook-{{ notebook.id }}" method="POST" action="{% url 'notebook_add' notebook.id %}">
                {% csrf_token %}
                <div class="modal-footer">
                    <input type="submit" value="Add" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Remove Notebook Modal: Removes public notebook from the user's notebook collection list -->
<div class="modal fade" id="remove-notebook-modal-{{ notebook.id }}" tabindex="-1" role="dialog" aria-labelledby="remove-notebook-body" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="remove-notebook-header-{{ notebook.id }}">Remove Notebook</h4>
            </div>
            <div class="modal-body" id="remove-notebook-body">This will remove this note book from your notebook collection.</div>
            <form class="remove-notebook" id="remove-notebook-{{ notebook.id }}" method="POST" action="{% url 'notebook_remove' notebook.id %}">
                {% csrf_token %}
                <div class="modal-footer">
                    <input type="submit" value="Remove" class="btn btn-primary" />
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
