{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Papers</h2>
                <li>
                    <div class="cite-text">
                        PANAGOPOULOS I, ANDERSEN, KEILERT-OLSEN, MZELLER, BMUNTHE-KAAS, MBUECHNER, JOSNES, LMICCI, FHEIM S <br/>
                        Therapy-induced Deletion in 11q23 Leading to Fusion of KMT2A With ARHGEF12 and Development of B Lineage Acute Lymphoplastic Leukemia in a Child Treated for Acute Myeloid Leukemia Caused by t(9;11)(p21;q23)/ KMT2A-MLLT3 <br/>
                    </div>
                </li>
                <li>
                    <div class="cite-text">
                        Gailllard BCornillet‐Lefebvre PLe QMaloum KPannetier MLecoq‐Lafon CGrange BJondreville LMichaux LNadal NIttel ALuquet IStruski SLefebvre CGaillard JLafage‐Pochitaloff MBalducci EPenther DBarin CCollonge‐Rame MJimenez‐Poquet MRichebourg SLemaire PDefasque SRadford‐Weiss IBidet ASusin SNguyen‐Khac FChapiro E <br/>
                        Clinical and biological features of B‐cell neoplasms with <i>CDK6</i> translocations: an association with a subgroup of splenic marginal zone lymphomas displaying frequent CD5 expression, prolymphocytic cells, and <i>TP53</i> abnormalities<br/>
                    </div>
                </li>
                <li>
                    <div class="cite-text">
                        PANAGOPOULOS I, ANDERSEN, KEILERT-OLSEN, MZELLER, BMUNTHE-KAAS, MBUECHNER, JOSNES, LMICCI, FHEIM S <br/>
                        Therapy-induced Deletion in 11q23 Leading to Fusion of KMT2A With ARHGEF12 and Development of B Lineage Acute Lymphoplastic Leukemia in a Child Treated for Acute Myeloid Leukemia Caused by t(9;11)(p21;q23)/ KMT2A-MLLT3 <br/>
                    </div>
                </li>
                <li>
                    <div class="cite-text">
                        PANAGOPOULOS I, ANDERSEN, KEILERT-OLSEN, MZELLER, BMUNTHE-KAAS, MBUECHNER, JOSNES, LMICCI, FHEIM S <br/>
                        Therapy-induced Deletion in 11q23 Leading to Fusion of KMT2A With ARHGEF12 and Development of B Lineage Acute Lymphoplastic Leukemia in a Child Treated for Acute Myeloid Leukemia Caused by t(9;11)(p21;q23)/ KMT2A-MLLT3 <br/>
                    </div>
                </li>
                <li>
                    <div class="cite-text">
                        PANAGOPOULOS I, ANDERSEN, KEILERT-OLSEN, MZELLER, BMUNTHE-KAAS, MBUECHNER, JOSNES, LMICCI, FHEIM S <br/>
                        Therapy-induced Deletion in 11q23 Leading to Fusion of KMT2A With ARHGEF12 and Development of B Lineage Acute Lymphoplastic Leukemia in a Child Treated for Acute Myeloid Leukemia Caused by t(9;11)(p21;q23)/ KMT2A-MLLT3 <br/>
                    </div>
                </li>
                <li>
                    <div class="cite-text">
                        PANAGOPOULOS I, ANDERSEN, KEILERT-OLSEN, MZELLER, BMUNTHE-KAAS, MBUECHNER, JOSNES, LMICCI, FHEIM S <br/>
                        Therapy-induced Deletion in 11q23 Leading to Fusion of KMT2A With ARHGEF12 and Development of B Lineage Acute Lymphoplastic Leukemia in a Child Treated for Acute Myeloid Leukemia Caused by t(9;11)(p21;q23)/ KMT2A-MLLT3 <br/>
                    </div>
                </li>
                <li>
                    <div class="cite-text">
                        PANAGOPOULOS I, ANDERSEN, KEILERT-OLSEN, MZELLER, BMUNTHE-KAAS, MBUECHNER, JOSNES, LMICCI, FHEIM S <br/>
                        Therapy-induced Deletion in 11q23 Leading to Fusion of KMT2A With ARHGEF12 and Development of B Lineage Acute Lymphoplastic Leukemia in a Child Treated for Acute Myeloid Leukemia Caused by t(9;11)(p21;q23)/ KMT2A-MLLT3 <br/>
                    </div>
                </li>
                <li>
                    <div class="cite-text">
                        PANAGOPOULOS I, ANDERSEN, KEILERT-OLSEN, MZELLER, BMUNTHE-KAAS, MBUECHNER, JOSNES, LMICCI, FHEIM S <br/>
                        Therapy-induced Deletion in 11q23 Leading to Fusion of KMT2A With ARHGEF12 and Development of B Lineage Acute Lymphoplastic Leukemia in a Child Treated for Acute Myeloid Leukemia Caused by t(9;11)(p21;q23)/ KMT2A-MLLT3 <br/>
                    </div>
                </li>
               <li>
                    <div class="cite-text">
                        PANAGOPOULOS I, ANDERSEN, KEILERT-OLSEN, MZELLER, BMUNTHE-KAAS, MBUECHNER, JOSNES, LMICCI, FHEIM S <br/>
                        Therapy-induced Deletion in 11q23 Leading to Fusion of KMT2A With ARHGEF12 and Development of B Lineage Acute Lymphoplastic Leukemia in a Child Treated for Acute Myeloid Leukemia Caused by t(9;11)(p21;q23)/ KMT2A-MLLT3 <br/>
                    </div>
               </li>
        </div>
        </div>
    </div>
{%  endblock %}
