{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div id="citations" class="col-lg-12">
                <h2>ISB-CGC Publications</h2>
                <ol>
                    <li>
                        Sheila M. Reynolds, Michael Miller, Phyliss Lee, et al.
                        <a target="_blank" rel="noreferrer"
                           href="https://storage.googleapis.com/isb-cgc-publications/The%20ISB%20Cancer%20Genomics%20Cloud_%20A%20Flexible%20Cloud-Based%20Platform%20for%20Cancer%20Genomics%20Research.pdf">The
                            ISB Cancer Genomics Cloud: A Flexible Cloud-Based Platform for Cancer Genomics Research</a>.
                        Cancer Res, 2017. doi: 10.1158/0008-5472.CAN-17-0617.
                    </li>
                    <li>
                        Kawther Abdilleh, Boris Aguilar, J. Ross Thomson et al.
                        <a target="_blank" rel="noreferrer"
                           href="https://storage.googleapis.com/isb-cgc-publications/Poster-166-ACM2020-Google-ISB-CGC.pdf">Multi-omics
                            data integration in the Cloud: Analysis of Statistically Significant Associations Between
                            Clinical and Molecular Features in Breast Cancer</a>.
                        2020. doi: 10.1145/3388440.3414917.
                    </li>
                    <li>
                        Dondra Bailey, Kawther Abdilleh, Boris Aguilar, et al.
                        <a target="_blank" rel="noreferrer"
                           href="https://storage.googleapis.com/isb-cgc-publications/ISB-CGC-BalieyGriggsLab-ACM-BCB-2020.pdf">Multi-omics
                            characterization of Microtubule-actin cross linking factor 1 (MACF1) using the ISB-Cancer
                            Genomics Cloud</a>.
                        2020. doi: 10.1145/3388440.3414918.
                    </li>
                    <li>
                        Kawther Abdilleh, Boris Aguilar, Ronald C. Taylor, et al.
                        <a target="_blank" rel="noreferrer"
                           href="https://storage.googleapis.com/isb-cgc-publications/ISB-CGC-BiologicalDataScience2020.pdf">Large-scale
                            Cloud-based Inference of Differential Breast Cancer-related Network Gene Between Patient
                            Cohorts</a>.
                        2020.
                    </li>
                    <li>
                        Aguilar B, Gibbs DL, Reiss DJ, et al.
                        <a target="_blank" rel="noreferrer"
                           href="https://storage.googleapis.com/isb-cgc-publications/Aguilar%20et%20al.%20-%202020%20-%20A%20generalizable%20data-driven%20multicellular%20model%20of.pdf">A
                            generalizable data-driven multicellular model of pancreatic ductal adenocarcinoma</a>.
                        2020.
                    </li>
                    <li>
                        Gibbs DL, Aguilar B, Thorsson V, Ratushny AV, Shmulevich I.
                        <a target="_blank" rel="noreferrer"
                           href="https://storage.googleapis.com/isb-cgc-publications/Patient-Specific%20Cell%20Communication%20Networks%20Associate%20With%20Disease%20Progression%20in%20Cancer.pdf">Patient-Specific
                            Cell Communication Networks Associate With Disease Progression in Cancer.</a>
                        Frontiers in Genetics. 2021;12:1489. doi:10.3389/fgene.2021.667382.
                    </li>
                    <li>
                        Boris Aguilar, Kawther Abdilleh, George Acquaah-Mensah.
                        <a target="_blank" rel="noreferrer"
                           href="https://storage.googleapis.com/isb-cgc-publications/CSHLVirtualMeeting2021-A%20tale%20of%20two%20cohorts%E2%80%95Transcriptomic%20and%20epigenomic%20analysis%20in%20breast%20cancer%20presentations.pdf">A
                            tale of two cohorts: Transcriptomics and epigenomic analysis in breast cancer</a>.
                        2021.
                    </li>
                    <li>
                        Kawther Abdilleh, Boris Aguilar, Ronald C. Taylor, et al.
                        <a target="_blank" rel="noreferrer"
                           href="https://storage.googleapis.com/isb-cgc-publications/Poster_ISMB2020_Acquaah-Mensah.pdf">Multi-omics
                            data analysis in the cloud: inference of differential breast cancer-related network hubs
                            between TCGA patient cohorts</a>.
                        2021. doi: 10.7490/f1000research.1118296.1.
                    </li>
                    <li>
                        Plaugher D, Aguilar B, Murrugarra D.
                        <a target="_blank" rel="noreferrer"
                           href="https://storage.googleapis.com/isb-cgc-publications/Uncovering%20potential%20interventions%20for%20pancreatic%20cancer%20patients%20via%20mathematical%20modeling.pdf">Uncovering
                            potential interventions for pancreatic cancer patients via mathematical modeling</a>. 2022.
                        doi: 10.1101/2022.01.11.475711.
                    </li>
                    <li>
                        de Andrade KC, Lee EE, Tookmanian EM, et al.
                        <a target="_blank" rel="noreferrer" href="https://www.nature.com/articles/s41418-022-00976-3">The
                            TP53 Database: transition from the International Agency for Research on Cancer to the US
                            National Cancer Institute</a>. 2022.
                        doi: 10.1038/s41418-022-00976-3.
                    </li>
                    <li>
                        Tercan B, Qin G, Kim TK, et al.
                        <a target="_blank" rel="noreferrer" href="https://f1000research.com/articles/11-493">SL-Cloud: A
                            Cloud-based resource to support synthetic lethal interaction discovery</a>. 2022.
                        doi:10.12688/f1000research.110903.2.
                    </li>
                    <li>
                        Wang J, Zheng J, Lee E, et al.
                        <a target="_blank" rel="noreferrer"
                           href="https://onlinelibrary.wiley.com/doi/abs/10.1002/gcc.23128">A cloud-based resource for
                            genome coordinate-based exploration and large-scale analysis of chromosome aberrations and
                            gene fusions in cancer</a>. 2023.
                        doi:10.1002/gcc.23128.
                    </li>
                    <li>
                        Torcivia J, Abdilleh K, Seidl F, et al.
                        <a target="_blank" rel="noreferrer" href="https://www.mdpi.com/2673-7523/2/2/9">Whole Genome
                            Variant Dataset for Enriching Studies across 18 Different Cancers</a>. 2023.
                        doi:10.3390/onco2020009.
                    </li>
                    <li>
                        Pot D, Worman Z, Baumann A, et al.
                        <a target="_blank" rel="noreferrer" href="https://pubmed.ncbi.nlm.nih.gov/38488504/">NCI Cancer Research Data Commons: Cloud-based
                            Analytical Resources.</a> Cancer Research.
                        2024. doi:10.1158/0008-5472.CAN-23-2657
                    </li>
                    <li>
                        Seidl F, Hagen L, Wilson J, et al.
                        <a target="_blank" rel="noreferrer" href="https://aacrjournals.org/cancerres/article/84/6_Supplement/3547/740713/Abstract-3547-The-ISB-Cancer-Gateway-in-the-Cloud">The ISB Cancer Gateway in the Cloud (ISB-CGC):
                            Access, explore and analyze large-scale cancer data through the Google Cloud.</a> Cancer
                        Research.
                        2024. doi:10.1158/1538-7445.AM2024-3547
                    </li>
                    <li>
                        Kawther Abdilleh, Boris Aguilar, George Acquaah-Mensah
                        <a target="_blank" rel="noreferrer"
                           href="https://www.sciencedirect.com/science/article/abs/pii/S1526820924003215">
                            Clinical and Multiomic Features Differentiate Young Black and White Breast Cancer Cohorts
                            Derived by Machine Learning Approaches
                        </a>. Clinical Breast Cancer, 2024. doi:10.1016/j.clbc.2024.11.015
                    </li>
                    <li>
                        Gibbs DL, Cioffi G, Aguilar B, et al.
                        <a target="_blank" rel="noreferrer"
                           href="https://www.mdpi.com/2072-6694/17/3/445">Robust
                            Cluster Prediction Across Data Types Validates Association of Sex and Therapy Response in
                            GBM.</a> Cancers, 2025. doi:10.3390/cancers17030445
                    </li>
                </ol>
                <h2>ISB-CGC Blogs</h2>
                <ol>
                    <li>
                        Bleich D, Wilson J. <a target="_blank" rel="noreferrer"
                                               href="https://datascience.cancer.gov/news-events/news/notebook-demonstrates-machine-learning-google-bigquery-using-mitelman-database">New
                        Notebook Demonstrates Machine Learning in Google BigQuery Using Updated Mitelman Database.</a>
                        2024.
                    </li>
                    <li>
                        Thomson R.
                        <a target="_blank" rel="noreferrer"
                           href="https://medium.com/@jrossthomson/how-to-run-statistics-inside-bigquery-95c0c6864f23">How
                            to run statistics inside BigQuery</a>. 2023.
                    </li>
                    <li>
                        Bleich D. <a target="_blank" rel="noreferrer"
                                     href="https://datascience.cancer.gov/news-events/blog/how-mitelman-database-can-help-you-explore-genomic-abnormalities">How
                        the Mitelman Database Can Help You Explore Genomic Abnormalities.</a> 2023.
                    </li>
                    <li>
                        Bleich D. <a target="_blank" rel="noreferrer"
                                     href="https://datascience.cancer.gov/news-events/blog/isb-cgc-cloud-resource-providing-researchers-shortcuts-data-analysis">ISB-CGC
                        Cloud Resource: Providing Researchers with Shortcuts to Data Analysis.</a> 2022.
                    </li>
                    <li>
                        Bleich D, Kuan A, Pot D, Ray M, Subramanian SL, Van der Auwera G. <a target="_blank"
                                                                                             rel="noreferrer"
                                                                                             href="https://datascience.cancer.gov/news-events/blog/ncis-cloud-resources-help-tame-todays-data-windfall">NCI’s
                        Cloud Resources Help Tame Today’s Data Windfall.</a> 2021.
                    </li>

                </ol>

                <h2>Citations</h2>
                <ol type="1">
                    {% for paper in papers %}
                        <li>
                            {{ paper.authors }}
                            <a target="_blank" rel="noreferrer" href="{{ paper.url }}/">
                                {{ paper.title |safe }}</a>.
                            {% if paper.source %}<i>{{ paper.source |safe }}. </i>{% endif %}
                            {% if paper.year %}{{ paper.year }}. {% endif %}
                            {% if paper.identifiers %}{{ paper.identifiers |safe }}. {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
