{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    ISB-CGC|Contact Us
{% endblock %}

{% block description %}
    Contact ISB-CGC
{% endblock %}

{% block link_page_name %}contact_us{% endblock %}
{% block page_name %}contact_us{% endblock %}

{% block page_header %}
    {% if request.user.is_authenticated %}
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            </ol>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row ">

            <div class="col-lg-12" style="margin: 20px 0;">
                <h3>ISB-CGC Office Hours</h3>
                <div>We have <a
                        href="https://isb-cancer-genomics-cloud.readthedocs.io/en/latest/sections/office_hours.html"
                        target="_blank" rel=“noreferrer”>virtual Office Hours</a> for any questions on ISB-CGC
                    functionality or data that you may have.
                    We look forward to speaking with you.
                </div>
            </div>

            <div class="col-lg-12">
                <h3>We'd love to hear from you</h3>
                <div>Whether you have a question about features, data, or anything else, please email us at <a href="mailto:feedback@isb-cgc.org" target="_top">feedback@isb-cgc.org</a>.</div>
            </div>
        </div>
    </div>
{% endblock %}

