{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% load cohort_filters %}
{% load project_custom_tags %}
{% load tz %}
{% block header %}
{% endblock %}

{% block link_page_name %}dashboard{% endblock %}
{% block page_name %}dashboard{% endblock %}

{% block page_header %}
    <div class="container">
        <h1 class="page-header">Your Dashboard</h1>
    </div>
{% endblock %}
{% block content %}
    <div class="container">

        <!--
         Use this row to embed announcements for users to see on their dashboards.
         -->
        <div class="row">
            <div class="col-lg-12">
                <div id="popup-blocker-warning" class="alert alert-warning alert-dismissible text-center" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    A Pop-up Blocker is Enabled! Please go to your browser's settings and add this site to your allowed/exception site list.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <section class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a href="{% url 'cohort_list' %}">Saved Cohorts ({{ cohorts_count }})</a>
                        </h3>
                        <div class="min-max">
                            <a data-toggle="collapse" aria-label="Open/Collapse Saved Cohorts" href="#cohorts-panel"><i
                                    class="show fa fa-angle-double-down"></i></a>
                        </div>
                    </div>
                    <div id="cohorts-panel" class="panel panel-collapse collapse in" aria-expanded="true">
                        <div class="panel-body">
                            {% if cohorts_count > 0 %}
                                <ul class="table-list">
                                    {% for cohort in cohorts %}
                                        <li>
                                            <a href="{% url 'cohort_details' cohort.id %}">
                                                <div class="list-main col-3">
                                                    <span class="list-title"
                                                          title="{{ cohort.name|wrap_text }}">{{ cohort.name }}</span>
                                                </div>
                                            </a>
                                            {% if not cohort.only_user_data %}
                                                <a href="{% url 'cohort_filelist' cohort.id %}">
                                                    <div class="list-link">
                                                        <span class="list-title file-browser-link"
                                                              title="Browse this cohort's file manifest">View Files</span>
                                                    </div>
                                                </a>
                                            {% else %}
                                                <div class="list-link">
                                                    <span class="list-title file-browser-link"
                                                          title="File browsing is unavailable for cohorts which contain only user data.">View Files</span>
                                                </div>
                                            {% endif %}
                                            <div class="list-info col-3">
                                                <span>{{ cohort.last_date_saved|date:'M d, Y, g:i a' }}</span>
                                            </div>
                                        </li>
                                    {% endfor %}
                                    {% if cohorts_count > 6 %}
                                        <a class="btn btn-link float-right" href="{% url 'cohort_list' %}">View all</a>
                                    {% endif %}
                                </ul>
                            {% else %}
                                <p>You don't have any saved Cohorts.</p>
                            {% endif %}
                            <div class="pull-right dropdown">
                                <a id="btnGroupDropCohortCreate" href="{% url 'cohort' %}"
                                   class="btn btn-link dropdown-toggle"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-plus"></i>Create a Cohort</a>
                                <ul class="dropdown-menu" aria-labelledby="btnGroupDropCohortCreate">
                                    <li><a class="btn dropdown-item" href="{% url 'cohort' %}">Filters</a></li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>

    </div>

    <script type="text/javascript">
        var USER_SETTINGS_KEY = 'user_' + {{ request.user.id }} +'_dash_settings';
        var SOLR_URL = '{{ SOLR_URL }}';
    </script>
{% endblock %}


{% block js_file %}
    {{ block.super }}
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}