{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block title %}Programmatic Access | ISB-CGC{% endblock %}}
{% block extra_css_libs %}{% endblock %}
{% block header %}{% endblock %}
​
{% block link_page_name %}programmatic_access{% endblock %}
{% block page_name %}programmatic_access{% endblock %}
​
{% block page_header %}
    <div class="container">
        <h1 class="page-header">Programmatic Access</h1>
        <h5>A collection of tutorials about running bioinformatic pipelines on Google Cloud using workflow languages</h5>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
           <div class="col-lg-12">
               <h4 role="heading" aria-level="3">Getting Started</h4>
               <p>Click each box to learn more.
           </div>
        </div>
        <div class="row">
​
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body thumbnail">
                        <div class="caption">
                            Tutorials for Google Cloud Bioinformatic Pipelines
                        </div>
                        <a href="{% url 'workflow' %}" target="_blank">
                            <img src="{% static 'img/prog_access/workflow.png' %}" alt="Workflow">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="thumbnail">
                        <div class="caption">
                            ISB-CGC API
                        </div>
                        <a href="https://api-dot-isb-cgc.appspot.com/v4/swagger/" target="_blank">
                            <img src="{% static 'img/prog_access/isb-cgc-api.png' %}" alt="ISB-CGC API">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="thumbnail">
                        <div class="caption">
                                Comparison of Workflow Languages
                            </div>
                        <a href="{% static 'img/prog_access/comparison_page.png' %}" target="_blank">
                            <img src="{% static 'img/prog_access/languages.png' %}" alt="ISB-CGC API">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p>For general information about the ISB-CGC, feature requests or bug reports please contact us at <a
                        target="_blank" href="mailto:feedback%40isb-cgc.org">feedback<span>@</span>isb-cgc<span>.</span>org</a>.
                    We are especially keen on learning about
                    your particular use-cases, and how we can help you take advantage of the latest in cloud-computing
                    technologies to answer your research questions.</p>
            </div>
        </div>
​
    </div>
{% endblock %}
