{% load staticfiles %}
{% load tz %}

{% block dcf_content %}

    {% if user_details.error_state %}
        <div><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{ user_details.error_state }} </div>
    {% elif user_details.dcf_comm_error %}
        <div><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Currently unable to contact Data Commons
            Framework. Please try later.
        </div>
        {# User has tried to sign in with a conflicting NIH Username and must be forced to change it: #}
    {% elif user_details.force_DCF_logout %}
        <div><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Error occured:<br/>
            Must log-out from Data Commons Framework to restart linking process.
        </div>
        <div class="text-right">
            <a class="sm_btn" href="{% url 'dcf_simple_logout' %}">
                <i class="fa fa-sign-out" aria-hidden="true"></i>Log-out from DCF
            </a>
        </div>
        {# User is linked, but has never talked to DCF #}
    {% elif user_details.legacy_linkage %}
        <div><i class="fa fa-exclamation-circle" aria-hidden="true"></i>You will need to use new Data Commons
            Framework login process to re-establish NIH identity:
            <samp>{{ user_details.NIH_username }}</samp>
        </div>
        <div class="text-right"><a class="sm_btn" data-toggle="modal" data-target="#link-nih-account-modal"><i
                class="fa fa-sign-in" aria-hidden="true"></i>Log-in to DCF</a></div>
        {# Refresh token has expired (30 days). User must log into DCF again #}
    {% elif user_details.refresh_required %}
        <div><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Stored Data Commons Framework credentials have expired.<br/>
            Please log in again to refresh.
        </div>
        <div class="text-right"><a class="sm_btn" href="{% url 'dcf_login' %}"><i
                class="fa fa-sign-in" aria-hidden="true"></i>Log-in to DCF</a></div>
        {# User has *never* been seen before with an NIH login, or they have disconnected from it. #}
    {% elif not user_details.NIH_username %}
        <div>Apply for dbGaP Authorized Access to access underlying Level 1 genomics data.</div>

        <div>Associate your account with your eRA Commons Account</div>
        <div class="text-right"><a class="sm_btn" data-toggle="modal" data-target="#link-nih-account-modal">
            <i class="fa fa-link" aria-hidden="true"></i>Associate with eRA Account</a></div>
        <div class="text-right"><a href="https://dbgap.ncbi.nlm.nih.gov/aa/wga.cgi?page=login" target="_blank"><i
                class="fa fa-book" aria-hidden="true"></i>Learn More</a></div>
        {#        <div><a data-toggle="modal" data-target="#link-nih-account-modal">Associate with eRA Commons Account</a></div>#}

        {# We have no Google ID on record for the user, so they need to do the whole login process. Note that if #}
        {# the record was nulled as part of a bad link attempt, that should be caught above as a forced logout. #}
        {# If they need to use another NIH ID, that should also result in a forced logout. #}
        {# If the user gets here anyway, if they have stale cookie problems, that should result in an eventual forced logout #}
    {% elif user_details.no_google_link or user_details.link_mismatch %}
        <div>Log in to Data Commons Framework to complete the linking process.</div>
        <div class="text-right">
            <a class="sm_btn" data-toggle="modal" data-target="#link-nih-account-modal">
                <i class="fa fa-sign-in" aria-hidden="true"></i>Log in to DCF
            </a>
        </div>
        <hr>
        <label><i class="fa fa-link" aria-hidden="true"></i>Account is Linked</label>
        <div>
            <samp>{{ user_details.email }}</samp> is linked to the NIH identity <samp>{{ user_details.NIH_username }}</samp>
        </div>
        <div class="text-right">
            <a class="sm_btn" data-toggle="modal" data-target="#unlink-nih-account-modal">
                <i class="fa fa-chain-broken"
                   aria-hidden="true"></i>Unlink</a>
        </div>
        {# User has been seen, has a current token, is linked, and just needs to ask to be put back on lists. #}
        {# NOTE this captures all users outside of 24 hours #}
    {% elif not user_details.NIH_active %}
        <div>Obtain controlled access for 24 hours.</div>
        <div class="text-right"><a class="sm_btn" href="{% url 'dcf_link_extend' %}"><i class="fa fa-key" aria-hidden="true"></i>Get Controlled Access</a></div>
        <hr>
        <label><i class="fa fa-link" aria-hidden="true"></i>Account is Linked</label>
        <div><samp>{{ user_details.email }}</samp> is linked to NIH identity <samp>{{ user_details.NIH_username }}</samp></div>
        <div class="text-right"><a class="sm_btn" data-toggle="modal" data-target="#unlink-nih-account-modal" href="#"><i
                class="fa fa-chain-broken" aria-hidden="true"></i>Unlink</a></div>
        {# They are linked and active, but have no datasets they are authorized for #}
    {% elif not user_details.dbGaP_has_datasets %}
        <div><i class="fa fa-check-circle"></i> eRA Account Authenticated</div>
        <hr>
        <div>Congratulations, <samp>{{ user_details.NIH_username }}</samp>!<br/>
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>Your eRA account has been authenticated, but we do not
            currently have any authorized datasets on record for this NIH username. Recently authorized datasets may take up to 24
            hours to verify. If you believe this is in error, please contact dbGaP and inquire about your status on the
            dataset whitelists.
        </div>
        <div class="text-right">
            <a  href="https://dbgap.ncbi.nlm.nih.gov/aa/wga.cgi?page=login" target="_blank"><i
                class="fa fa-book" aria-hidden="true"></i>Learn How to Apply for dbGaP Access</a>
        </div>
        <div><label><i class="fa fa-clock-o" aria-hidden="true"></i>Access Valid Until:</label></div>
        <div id="NIH_expiration"></div>
        <hr>
        <label><i class="fa fa-link" aria-hidden="true"></i>Account is Linked</label>
        <div><samp>{{ user_details.email }}</samp> is linked to NIH identity
                <samp>{{ user_details.NIH_username }}</samp></div>
        <div class="text-right"><a class="sm_btn" data-toggle="modal" data-target="#unlink-nih-account-modal" href="#"><i
                class="fa fa-chain-broken" aria-hidden="true"></i>Unlink</a></div>
        {# Everything is great. Note we only tell people what they are valid during their 24 hour access period. #}
    {% else %}
        <div><i class="fa fa-check-circle"></i>dbGaP Access Authorized</div>
        <hr>
        {% with user_datasets_count=user_details.auth_datasets|length user_auth_datasets=user_details.auth_datasets %}
            <div>Congratulations, <samp>{{ user_details.NIH_username }}</samp>!<br/>You now have access to the following ISB-CGC
                controlled dataset{% if user_datasets_count > 1 %}s{% endif %}:
            </div>
            <table class="table table-striped controlled-datasets">
                <thead>
                <tr>
                    <th scope="col">Dataset</th>
                    <th scope="col">ID</th>
                    <th scope="col">DUCA</th>
                </tr>
                </thead>
                <tbody>
                {% for dataset in user_auth_datasets %}
                    <tr>
                        <td>
                            <a href="https://www.ncbi.nlm.nih.gov/projects/gap/cgi-bin/study.cgi?study_id={{ dataset.whitelist_id }}"
                               target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i>{{ dataset.name }}
                            </a></td>
                        <td>{% if not dataset.public %} {{ dataset.whitelist_id }}{% endif %}</td>
                        <td>{% if dataset.duca_id %}
                            <a href="https://dbgap.ncbi.nlm.nih.gov/aa/wga.cgi?view_pdf&stacc={{ dataset.duca_id }}"
                               target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i>View</a>{% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div><i class="fa fa-clock-o" aria-hidden="true"></i><label>Access Valid Until:</label></div>
            <div id="NIH_expiration"></div>
            <br/>
            <div>Controlled access period can be extended to 24 hours from now.</div>
            <div class="text-right">
                <a class="sm_btn"
                   href="{% url 'dcf_link_extend' %}"><i
                        class="fa fa-calendar" aria-hidden="true"></i>Extend</a>
            </div>
            <br/>
            <hr>
            <label><i class="fa fa-link" aria-hidden="true"></i>Account is Linked</label>
            <div><samp>{{ user_details.email }}</samp> is linked to NIH identity
                <samp>{{ user_details.NIH_username }}</samp></div>
            <div class="text-right">
                <a data-toggle="modal" class="sm_btn" data-target="#unlink-nih-account-modal"
                   href="#"><i class="fa fa-chain-broken" aria-hidden="true"></i>Unlink</a>
            </div>
        {% endwith %}
    {% endif %}


    {# Always include the unlinking dialog #}
    {# Previously (eRA SAML), it was only here is we were not active. That is not relevant anymore, if it ever was.#}
    {# Have removed the "not user_details.NIH_active" test #}
    {% if user_details.NIH_username %}
        <div class="modal fade" id="unlink-nih-account-modal" tabindex="-1" role="dialog"
             aria-labelledby="unlink-nih-account-header" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="unlink-nih-account-header">Unlink {{ user_details.email }} from the
                            NIH identity '{{ user_details.NIH_username }}'?</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            This will remove your access to any controlled datasets. In addition, service accounts from
                            Google Cloud Projects you are associated with
                            which were accessing controlled data will also lose their access.
                        </p>
                    </div>
                    <form id="unlink-nih-account" method="GET" action="{% url 'dcf_disconnect_user' %}">
                        {% csrf_token %}
                        <div class="modal-footer">
                            <input type="submit" value="Unlink" class="btn btn-primary"/>
                            <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    {% endif %}


    {# We need to provide some context to the user who is about to head off to DCF to run through three web pages and #}
    {# log in twice. #}
    <div class="modal fade" id="link-nih-account-modal" tabindex="-1" role="dialog"
         aria-labelledby="link-nih-account-header" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {% if idp == 'ras' %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="link-nih-account-header">Link {{ user_details.email }} to a RAS
                            identity</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            You will now be sent to the Data Commons Framework (DCF) site to login to NIH and then to
                            link your NIH and Google IDs. This will take three steps the first time you do it:
                            <ul>
                                <li>On the NIH page, login with your NIH ID and password.</li>
                                <li>Next, you must allow ISB-CGC to access your account information (click <i>Yes, I
                                    authorize</i>).
                                </li>
                                <li>Finally, you must login to the Data Commons Framework (i.e. <i>datacommons.io</i>) <b>using
                                    your {{ user_details.email }} Google ID</b>.
                                </li>
                            </ul>
                        </p>
                        <p>If you are having problems with linking, you might try <a
                                href="{% url 'dcf_simple_logout' %}">logging out</a> of DCF before trying again.</p>
                    </div>
                    <form id="link-nih-account" method="GET" action="{% url 'dcf_login' %}">
                        {% csrf_token %}
                        <div class="modal-footer">
                            <input type="hidden" name="idp" value="{{ idp }}" />
                            <input type="submit" value="Go to DCF" class="btn btn-primary"/>
                            <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                {% else %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="link-nih-account-header">Link {{ user_details.email }} to an NIH
                            identity</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            You will now be sent to the Data Commons Framework (DCF) site to login to NIH and then to
                            link your
                            NIH and Google IDs. This will take three steps the first time you do it:
                            <ul>
                                <li>On the NIH iTrust page, login with your NIH ID and password.</li>
                                <li>Next, you must allow ISB-CGC to access your account information (click <i>Yes, I
                                    authorize</i>).
                                </li>
                                <li>Finally, you must login to the Data Commons Framework (i.e. <i>datacommons.io</i>) <b>using
                                    your {{ user_details.email }} Google ID</b>.
                                </li>
                            </ul>
                        </p>
                        <p>If you are having problems with linking, you might try <a
                                href="{% url 'dcf_simple_logout' %}">logging out</a> of DCF before trying again.</p>
                    </div>
                    <form id="link-nih-account" method="GET" action="{% url 'dcf_login' %}">
                        {% csrf_token %}
                        <div class="modal-footer">
                            <input type="submit" value="Go to DCF" class="btn btn-primary"/>
                            <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>

                {% endif %}
            </div>
        </div>
    </div>




    <script type="text/javascript">
        var expiry_time = new Date("{{ user_details.NIH_assertion_expiration|safe }}".replace(" ", "T"));
        if (document.getElementById('NIH_expiration') != null)
            document.getElementById('NIH_expiration').innerHTML = expiry_time;
    </script>
{% endblock %}