{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    ISB-CGC|Video Tutorials
{% endblock %}

{% block description %}
    Video Tutorials of ISB-CGC
{% endblock %}
{% block page_name %}video-tutorials{% endblock %}
{% block page_header %}
<div class="container">
    <h1 class="page-header">Video Tutorials</h1>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <section class="panel panel-default">
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <h5>Introduction</h5>
                            <div class="vid-container">
                                <a href="https://www.youtube.com/watch?v=pRwh-s_ZMro&list=PLOojCp_ZOt2ccbQyZ3niBCU4DG6XL5htb"
                                   target="_blank" rel="noreferrer"><img src="{% static 'img/tutorials/yt1.png' %}"
                                                                         alt="Overview video thumbnail">
                                    <span class="fa fa-external-link-square fa-3x"></span></a>
                            </div>
                            <div class="vid-desc-text">This is an overview of the ISB Cancer Gateway (ISB-CGC) in the Cloud covering the use of the web app, BigQuery, and using the API.</div>
                        </div>
                        <div class="col-md-4">
                            <h5>How to Sign Up with a Google Account</h5>
                            <div class="vid-container">
                                <a href="https://www.youtube.com/watch?v=q9q1g1-cf7M&list=PLOojCp_ZOt2ccbQyZ3niBCU4DG6XL5htb"
                                   target="_blank" rel="noreferrer"><img src="{% static 'img/tutorials/yt2.png' %}"
                                                                         alt="Overview video thumbnail">
                                    <span class="fa fa-external-link-square fa-3x"></span></a>
                            </div>
                            <div class="vid-desc-text">This video will show you the steps necessary to sign up and link your google cloud project (GCP) to an ISB-CGC account. This enables you export to BigQuery tables and read and write to cloud buckets, including many other features.</div>

                        </div>
                        <div class="col-md-4">
                            <h5>How to Build a Cohort</h5>
                            <div class="vid-container">
                                <a href="https://www.youtube.com/watch?v=2db_zxp8-8M&list=PLOojCp_ZOt2ccbQyZ3niBCU4DG6XL5htb"
                                   target="_blank" rel="noreferrer"><img src="{% static 'img/tutorials/yt3.png' %}"
                                                                         alt="Overview video thumbnail">
                                    <span class="fa fa-external-link-square fa-3x"></span></a>
                            </div>
                            <div class="vid-desc-text">In this video, we use the cohort builder to generate lists of cases (patients) based on various clinical and molecular features. Cohorts are saved and accessible as a list in the user's 'Saved Cohorts' panel (found in the Dashboard) and is the first step in any downstream analysis.</div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5>How to Make a Gene List</h5>
                            <div class="vid-container">
                                <a href="https://www.youtube.com/watch?v=tbjfZC9wQ9o&list=PLOojCp_ZOt2ccbQyZ3niBCU4DG6XL5htb"
                                   target="_blank" rel="noreferrer"><img src="{% static 'img/tutorials/yt4.png' %}"
                                                                         alt="Overview video thumbnail">
                                    <span class="fa fa-external-link-square fa-3x"></span></a>
                            </div>
                            <div class="vid-desc-text">As a next step after building cohorts, we generate lists of clinical and molecular variables. These variables are connected to cohorts in the Workbooks, when analysis and plots are generated.</div>
                        </div>
                        <div class="col-md-4">
                            <h5>Image Viewers</h5>
                            <div class="vid-container">
                                <a href="https://www.youtube.com/watch?v=kr7Ca3g6jvU&list=PLOojCp_ZOt2ccbQyZ3niBCU4DG6XL5htb"
                                   target="_blank" rel="noreferrer"><img src="{% static 'img/tutorials/yt5.png' %}"
                                                                         alt="Overview video thumbnail">
                                    <span class="fa fa-external-link-square fa-3x"></span></a>
                            </div>
                            <div class="vid-desc-text">In this video we cover the new image viewers in the ISB-CGC web app. Starting with a cohort, we show how histology slides can be viewed using caMicroscope and how radiology images can be viewed using the Osimis DICOM viewer(note: now the OHIF viewer)</div>

                        </div>
                        <div class="col-md-4">
                            <h5>Exporting Cohorts</h5>
                            <div class="vid-container">
                                <a href="https://www.youtube.com/watch?v=tKweSyrWK9I&list=PLOojCp_ZOt2ccbQyZ3niBCU4DG6XL5htb"
                                   target="_blank" rel="noreferrer"><img src="{% static 'img/tutorials/yt6.png' %}"
                                                                         alt="Overview video thumbnail">
                                    <span class="fa fa-external-link-square fa-3x"></span></a>
                            </div>
                            <div class="vid-desc-text">Learn how to export your cohorts in four different ways, including BigQuery, comma delimited files, cloud buckets and sharing with collaborators.</div>

                        </div>
                    </div>

{#                    <div class="row">#}
{#                        <h5>How to Make a Gene List</h5>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-md-6 vid-container">#}
{#                            <a href="https://www.youtube.com/watch?v=tbjfZC9wQ9o&list=PLOojCp_ZOt2ccbQyZ3niBCU4DG6XL5htb" target="_blank" rel="noreferrer"><img src="{% static 'img/tutorials/yt1.png' %}" alt="Overview video thumbnail">#}
{#                            <span class="fa fa-external-link-square fa-3x"></span></a>#}
{#                        </div>#}
{#                        <div class="col-md-6" style="">This video will show you the steps necessary to sign up and link your google cloud project (GCP) to an ISB-CGC account. This enables you export to BigQuery tables and read and write to cloud buckets, including many other features.</div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <h5>Image Viewers</h5>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-md-6 vid-container">#}
{#                            <a href="https://www.youtube.com/watch?v=kr7Ca3g6jvU&list=PLOojCp_ZOt2ccbQyZ3niBCU4DG6XL5htb" target="_blank" rel="noreferrer"><img src="{% static 'img/tutorials/yt1.png' %}" alt="Overview video thumbnail">#}
{#                            <span class="fa fa-external-link-square fa-3x"></span></a>#}
{#                        </div>#}
{#                        <div class="col-md-6" style="">This video will show you the steps necessary to sign up and link your google cloud project (GCP) to an ISB-CGC account. This enables you export to BigQuery tables and read and write to cloud buckets, including many other features.</div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <h5>Exporting Cohorts</h5>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-md-6 vid-container">#}
{#                            <a href="https://www.youtube.com/watch?v=tKweSyrWK9I&list=PLOojCp_ZOt2ccbQyZ3niBCU4DG6XL5htb" target="_blank" rel="noreferrer"><img src="{% static 'img/tutorials/yt1.png' %}" alt="Overview video thumbnail">#}
{#                            <span class="fa fa-external-link-square fa-3x"></span></a>#}
{#                        </div>#}
{#                        <div class="col-md-6" style="">This video will show you the steps necessary to sign up and link your google cloud project (GCP) to an ISB-CGC account. This enables you export to BigQuery tables and read and write to cloud buckets, including many other features.</div>#}
{#                    </div>#}
            </div>

        </section>
    </div>

{% endblock %}

{% block js_file %}
	{{ block.super }}
	<script src="{% static 'js/landing.js' %}"></script>
{% endblock %}
