{% extends 'base.html' %}
{% load static %}

{% block title %}
    ISB-CGC|Video Tutorials
{% endblock %}

{% block description %}
    Video Tutorials of ISB-CGC
{% endblock %}
{% block page_name %}video-tutorials{% endblock %}
{% block page_header %}
<div class="container">
    <h1 class="page-header">Video Tutorials</h1>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <section class="panel panel-default">
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-lg-3 col-sm-12">
                            <h5>An Introduction to ISB-CGC</h5>
                            <div class="vid-container">
                                <a href="https://www.youtube.com/watch?v=5hVgGW346wI"
                                   target="_blank" rel="noreferrer nofollow"><img src="{% static 'img/tutorials/yt1a.png' %}"
                                                                         alt="Overview video thumbnail">
                                    <span class="fa fa-external-link-square fa-3x"></span></a>
                            </div>
                            <div class="vid-desc-text">
                                With a combination of custom developed and existing Google Cloud tools such as BigQuery
                                and Compute Engine ISB Cancer Gateway in the Cloud (ISB-CGC) assists a variety of
                                users – from bench biologists, to computational scientists, to algorithm developers. We
                                hope this overview of our platform inspires you to explore the many cloud based resources
                                available for cancer research.
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 col-sm-12">
                            <h5>A Video Walkthrough of ISB-CGC and CRDC Resources</h5>
                            <div class="vid-container">
                                <a href="https://cbiit.webex.com/recordingservice/sites/cbiit/recording/667f0d28b0c344cf85cd3f9c1f494c12/playback"
                                   target="_blank" rel="noreferrer nofollow"><img src="{% static 'img/tutorials/yt1.png' %}"
                                                                         alt="Overview video thumbnail">
                                    <span class="fa fa-external-link-square fa-3x"></span></a>
                            </div>
                            <div class="vid-desc-text">
                                A video walkthrough of the Cancer Research Data Commons and the ISB-CGC. This walkthrough
                                gives a short introduction to the resources available at the Genomic, Proteomic, and
                                Imaging Data Commons. We demonstrate the ISB-CGC BigQuery ecosystem as well as possible
                                benefits of using BQ and SQL to perform bioinformatics in the cloud.
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 col-sm-12">
                            <h5>How to Sign Up with a Google Account</h5>
                            <div class="vid-container">
                                <a href="https://www.youtube.com/watch?v=q9q1g1-cf7M&list=PLOojCp_ZOt2ccbQyZ3niBCU4DG6XL5htb"
                                   target="_blank" rel="noreferrer nofollow"><img src="{% static 'img/tutorials/yt2.png' %}"
                                                                         alt="Overview video thumbnail">
                                    <span class="fa fa-external-link-square fa-3x"></span></a>
                            </div>
                            <div class="vid-desc-text">
                                This video will show you the steps necessary to sign up and link your google cloud project
                                (GCP) to an ISB-CGC account. This enables you export to BigQuery tables and read and write
                                to cloud buckets, including many other features.
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 col-sm-12">
                            <h5>How to Build a Cohort</h5>
                            <div class="vid-container">
                                <a href="https://www.youtube.com/watch?v=2db_zxp8-8M&list=PLOojCp_ZOt2ccbQyZ3niBCU4DG6XL5htb"
                                   target="_blank" rel="noreferrer nofollow"><img src="{% static 'img/tutorials/yt3.png' %}"
                                                                         alt="Overview video thumbnail">
                                    <span class="fa fa-external-link-square fa-3x"></span></a>
                            </div>
                            <div class="vid-desc-text">
                                In this video, we use the cohort builder to generate lists of cases (patients) based on
                                various clinical and molecular features. Cohorts are saved and accessible as a list in
                                the user's 'Saved Cohorts' panel (found in top level menu) and is the first step in any
                                downstream analysis.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}

{% block js_file %}
	{{ block.super }}
	<script src="{% static 'js/landing.js' %}"></script>
{% endblock %}
