{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    ISB-CGC|Video Tutorials
{% endblock %}

{% block description %}
    Video Tutorials of ISB-CGC
{% endblock %}
{% block page_name %}video-tutorials{% endblock %}
{% block page_header %}
<div class="container">
    <h1 class="page-header">Video Tutorials</h1>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <section class="panel panel-default">
            <div class="panel-body">
                <ul>
                    <li>
                        <h5>Introduction</h5>
                        <iframe src="https://www.youtube-nocookie.com/embed/pRwh-s_ZMro" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <div class="vid-text"><p>This is an overview of the ISB Cancer Genomics Cloud covering the use of the web app, BigQuery, and using the API.</p>
                        </div>
                    </li>
                    <li>
                        <h5>How to Sign Up with a Google Account</h5>
                        <iframe src="https://www.youtube-nocookie.com/embed/92vmO9udzP0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <div class="vid-text"><p>This video will show you the steps necessary to sign up and link your google cloud project (GCP) to an ISB-CGC account. This enables you export to BigQuery tables and read and write to cloud buckets, including many other features.</p>
                        </div>
                    </li>
                    <li>
                        <h5>How to Build a Cohort</h5>
                        <iframe src="https://www.youtube-nocookie.com/embed/qnf7sPBQQSM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <div class="vid-text"><p>In this video, we use the cohort builder to generate lists of cases (patients) based on various clinical and molecular features. Cohorts are saved and accessible as a list in the user's 'Saved Cohorts' panel (found in the Dashboard) and is the first step in any downstream analysis.</p>
                        </div>
                    </li>
                    <li>
                        <h5>How to Make a Gene List</h5>
                        <iframe src="https://www.youtube-nocookie.com/embed/ysDYB38D0WA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <div class="vid-text"><p>As a next step after building cohorts, we generate lists of clinical and molecular variables. These variables are connected to cohorts in the Workbooks, when analysis and plots are generated.</p>
                        </div>
                    </li>
                    <li>
                        <h5>Image Viewers</h5>
                        <iframe src="https://www.youtube-nocookie.com/embed/kr7Ca3g6jvU?list=PLOojCp_ZOt2ccbQyZ3niBCU4DG6XL5htb" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <div class="vid-text"><p>In this video we cover the new image viewers in the ISB-CGC web app. Starting with a cohort, we show how histology slides can be viewed using caMicroscope and how radiology images can be viewed using the Osimis DICOM viewer(note: now the OHIF viewer)</p>
                        </div>
                    </li>
                    <li>
                        <h5>Exporting Cohorts</h5>
                        <iframe src="https://www.youtube-nocookie.com/embed/tKweSyrWK9I?list=PLOojCp_ZOt2ccbQyZ3niBCU4DG6XL5htb" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <div class="vid-text"><p>Learn how to export your cohorts in four different ways, including BigQuery, comma delimited files, cloud buckets and sharing with collaborators.</p>
                        </div>
                    </li>
                </ul>
            </div>

        </section>
    </div>

{% endblock %}

{% block js_file %}
	{{ block.super }}
	<script src="{% static 'js/landing.js' %}"></script>
{% endblock %}
