{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_css_libs %}
{% endblock %}

{% block title %}
    ISB-CGC|BigQuery Table Searcher
{% endblock %}
{% block description %}
    BigQuery Table Search
{% endblock %}
{% block page_name %}bq-meta-searcher{% endblock %}
{% block page_header %}
    <div class="bq-header-container container">
        <h1 class="page-header">BigQuery Table Search</h1>
        <ul class="nav">
            <li class="navbar-item">
                <a class="nav-link"
                   href="https://isb-cancer-genomics-cloud.readthedocs.io/en/latest/sections/BigQuery.html"
                   target="_blank">ISB-CGC BigQuery Documentation<i class="fa fa-external-link" aria-hidden="true"></i></a>
            </li>
            <li class="navbar-item">
                <a class="nav-link"
                   href="https://isb-cancer-genomics-cloud.readthedocs.io/en/latest/sections/HowTos.html"
                   target="_blank">ISB-CGC Notebooks<i class="fa fa-external-link" aria-hidden="true"></i></a>
            </li>
            <li class="navbar-item">
                <a class="nav-link"
                   href="https://console.cloud.google.com/bigquery"
                   target="_blank">Google BigQuery Console<i class="fa fa-external-link" aria-hidden="true"></i></a>
            </li>
            <li class="navbar-item">
                <a class="nav-link"
                   href="https://cloud.google.com/bigquery/what-is-bigquery"
                   target="_blank">About BigQuery<i class="fa fa-external-link" aria-hidden="true"></i></a>
            </li>
        </ul>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p>
                <strong>Explore and learn more about available ISB-CGC BigQuery tables with this search feature.</strong> Find
                tables of interest based on category, reference genome build, data type and wild card search.
            </p>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="custom-width-20">
{#    <div class="col-lg-3 col-md-3 col-sm-3">#}
        <div class="panel panel-default">
            <div class="panel-body">
                <form id="bq-meta-form">
                    <div>
                        <label>Status</label>
                        <select id="status" class="form-control bq-select" data-column-name="status">
                            {% for option in status.options %}
                                <option value="{{ option.value }}">{{ option.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="checkbox-div">
                        <label>Category</label>
                        {% for option in category.options %}
                            <div class="row">
                                <div class="col-sm-1">
                                    <input type="checkbox" class="bq-checkbox" name="cat_{{ forloop.counter0 }}"
                                       id="cat_chbx_{{ forloop.counter0 }}"
                                       value="{{ option.value }}" data-column-name="category">
                                </div>
                                <div class="col-sm-11">
                                    <label class="label-filter" for="cat_chbx_{{ forloop.counter0 }}">{{ option.label }}</label>
                                    <i class="fa fa-info-circle" data-placement="bottom" title="{{ option.description }}"></i>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div>
                        <label>Reference Genome</label>
                        <select class="form-control bq-select" data-column-name="referenceGenome">reference_genome
                            {% for option in reference_genome.options %}
                                <option value="{{ option.value }}">{{ option.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label>Source</label>
                        <select multiple data-placeholder="Choose Sources..."
                                class="autocomplete_select_box form-control bq-select" data-column-name="source">
                            {% for option in source.options %}
                                <option value="{{ option.value }}">{{ option.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label>Data Type</label>
                        <select multiple data-placeholder="Choose Data Types..."
                                class="autocomplete_select_box form-control bq-select" data-column-name="dataType">
                            {% for option in data_type.options %}
                                <option value="{{ option.value }}">{{ option.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="advSearch0" class="adv-div collapse">
                        <div>
                            <label>Dataset ID</label>
                            <input type="text" class="form-control bq-filter" data-column-name="datasetId">
                        </div>
                        <div>
                            <label>Table ID</label>
                            <input type="text" class="form-control bq-filter" data-column-name="tableId">
                        </div>
                        <div>
                            <label>Table Description</label>
                            <input type="text" class="form-control bq-filter" data-column-name="description">
                        </div>
                        <div>
                            <label>Labels</label>
                            <input type="text" class="form-control bq-filter" data-column-name="labels">
                        </div>
                        <div>
                            <label>Field Name</label>
                            <input type="text" class="form-control bq-filter" data-column-name="fields">
                        </div>
                    </div>
                    <br>
                    <div>
                        <button type="button"
                                class="btn reset-btn">Reset All Filters
                        </button>
                    </div>
                    <div>
                        <button type="button" data-target=".adv-div" data-toggle="collapse"
                                class="btn collapsed adv-toggle-btn">Show
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="custom-width-80">
{#    <div class="col-lg-9 col-md-9 col-sm-9">#}
        <div class="panel panel-default">
            <div class="spinner">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            <div class="panel-body">
                <table id="bqmeta" class="table table-striped" style="width:100%">
                    <thead>
                    <tr>
                        <th style="width:3%;"></th>
                        {#                        <th>Project ID</th>#}
                        <th style="width:20%;">Dataset ID</th>
                        {#                        <th>Table ID</th>#}
                        {#                        <th>Full ID</th>#}
                        <th style="width:19%;">Table ID</th>
                        <th style="width:19%;">Full ID</th>
                        <th style="width:9%;">Status</th>
                        <th style="width:8%;">Category</th>
                        <th>Reference Genome</th>
                        <th>Source</th>
                        <th>Data Type</th>
                        <th style="width:8%;">Num Rows</th>
                        <th style="width:8%;">Created Date</th>
                        <th style="width:7%;">Preview</th>
                        <th style="width:7%;">Description</th>
                        <th>Labels</th>
                        <th>Fields</th>

                        {#                        <th>Link</th>#}
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>
    </div>
    {#    </div>#}

{% endblock %}

{% block js_file %}{% static 'js/bq_meta_search.js' %}{% endblock %}
