{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{#{% load tz %}#}
{% block header %}
{% endblock %}

{% block link_page_name %}dashboard{% endblock %}
{% block page_name %}dashboard{% endblock %}

{% block page_header %}
<div class="container">
    <h1 class="page-header">Your Dashboard</h1>
</div>
{% endblock %}
{% block content %}
<div class="container">

    <section class="panel panel-default">
        <div class="panel-heading">
            <a role="button" data-target="#analysis-body" data-toggle="collapse" aria-expanded="true" aria-controls="analysis-body">
                <i class="fa fa-caret-down" style="display: inline-block;"></i>
            </a>
            <a href="{% url 'sample_analyses' %}">Sample Analyses</a> can be customized with the specific data you want to analyze. Start a new workbook with an analysis below.
        </div>
        <div class="panel-body collapse in" id="analysis-body">
            <div class="list-carousel">
                <ul class="list-holder">
                    <li class="item">
                        <!--TODO: get bar chart-->
                        <img class="img-fluid" src="{% static 'img/histogram.png' %}">
                        <p>Bar Chart</p>
                    </li>
                    <li class="item">
                        <img class="img-fluid" src="{% static 'img/histogram.png' %}">
                        <p>Histogram</p>
                    </li>
                    <li class="item">
                        <!--TODO: get bar chart-->
                        <img class="img-fluid" src="{% static 'img/scatter-plot.png' %}">
                        <p>Scatter Plot</p>
                    </li>
                    <li class="item">
                        <!--TODO: get bar chart-->
                        <img class="img-fluid" src="{% static 'img/violin-plot.png' %}">
                        <p>Violin Plot</p>
                    </li>
                    <li class="item">
                        <!--TODO: get bar chart-->
                        <img class="img-fluid" src="{% static 'img/histogram.png' %}">
                        <p>Violin Plot 2</p>
                    </li>
                    <li class="item">
                        <!--TODO: get bar chart-->
                        <img class="img-fluid" src="{% static 'img/histogram.png' %}">
                        <p>Cubby Hole</p>
                    </li>
                    <li class="item">
                        <img class="img-fluid" src="{% static 'img/seqpeak.png' %}" alt="">
                        <p>SeqPeak</p>
                    </li>
                </ul>
                <div class="before"><i class="fa fa-angle-left fa-2x"></i></div>
                <div class="after"><i class="fa fa-angle-right fa-2x"></i></div>
            </div>
        </div>
    </section>
    <section class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Saved Workbooks ({{ user.workbook_last_view_set.all|length }})</h3>
        </div>
        <div class="panel-body">
            <p>Workbooks store the Analyses you create -- and their related data.</p>
            <ul class="table-list">
            {% if user.workbook_last_view_set.all|length > 0 %}
                {% for wlv in user.workbook_last_view_set.all|dictsortreversed:'last_view'  %}
                    <li>
                        <a href="{% url 'workbook_detail' wlv.workbook.id %}">
                            <div class="list-main">
                                <h5 class="list-title">{{ wlv.workbook.name|title }}</h5>
                                <p>{{ wlv.workbook.description }}</p>
                            </div>
                            <div class="list-info">
                               {{ wlv.workbook.last_date_saved }}
                            </div>
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
        <div class="panel-footer">
             <form id="create-workbook" method="POST" action="{% url 'workbook_create' %}" class="pull-left">
                {% csrf_token %}
                 <button type="submit" class="btn btn-primary" ><i class="fa fa-plus"></i>Create a New Workbook</button>
             </form>
            <a class="btn btn-link" href="{% url 'workbooks' %}">Sample Workbooks</a>
        </div>
    </section>
    <div class="row">
        <div class="col-md-6">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Gene Favorites ({{ user.genefavorite_last_view_set.all|active:'genefavorite'|length }})</h3>
                </div>
                <div class="panel-body">
                    {% if user.genefavorite_last_view_set.all|active:'genefavorite'|length > 0 %}
                    <ul class="table-list">
                        {% for glv in user.genefavorite_last_view_set.all|active:'genefavorite' %}
                        <li>
                            <a href="{% url 'genes_detail' glv.genefavorite.id %}">
                               <span class="list-title">{{ glv.genefavorite.name }}</span>
                            </a>
                        </li>

                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>You don't have any saved Gene Favorites.</p>
                    <a href="{% url 'create_genes_list' %}">Create Gene Favorites</a>
                    {% endif %}
                </div>
            </section>
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Variable Favorites ({{ user.variablefavorite_last_view_set.all|active:'variablefavorite'|length }})</h3>
                </div>
                <div class="panel-body">
                    {% if user.variablefavorite_last_view_set.all|active:'variablefavorite'|length > 0 %}
                    <ul class="table-list">
                        {% for vlv in user.variablefavorite_last_view_set.all|active:'variablefavorite' %}
                           <li>
                               <a href="{% url 'variable_fav_detail' vlv.variablefavorite.id %}">
                                   <span class="list-title">
                                       {{ vlv.variablefavorite.name }}
                                   </span>
                               </a>
                           </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>You don't have any saved Variable Favorites.</p>
                    <a href="{% url 'variable_fav_create' %}">Create Variable Favorites</a>
                    {% endif %}
                </div>
            </section>
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                    <a href="{% url 'cohort_list' %}">Saved Cohorts ({{ user.cohort_last_view_set.all|active:'cohort'|length }})</a></h3>
                </div>
                <div class="panel-body">
                    {% if user.cohort_last_view_set.all|active:'cohort'|length > 0 %}
                    <ul class="table-list">
                        {% for clv in user.cohort_last_view_set.all|active:'cohort'|dictsortreversed:'last_view'|slice:':5' %}
                           <li>
                               <a href="{% url 'cohort_details' clv.cohort.id %}">
                                   <div class="list-main">
                                       <span class="list-title">{{ clv.cohort.name }}</span>
                                   </div>

                                   <div class="list-info">
                                       <span>{{ clv.cohort.last_date_saved }}</span>
                                   </div>
                               </a>
                           </li>
                        {% endfor %}
                        {% if user.cohort_last_view_set.all|active:'cohort'|length > 5 %}
                            <li><a href="{% url 'cohort_list' %}">View all</a></li>
                        {% endif %}
                    </ul>
                    {% else %}
                    <p>You don't have any saved Cohorts.</p>
                    <a href="{% url 'cohort_create' %}">Create Cohort</a>
                    {% endif %}
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Saved Projects ({{ user.project_last_view_set.all|active:'project'|length }})</h3>
                </div>
                <div class="panel-body">
                    <p>You can upload from your own research projects.</p>
                    {% if user.project_last_view_set.all|active:'project'|length > 0 %}
                    <ul class="table-list">
                        {% for plv in user.project_last_view_set.all|active:'project'|slice:'6' %}
                           <li>
                               <a href="{% url 'project_detail' plv.project.id %}">
                                   <span class="list-title">{{ plv.project.name }}</span>
                                   {% if plv.project.description %}
                                    <p>{{ plv.project.description }}</p>
                                   {% endif %}
                               </a>

                           </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if user.project_last_view_set.all|active:'project'|length > 6 %}
                        <a href="{% url 'project_list' %}">View All</a>
                    {% endif %}
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary"><i class="fa fa-cloud-upload"></i>Upload Project Data</button>
                </div>
            </section>
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Public Data ({{ user.project_last_view_set.all|active:'project'|is_public:'project'|length }})</h3>
                </div>
                <div class="panel-body">
                    <p>Browse publicly-available studies and data</p>
                </div>
            </section>
        </div>
    </div>

</div>
{% endblock %}

{% block js_file %}{% static 'js/dashboard.js' %}{% endblock %}