{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css_libs %}
{#    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-tokenfield.min.css' %}" />#}
{#    <link type="text/css" rel="stylesheet" href="{% static 'css/tokenfield-typeahead.min.css' %}" />#}
    <link type="text/css" rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" />
{% endblock %}

{% block header %}
{#    <script type="text/javascript" src="{% static 'js/libs/d3.min.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/libs/d3-tip.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/libs/jquery-ui-autocomplete.min.js' %}"></script>#}
{% endblock %}

{% block page_name %}feature_test{% endblock %}

{% block content %}

    <input class="form-control" type="text" id="features" name="gene" placeholder="Start typing a clinical feature name here"/>
    <input class="form-control" type="text" id="genes" name="gene" placeholder="Start typing a gene name here"/>
    <script data-main="{% static 'js/feature_test.js' %}" src="{% static 'js/libs/require.js' %}"></script>
{% endblock %}
