{% load staticfiles %}
{% load tz %}

{% block saml_content %}

    {% if not user_details.NIH_username or not user_details.NIH_active %} {# No eRA account OR no current dbGaP access #}

        {% if not user_details.NIH_username %}
            <p>Apply for dbGaP Authorized Access to access underlying Level 1 genomics data. </p>
            <p><a href="{% url 'demo:saml_index' %}?sso">Associate with eRA Commons Account</a></p>
        {% else %}
            <p><a href="{% url 'demo:saml_index' %}?sso">Log in with your NIH identity: {{ user_details.NIH_username }}</a></p>
            <hr>
            <p><a data-toggle="modal" data-target="#unlink-nih-account-modal">Unlink {{ user_details.email }} from the NIH identity: {{ user_details.NIH_username }}</a></p>
        {% endif %}
        <p><a href="https://dbgap.ncbi.nlm.nih.gov/aa/wga.cgi?page=login" target="_blank">Learn More</a></p>

    {% elif not user_details.dbGaP_authorized %} {# no dbGaP #}

        <p><i class="fa fa-check-circle"></i> eRA Account Authenticated</p>
        <hr>
        <p>Congratulations, {{ user_details.NIH_username }}! Your eRA account has been authenticated. Now we need to verify if you have dbGaP authorization. This process may take up to 24 hours.</p>

        <a href="https://dbgap.ncbi.nlm.nih.gov/aa/wga.cgi?page=login" target="_blank">How to Apply for dbGaP Access</a>
    {% else %} {# Both authorized #}
        <p><i class="fa fa-check-circle"></i> dbGaP Access Authorized</p>
        <hr>
        {% with user_datasets_count=user_details.auth_datasets|length user_auth_datasets=user_details.auth_datasets %}
            {% if user_datasets_count > 0 %}
                <p>Congratulations, {{ user_details.NIH_username }}! You now have access to the following ISB-CGC controlled dataset{% if user_datasets_count > 1 %}s{% endif %}:</p>
                <ul>
                    {% for dataset in user_auth_datasets %}
                        <li><a href="https://www.ncbi.nlm.nih.gov/projects/gap/cgi-bin/study.cgi?study_id={{ dataset.whitelist_id }}" target="_BLANK">{{ dataset.name }}</a>{% if dataset.duca_id %} - <a href="https://dbgap.ncbi.nlm.nih.gov/aa/wga.cgi?view_pdf&stacc={{ dataset.duca_id }}" target="_BLANK">DUCA</a>{% endif %}</li>
                    {% endfor %}
                </ul>
                <p>Your access is valid until:</p>
                <p id="NIH_expiration"></p>
                <p><a href="{% url 'demo:saml_index' %}?sso">Extend controlled access period to 24 hours from now.</a></p>
            {% else %}
                <p>Congratulations, {{ user_details.NIH_username }}! You are successfully authorized with dbGaP. Your access is valid until:</p>
                <p id="NIH_expiration"></p>
                <p><a href="{% url 'demo:saml_index' %}?sso">Extend controlled access period to 24 hours from now.</a></p>
                <p>We do not currently have any authorized datasets on record for this NIH username. If you believe this is in error, please contact dbGaP and inquire as to your status on the dataset whitelists.</p>
            {% endif %}
        {% endwith %}
    {% endif %}

    {% if membership %}
        <hr>
        <p>
           You are a member of the group isb-cgc-cntl.
            <a data-toggle="modal" data-target="#bucket-contents-modal">View bucket contents</a>
        </p>

    {% endif %}

    {# If we're associated with an NIH account but not active, include the unlinking dialog #}
    {% if user_details.NIH_username and not user_details.NIH_active %}
    <div class="modal fade" id="unlink-nih-account-modal" tabindex="-1" role="dialog" aria-labelledby="unlink-nih-account-header" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="unlink-nih-account-header">Unlink {{ user_details.email }} from the NIH identity '{{ user_details.NIH_username }}'?</h4>
                </div>
                <div class="modal-body">
                    <p>
                        This will remove your access to any controlled datasets. In addition, service accounts from Google Cloud Projects you are associated with
                        which were accessing controlled data will also lose their access.
                    </p>
                </div>
                <form id="unlink-nih-account" method="GET" action="{% url 'unlink_accounts' %}">
                    {% csrf_token %}
                    <div class="modal-footer">
                        <input type="submit" value="Unlink" class="btn btn-primary" />
                        <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% endif %}

    <script type="text/javascript"> 
        var expiry_time = new Date("{{ user_details.NIH_assertion_expiration|safe }}".replace(" ","T"));
        if(document.getElementById('NIH_expiration') != null)
            document.getElementById('NIH_expiration').innerHTML = expiry_time; 
    </script>
{%  endblock %}