{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block title %}Analyses | ISB-CGC{% endblock %}}
{% block extra_css_libs %}{% endblock %}
{% block header %}{% endblock %}

{% block link_page_name %}sample_analyses{% endblock %}
{% block page_name %}sample_analyses{% endblock %}

{% block page_header %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}">Your Dashboard</a></li>
    </ol>
    <h1 class="page-header">Analyses</h1>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% for plot in types %}
            <div class="col-md-3">
                <div class="analysis panel panel-default">
                    <div class="panel-body">
                        <img class="img-fluid" src="{% static plot.image %}" alt="Plot Image">
                        <h5>{{ plot.name | safe }}</h5>
                        <p>{{ plot.description | safe }}</p>
                    </div>
                    <div class="panel-footer">
                        <form action="{% url 'worksheet_create_with_analysis' %}" method="POST" class="center">
                            {% csrf_token %}
                            <input type="hidden" name="analysis" value="{{ plot.name }}">
                            <button type="submit" class="btn btn-link">Start A New Workbook {{ plot.name }}</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
    <script type="text/javascript">
        var USER_SETTINGS_KEY = 'user_' + {{ request.user.id }} + '_dash_settings';
    </script>
{% endblock %}
