{% if errors %}
We encountered some errors exporting your manifests; not all of them may have been exported. These have been marked.
    Please contact us for assistance in exporting these cohorts.
{% endif %}
{% if long_running %}
Your manifest job is still exporting. Please wait five minutes to allow the export to complete. Once finished,
    the following table or tables
{% else %}
Your manifest job has finished exporting. The following table or tables
{% endif %}
will be available for seven (7) days, accessible via your {{ email }} Google Account: <br />
{% for table in tables %}
<b>{{ table.full_id }}</b> {% if table.error %} (ERROR) {% endif %}
<a role=button" class="copy-this" content="{{ table.full_id }}"  title="Copy table ID to clipboard">
    ( <i class="fa-solid fa-copy" aria-hidden="true"></i> )
</a>:
<a class="external-link" data-toggle="modal" data-target="#external-web-warning" url="{{ table.uri }}">
    {{ table.uri }} <i class="fa-solid fa-external-link external-link-icon" aria-hidden="true"></i>
</a><br />
{% endfor %}