{% if long_running %}
Your manifest job is still exporting. Please wait five minutes to allow the export to complete. Once finished, table
{% else %}
Your manifest job has finished exporting. Table
{% endif %}
<a class="external-link" data-toggle="modal" href="" data-target="#external-web-warning" url="{{ table_uri }}">{{ full_table_id }} <i class="fa fa-external-link external-link-icon" aria-hidden="true"></i></a> will be available for seven (7) days, accessible via
your {{ email }} Google Account at <a class="external-link" href="" data-toggle="modal" data-target="#external-web-warning" url="{{ table_uri }}">{{ table_uri }}  <i class="fa fa-external-link external-link-icon" aria-hidden="true"></i></a>