{% load static %}

    <!-- BQ Export Modal -->
    <div class="modal fade" id="export-to-bq-modal" tabindex="-1" role="dialog" aria-labelledby="export-to-bq-header" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="export-to-bq-header" class="modal-title">{{ export_type }} Export to BigQuery</h4>
                    <div class="modal-js-messages" id="export-to-bq-js-messages">
                    </div>
                </div>
                <form id="export-to-bq-form" method="POST" action="{{ export_url }}">
                    {% csrf_token %}
                    <input type="hidden" class="param" name="build" value="{{ build }}" />
                    <input type="hidden" class="param" name="export-dest" value="table" />
                    <div class="loading-overlay" style="display: none;"><div class="spinner"><div><i class="fa fa-cog fa-spin"></i> Loading your BQ datasets and tables...</div></div></div>
                    <div class="modal-body">
                        <div class="message-container"></div>
                        <div class="form-group">
                            <label for="export-to-bq-project-dataset">Choose a Project and Dataset:</label>
                            <select id="export-to-bq-project-dataset" name="project-dataset" class="form-control">
                                <option value="" disabled selected type="label">Please select a project and dataset</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <ul class="table-type" disabled>
                                <div class="radio table-type">
                                    <label class="table-type" title="Select a project and dataset to enable this option."><input class="table-type" type="radio" name="table-type" value="new" disabled checked> Make a new table</label>
                                </div>
                                <div class="radio table-type">
                                    <label class="table-type" title="Select a project and dataset to enable this option."><input class="table-type" type="radio" name="table-type" value="append" disabled> Append to an existing table</label>
                                </div>
                            </ul>
                        </div>
                        <div class="form-group table-list" style="display: none;">
                            <label for="export-to-bq-table">Choose a table:</label>
                            <select id="export-to-bq-table" name="table-name" class="form-control">
                                <option value="" disabled selected type="label">Please select a table</option>
                            </select>
                        </div>
                        <div class="form-group new-table-name">
                            <label for="new-table-name">Name:</label>
                            <input title="Select a project and dataset to enable this option." disabled class="form-control new-table-name" type="text" maxlength="1024" placeholder="If left blank, a table name will be provided." id="new-table-name" name="new-table-name" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Export" class="btn btn-primary" />
                        <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                        <div id="export-underway" class="collapse" style="display: none;">
                            <i class="fa fa-circle-o-notch fa-spin"></i> Exporting {{ export_type }}...
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>