<!-- Cart Definition Modal -->
<div class="modal fade" id="cart-description-modal" tabindex="-1" role="dialog"
     aria-labelledby="cartDefitionModal" aria-hidden="true" data-file-timestamp="{% now "Ymd_Gis" %}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="cartDefitionModal">Cart Definition</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
