<div id="camic-files" class="tab-pane data-tab" data-file-type="camic" role="tabpanel">
    <div id="camic-filter-panel" class="col-lg-3 col-md-3 col-sm-3 side-filter-panel">
        <div class="panel panel-default hidden">
            <div class="panel-body">
                <label for="build">Build</label>
                <select aria-label="Build" id="camic-build" class="form-control build">
                    <option value="HG19" selected>HG19</option>
                </select>
            </div>
        </div>
        <div class="panel panel-default filter-panel">
            {% for attr_build, vals in metadata_data_attr.items %}
            <div class="panel-body tab-content filter-build-panel" data-filter-build="HG19" id="camic-filter-panel-HG19" {% if build != attr_build %}style="display: none;"{% endif %}>
                <ul class="list-group" id="metadata-data-accordian-camic" role="tablist" aria-multiselectable="true">
                    <li class="list-group-item">
                        <div id="heading-camic-HG19-case-id" class="list-group-item__heading">
                            <a role="button" data-toggle="collapse" data-parent="#metadata-data-accordian-all"
                               href="#collapse-camic-HG19-case-id" aria-expanded="false"
                               aria-controls="collapse-camic-HG19-case-id">
                                <i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i> CASE
                            </a>
                        </div>
                        <div id="collapse-camic-HG19-case-id"
                             class="list-group-item__body collapse cohort-feature-select-block" role="tabpanel"
                             data-feature-type="donor"
                             aria-labelledby="heading-camic-HG19-case-id" data-feature-name="case-id"
                             data-feature-displ-name="CASE ID">
                            <div class="search_enter">
                                <div class="search_input">
                                    <input class="case-barcode-search-text" type="search" aria-label="Case Barcode" placeholder="Case Barcode"
                                           value="">
                                    <a class="case-barcode-search-clear-btn search_clear_btn"><i class="fa fa-times-circle"></i></a>
                                    <a class="case-barcode-search-btn search_btn"><i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% for attr in vals %}
                        <li class="list-group-item">
                            <div id="heading-camic-HG19-{{attr.name}}" class="list-group-item__heading">
                                <a role="button" data-toggle="collapse" data-parent="#metadata-data-accordian-camic" href="#collapse-camic-HG19-{{ attr.name }}" aria-expanded="false" aria-controls="collapse-camic-HG19-{{ attr.name }}">
                                    <i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i> {{ attr.displ_name }}
                                </a>
                            </div>
                            <div id="collapse-camic-HG19-{{ attr.name }}" class="list-group-item__body collapse cohort-feature-select-block" role="tabpanel" data-feature-type="donor"
                                 aria-labelledby="heading-camic-HG19-{{ attr.name }}" data-feature-name="{{ attr.name }}" data-feature-displ-name="{{ attr.displ_name }}">
                                <ul class="search-checkbox-list" id="camic-{{ attr.name }}">
                                    {% with attr.values|how_many_more:6 as num_more %}
                                        {% for v in attr.values|check_for_order:attr.name %}
                                            {% if forloop.counter0 < 6 %}
                                                <li class="checkbox">
                                                    <label {% if v.tooltip %} title="{{ v.tooltip }}" {% endif %}>
                                                        <input type="checkbox" name="elements-selected" data-value-name="{{ v.name }}" id="camic-HG19-{{ attr.name }}-{{ v.value }}"
                                                               data-feature-name="{{ attr.name }}" data-count="{{ v.count }}">
                                                        {% if v.value == 'None' %}NA{% elif v.displ_name %}{{ v.displ_value }}{% else %}{{ v.name }}{% endif %}
                                                         <span class="count">({{ v.count }})</span>
                                                    </label>
                                                </li>
                                            {% elif forloop.counter0 == 6 and num_more > 0 %}
                                                <p class="more-checks"><a class="show-more">{{ num_more }} more</a><span class="checks"><a class="check-all">Check All</a> / <a class="uncheck-all">Uncheck All</a></span></p>
                                                <li class="extra-values checkbox" style="display:none;">
                                                    <label {% if v.tooltip %} title="{{ v.tooltip }}" {% endif %}>
                                                        <input type="checkbox" name="elements-selected" data-value-name="{{ v.name }}" id="camic-HG19-{{ attr.name}}-{{ v.value }}"
                                                               data-feature-name="{{ attr.name }}" data-count="{{ v.count }}">
                                                        {% if v.value == 'None' %}NA{% elif v.displ_name %}{{ v.displ_name }}{% else %}{{ v.name }}{% endif %}
                                                         <span class="count">({{ v.count }})</span>
                                                    </label>
                                                </li>
                                            {% else %}
                                                <li class="extra-values checkbox" style="display:none;">
                                                    <label {% if v.tooltip %} title="{{ v.tooltip }}" {% endif %}>
                                                        <input type="checkbox" name="elements-selected" data-value-name="{{ v.name }}" id="camic-HG19-{{ attr.name }}-{{ v.value }}"
                                                               data-feature-name="{{ attr.name }}" data-count="{{ v.count }}">
                                                        {% if v.value == 'None' %}NA{% elif v.displ_name %}{{ v.displ_name }}{% else %}{{ v.name }}{% endif %}
                                                         <span class="count">({{ v.count }})</span>
                                                    </label>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if num_more > 0 %}
                                            <p class="less-checks" style="display: none;"><a class="show-less">less</a><span class="checks"><a class="check-all">Check All</a> / <a class="uncheck-all">Uncheck All</a></span></p>
                                        {% endif %}
                                    {% endwith %}
                                </ul>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="camic-file-panel" class="file-panel col-sm-9 col-md-9 col-lg-9">
        <div class="filelist-panel panel">
            <div class="panel-heading">
                <div class="file-panel-toggle">
                    <a class="fa fa-angle-double-left" title="Click to hide the filters"></a>
                    <a class="fa fa-angle-double-right" title="Click to see the filters"></a>
                </div>

                <h4>File Listing</h4>
                <div class="page-action-group pull-right">
                    <ul>
                        <li class="menu-item">
                            <div class="filelist-obtain">
                                <span class="pending-left" id="download-in-prog" style="display: none;"><i class="fa fa-circle-o-notch fa-spin"></i>Downloading...</span>
                                <a class="download-link" href="{{ download_url }}" title="Download file manifest as CSV"><button class="btn btn-info download-btn">CSV</button></a>{# <a id="download-link" href="{{ download_url }}" title="Download file manifest as JSON"><button class="btn btn-info">JSON</button></a>#}
                                <input type="hidden" class="download-token" value="" />
                            </div>
                        </li>
                        <li class="menu-item">
                            <div class="filelist-obtain">
                                <button class="btn btn-info export-btn" data-toggle="modal" {% if has_user_data %}disabled {% endif %}data-target="#export-to-bq-modal" title="{% if has_user_data %}Export for file manifests containing user data is not available at this time.{% else %}Export this file manifest to a BigQuery table{% endif %}">BigQuery</button>
                                <button class="btn btn-info export-btn" data-toggle="modal" {% if has_user_data %}disabled {% endif %}data-target="#export-to-gcs-modal" title="{% if has_user_data %}Export for file manifests containing user data is not available at this time.{% else %}Export this file manifest to a GCS bucket{% endif %}">GCS</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="dataTables_info">
                    <span class="file-page-count">Showing <span class="showing">25</span> of <span class="total-file-count"></span> entries</span>
                    <span class="no-file-page-count" style="display: none;">Showing 0 files.</span>
                    <span class="spinner"><i class="fa fa-spin fa-spinner hidden"></i></span>
                </div>
                <div>
                    <div class="dataTables_length files-per-page">
                        <label for="files-per-page-camic-select">Show</label>
                        <select id="files-per-page-camic-select">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <label>entries</label>
                    </div>
                    <div class="dataTables_goto_page">
                        <label for="goto-page-no-camic">Page</label>
                        <input id="goto-page-no-camic" type="number" class="goto-page-number" min="1" max="1">
                        <div class="goto-page-button dataTables_button">Go</div>
                    </div>
                    <div class="dataTables_paginate">
                        <a class="prev-page paginate_button dataTables_button disabled">Previous</a>
                        <span class="paginate_button_space"/>
                        <a class="next-page paginate_button dataTables_button">Next</a>
                    </div>
                </div>
                <div class="column-inputs">
                    <a role="button" data-toggle="collapse" href="#column-toggle-div-camic" aria-expanded="false" aria-controls="column-toggle-div-camic">
                        Choose Columns to Display <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i>
                    </a>
                    <div id="column-toggle-div-camic" class="column-collapse collapse">
                        <div class="column-toggle"></div>
                        <p>*Click on column names above to hide/show columns in table</p>
                    </div>
                </div>
                <table class="table table-striped file-list-table sortable_table" aria-label="File Listing Table">
                    <thead>
                        <tr>
                            <th class="col-program" columnId="col-program">Program</th>
                            <th class="col-barcode" columnId="col-barcode">Case Barcode</th>
                            <th class="col-filename" columnId="col-filename">File Name</th>
                            <th class="col-diseasecode" columnId="col-diseasecode">Disease Code</th>
                            <th class="col-thumbnail sorting_disabled">Thumbnail</th>
                            <th class="col-datatype" columnId="col-datatype">Data Type</th>
                            <th class="col-dataformat" columnId="col-dataformat">Data Format</th>
                            <th class="col-filesize" columnId="col-filesize">File Size</th>
                        </tr>
                    </thead>
                    <colgroup>
                        <col style="width: 7%">
                        <col style="width: 10%">
                        <col style="width: 33%">
                        <col style="width: 10%">
                        <col style="width: 14%">
                        <col style="width: 10%">
                        <col style="width: 9%">
                        <col style="width: 7%">
                    </colgroup>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var total_files = {{ total_file_count|safe }};
    var file_listing = {{ file_list|tojson|safe }};
</script>
