<div id="camic-files" class="tab-pane data-tab" data-file-type="camic" role="tabpanel">
    <div id="camic-file-panel" class="col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <input type="submit" form ="view-camic" value="Launch caMicroscope" class="btn btn-primary pull-right nocap cam" />
                <h4>Selected Image Files</h4>
            </div>
            <div class="panel-body file-list">
                <div id="file-max-alert-cam" class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    The maximum number of images which can be queued for caMicroscope simultaneously is <span class="file-limit-camic">#</span>.
                </div>
                <p><span class="selected-count-camic">0</span> file(s) selected (<span id="selected-file-limit-camic">limit <span class="file-limit-camic file-limit">#</span></span>)</p>
                <div id="tokenfield-holder-cam">
                    <!-- "caM selected file tokenizer" -->
                    <textarea name="selected-files-cam" class="form-control tokenfield" id="selected-files-cam" placeholder="Select files"></textarea>
                </div>
                <form id="view-camic" method="POST" action="{% url 'camic' %}" target="_blank">
                    <input type="text" class="hidden_form_value" id="checked_list_input_camic" name="checked_list" data-type="checked_list">
                    {% csrf_token %}
                </form>
            </div>
        </div>
        <div class="filelist-panel panel">
            <div class="panel-heading">
                <h4>File Listing</h4>
            </div>
            <div class="panel-body">
                <div class="dataTables_info">
                    <span class="file-page-count">Showing <span class="showing">25</span> of <span class="total-file-count"></span> entries</span>
                    <span class="no-file-page-count" style="display: none;">Showing 0 files.</span>
                    <span class="spinner"><i class="fa fa-spin fa-spinner hidden"></i></span>
                </div>
                <div>
                    <div class="dataTables_length files-per-page"><label>Show</label>
                        <select>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <label>entries</label>
                    </div>
                    <div class="dataTables_paginate">
                        <a class="prev-page paginate_button disabled">Previous</a>
                        <span class="paginate_button_space"/>
                        <a class="next-page paginate_button">Next</a>
                    </div>
                </div>
                <div class="column-inputs">
                    <a role="button" data-toggle="collapse" href="#column-toggle-div-camic" aria-expanded="false" aria-controls="column-toggle-div-camic">
                        Choose Columns to Display <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i>
                    </a>
                    <div id="column-toggle-div-camic" class="column-collapse collapse">
                        <div class="column-toggle"></div>
                        <p>*Click on column names to hide/show columns in table</p>
                    </div>
                </div>
                <table class="table table-striped file-list-table sortable_table" aria-label="File Listing Table">
                    <thead>
                        <tr>
                            <th class="col-program" columnId="col-program">Program</th>
                            <th class="col-barcode" columnId="col-barcode">Case Barcode</th>
                            <th class="col-filename" columnId="col-filename">File Name</th>
                            <th class="col-diseasecode" columnId="col-diseasecode">Disease Code</th>
                            <th class="col-thumbnail sorting_disabled">Thumbnail</th>
                            <th class="col-datatype" columnId="col-datatype">Data Type</th>
                            <th class="col-dataformat" columnId="col-dataformat">Data Format</th>
                            <th class="col-viewer sorting_disabled">View</th>
                        </tr>
                    </thead>
                    <colgroup>
                        <col style="width: 7%">
                        <col style="width: 10%">
                        <col style="width: 35%">
                        <col style="width: 10%">
                        <col style="width: 14%">
                        <col style="width: 10%">
                        <col style="width: 9%">
                        <col style="width: 5%">
                    </colgroup>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var total_files = {{ total_file_count|safe }};
    var file_listing = {{ file_list|tojson|safe }};
</script>
