<div id="all-files" class="tab-pane data-tab" data-file-type="all" role="tabpanel">
    <div id="all-filter-panel" class="col-lg-3 col-md-3 col-sm-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <label for="build">Build</label>
                <select aria-label="Build" class="form-control build">
                    <option value="HG38" {% if build == 'HG38' %}selected{% endif %}>HG38</option>
                    <option value="HG19" {% if build == 'HG19' %}selected{% endif %}>HG19</option>
                </select>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" id="heading-platforms">Platforms</div>
            <div class="panel-body" id="platforms-panel">
                <ul class="search-checkbox-list platform-counts" id="platform-{{ build }}">
                    {% for platform in platform_counts %}
                        <li>
                            <input data-platform-count="{{ platform.count }}" type="checkbox" name="platform-selected" id="{{ platform.platform }}" >
                            <label for="{{ platform.platform }}">{{ platform.platform|get_readable_name }}</label>
                            <span class="count">({{ platform.count }})</span>
                        </li>
                    {% empty %}
                        <i>No platforms available to list.</i>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div id="all-file-panel" class="col-lg-9 col-md-9 col-sm-9">
        <div class="filelist-panel panel">
            <div id="file-list-warning" class="alert alert-warning alert-dismissable" style="display: none;">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                The maximum number of files which can be downloaded in a list is <span class="file-list-limit">#</span>. Your selections currently total
                <span class="file-list-total">#</span>. Please filter your list using the platform panel at the left (or make a smaller cohort) to limit the size of your file download list.
            </div>
            <div class="panel-heading">
                <h4>File Listing</h4>
                <div class="page-action-group pull-right">
                    <ul>
                        <li class="menu-item">
                            <div class="filelist-obtain">
                                <a id="download-link" href="{{ download_url }}" title="Download file manifest as CSV"><button class="btn btn-info">CSV</button></a> <a id="download-link" href="{{ download_url }}" title="Download file manifest as JSON"><button class="btn btn-info">JSON</button></a>
                            </div>
                        </li>
                        <li class="menu-item">
                            <div class="filelist-obtain">
                                <a id="download-link" href="" title="Export file manifest to BQ"><button class="btn btn-info">BQ</button></a> <a id="download-link" href="" title="Export file manifest to GCS"><button class="btn btn-info">GCS</button></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <p class="file-page-count">Showing 20 files. Page: <span class="page-num">1</span> of <span class="file-count">unknown</span> pages.</p>
                <p class="no-file-page-count" style="display: none;">Showing 0 files.</p>
                <div>
                    <a role="button" class="btn btn-primary prev-page disabled">Previous Page</a>
                    <a role="button" class="btn btn-primary next-page">Next Page</a>
                    <span class="spinner"><i class="fa fa-spin fa-spinner hidden"></i></span>
                </div>
                <table class="table table-striped file-list-table" aria-label="File Listing Table">
                    <thead>
                        <tr>
                            <th class="col-program">Program</th>
                            <th class="col-barcode">Sample Barcode</th>
                            <th class="col-diseasecode">Disease Code</th>
                            <th class="col-exp-strategy">Exp. Strategy</th>
                            <th class="col-platform">Platform</th>
                            <th class="col-datacat">Data Category</th>
                            <th class="col-datatype">Data Type</th>
                            <th class="col-dataformat">Data Format</th>
                        </tr>
                    </thead>
                    <colgroup>
                        <col style="width: 8%">
                        <col style="width: 17%">
                        <col style="width: 8%">
                        <col style="width: 14%">
                        <col style="width: 12%">
                        <col style="width: 16%">
                        <col style="width: 17%">
                        <col style="width: 8%">
                    </colgroup>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

