{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% load cohort_filters %}
{#{% load tz %}#}
{% block header %}
    <link rel="stylesheet" href="{% static  'css/jquery-ui.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/spinner.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/cohort-list.css' %}">
{% endblock %}

{% block title %}
    Cohorts | IDC
{% endblock %}

{% block link_page_name %}cohorts-list{% endblock %}
{% block page_name %}cohorts-list{% endblock %}

{% block page_header %}
<div class="container-fluid">
    <h1 class="page-header pull-left">Cohorts</h1>
</div>
{% endblock %}

{% block content %}

{% url 'cohort_manifest_base' as export_uri %}
{% with user_is_social=request.user|has_social user_is_auth=request.user.is_authenticated is_cohort=is_cohort %}
    {% include "cohorts/export-manifest-modal.html" with export_uri=export_uri user_is_social=user_is_social user_is_auth=user_is_auth is_cohort=is_cohort %}
{% endwith %}

<div class="container-fluid">
    <div class="panel panel-default short-inner-content cohorts-panel hidden">
        <div class="panel-body" id="saved-cohorts-list">
            {% if cohorts.has_private_cohorts %}
                <table id="cohort-table" class="table table-striped tablesorter cohort-table table-hover">
                    <thead>
                        <th></th>
                        <th class="id-col">Cohort ID</th>
                        <th class="name-col">Name</th>
                        <th class="case-col">Case<br /> Count</th>
                        <th class="study-col">Study<br /> Count</th>
                        <th class="series-col">Series<br /> Count</th>
                        <th class="disk-size-col">Disk<br /> Size</th>
                        <th class="version-col">Data Version</th>
                        <th class="last-export-col">Last Export</th>
                        <th class="export-col">Export Manifest</th>
                        <th class="compare-col">Version Compare</th>
                        <th class="query-str-col">Query String</th>
                        <th class="delete-col">Delete</th>
                    </thead>
                    <colgroup>
                        <col style="width: 2%">
                        <col style="width: 5%; min-width: 45px;">
                        <col style="width: 22%">
                        <col style="width: 3%; min-width: 45px;">
                        <col style="width: 3%; min-width: 45px;">
                        <col style="width: 3%; min-width: 45px;">
                        <col style="width: 5%">
                        <col style="width: 16%">
                        <col style="width: 10%">
                        <col style="width: 3%; min-width: 45px;">
                        <col style="width: 3%; min-width: 45px;">
                        <col style="width: 3%; min-width: 45px;">
                        <col style="width: 3%; min-width: 45px;">
                    </colgroup>
                    <tbody>
                    {% for cohort in cohorts %}
                    {% with only_active_versions=cohort.only_active_versions valid_export=cohort.get_export_is_valid has_inactive_attr=cohort.has_inactive_attr %}
                        <tr data-description='{% if cohort.description %}{{ cohort.description }}{% else %}N/A{% endif %}'
                            data-collex="{{ cohort.collections }}"
                            data-name="{{ cohort.name }}"
                            data-series-count="{{ cohort.series_count }}"
                            data-cohort-id="{{ cohort.id }}"
                            data-filters="{{ cohort.get_filter_display_string }}"
                            data-file-parts-count="{{ cohort.file_parts_count }}"
                            data-display-file-parts-count="{{ cohort.display_file_parts_count }}"
                            data-inactive-versions="{% if not only_active_versions %}True{% else %}False{% endif %}"
                        >
                            <td class = "details-control" title="Click to display cohort description."> <i class="fa-solid fa-plus-circle show-button"> </i><i class="fa-solid fa-circle-minus hide-button"> </i> </td>
                            </td>
                            <td class="id-col">
                                {{ cohort.id }}
                            </td>
                            <td class="name-col" data-order="{{ cohort.name }}">
                                {% if has_inactive_attr %}
                                    <i class="fa fa-exclamation-circle inactive-attr"></i>
                                {% endif %}
                                {% if only_active_versions %}
                                  <a href="{% url 'cohort_details' cohort.id %}"
                                     title="View Cohort Details in the Data Explorer">
                                       {{ cohort.name }}
                                  </a>

                                {% else %}
                                    <span title="Cohorts with inactive data versions cannot be viewed in the Data Explorer.">{{ cohort.name }}</span>
                                {% endif %}
                            </td>
                            <td class="case-col">{{ cohort.case_count }}</td>
                            <td class="study-col">{{ cohort.study_count }}</td>
                            <td class="series-col">{{ cohort.series_count }}</td>
                            <td class="disk-size-col">{{ cohort.total_disk_size|convert_disk_size_cohort }}</td>
                            <td class="version-col{% if not only_active_versions %} inactive-data-version{% endif %}">
                                <p>
                                {% with cohort_versions=cohort.get_data_versions %}
                                    {{ cohort_versions|get_displays:True }}
                                    {% if not only_active_versions %} (Inactive){% endif %}
                                {% endwith %}
                                </p>
                            </td>
                            <td class="export-col{% if not valid_export and cohort.last_exported_table %} inactive-export{% endif %}">
                                <p>
                                    {% with table_uri=cohort.get_last_export_uri %}
                                        {% if valid_export %}
                                            <a href="{{ table_uri }}" target="_blank" rel="noreferrer nofollow" title="{{ cohort.last_exported_table }}">
                                                {{ cohort.last_exported_date|date:"Y/m/d h:i e"}}
                                            </a>
                                        {% elif cohort.last_exported_table %}
                                            {{ cohort.last_exported_date|date:"Y/m/d h:i e"}} (Expired)
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    {% endwith %}
                                </p>
                            </td>
                            <td  role="menuitem">
                                <button class="btn btn-special export-manifest export-cohort-manifest"
                                        data-toggle="modal"
                                        data-cohort-id="{{ cohort.id }}"
                                        data-target="#export-manifest-modal"
                                        data-series-count="{{ cohort.series_count }}"
                                        aria-label="export-manifests" role="button"
                                        aria-expanded="true">
                                    <i class="fa-solid fa-clipboard"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-icon compare-version" role="button"
                                    title="{% if only_active_versions %}Version is active.{% else %}Compare this cohort's counts in the new data version.{% endif %}"
                                    {% if only_active_versions %}disabled{% endif %}
                                >
                                    <i class="fa-solid fa-code-compare"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn-icon bq-string-display"
                                    data-toggle="modal"
                                    data-target="#bq-string-display"
                                    data-cohort-id="{{ cohort.id }}"
                                    data-bq-string-uri="{% url 'bq_string' cohort.id %}{% if not only_active_versions %}?update=true{% endif %}"
                                    title="View the BigQuery String for this cohort"
                                ><img src="{% static 'img/bq_icon.png' %}"></button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-info delete-cohort" data-toggle="modal"
                                        data-cohort-id="{{ cohort.id }}"
                                        data-target="#delete-cohorts-modal"
                                        aria-label="delete-cohorts" role="button"
                                        aria-expanded="true"
                                        title="Delete cohort ID {{ cohort.id }}"
                                >
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    {% endwith %}
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="panel-body">
                    <br>
                    <p class="center">You don't have any cohorts created yet. </p><p class="center"><a href="{% url 'explore_data' %}" class="btn btn-primary">Create Your First Cohort</a></p>
                    <br>
                </div>
            {% endif %}
        </div>
    </div>
</div>

    <!-- Delete Cohort Modal -->
    <div class="modal fade" id="delete-cohorts-modal" tabindex="-1" role="dialog" aria-labelledby="delete-cohort-header" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delete-cohort-header">Delete Cohorts</h4>
                </div>
                <form id="delete-cohort-form" method="POST" action="{% url 'delete_cohort' %}">
                    <div class="modal-body">
                        <label>Are you sure you want to delete cohort #<span class="del-cohort"></span>?</label>
                        <p class="form-control-static selected-cohorts"></p>
                    </div>
                    <div class="modal-footer">
                        {% csrf_token %}
                        <input type="submit" value="Delete" class="btn btn-primary" />
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- Version Comparison Modal -->
<div id="version_d" tabindex="-1"
     class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-draggable ui-resizable"
     style="display: none;"
     aria-describedby="dialog-1"
     aria-labelledby="ui-id-1">
        <div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix ui-draggable-handle">
             <span id="ui-id-1" class="ui-dialog-title">Comparing Versions of Cohort -1</span>
             <button onclick="$('#version_d').hide()"><i class="fa-solid fa-times"></i></button>
        </div>
    <div id="dialog-1" style="display: inline-block; width: auto; min-height: 90px; max-height: none; height: auto;" class="ui-dialog-content ui-widget-content">
             <table class="table"><tbody>
                 <tr><th></th><th>Original Version</th><th>Current Version</th></tr>
             <tr><td># Cases</td> <td class="case_o">XXXX</td> <td class="case_c">XXXX</td> </tr>
                 <tr><td># Studies</td> <td class="study_o">XXXX</td> <td class="study_c">XXXX</td> </tr>
                 <tr><td># Series</td> <td class="series_o">XXXX</td> <td class="series_c">XXXX</td> </tr>
             </tbody></table>
        <p class="notes none-found">
            <i class="fa fa-warning"></i>
            This cohort's filters as applied to the new data version do not return any Patients, Studies, or Series.
            It cannot be loaded into the new version.
        </p>
        <p class="notes inactive-filters">
            <i class="fa fa-warning"></i>
            The following attributes are no longer available in the current data version: <span class="inactive-attrs"></span> <br />
            <span class="some-found">Filters using these attributes will be removed if the cohort is brought forward into the new data version.</span>
        </p>
        <p class="notes no-filters-found">
            <i class="fa fa-warning"></i>
            No attributes used in this cohort's filters were found for the current data version. It cannot be loaded into the new version.
        </p>
        <button class="load-new">Load New Version</button>
     </div>
    <div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div>
</div>

<!-- Spinner -->
<div class="spinner" style="display: none;"><i class="fa-solid fa-spinner fa-spin spin"></i></div>

{% include "idc/bq-string-modal.html" with bq_string_uri="True" %}

<!-- Include footer here instead of base.html so it can be hidden by default -->
{% include 'share/site_footer.html' with hide="True" %}

{% endblock %}

{% block js_file %}
    <script type="text/javascript">
        // var shared_users = {{ shared_users|safe }};
        var user_id = {% if request.user.is_authenticated %}{{ request.user.id|safe }}{% else %}null{% endif %};
        var is_cohort = true;
    </script>
	{{ block.super }}
	<script type="text/javascript" src="{% static 'js/cohorts/cohort-list.js' %}?v={{ APP_VERSION }}"></script>
    <script type="text/javascript" src="{% static 'js/cohorts/export-manifest.js' %}?v={{ APP_VERSION }}"></script>
    <script type="text/javascript" src="{% static 'js/bq-string.js' %}?v={{ APP_VERSION }}"></script>
{% endblock %}
