<!-- Export Manifest Modal -->
<div class="modal fade" id="export-manifest-modal" tabindex="-1" role="dialog" aria-labelledby="exportManifestModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exportManifestModal">Export Cohort Manifest</h4>
                <div class="modal-js-messages" id="export-manifest-modal-js-messages">
                    <div id="unallowed-chars-alert" class="alert alert-warning alert-dismissable" style="display: none;">
                        <button type="button" class="close" data-hide="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        Your manifest file's name contains invalid characters (<span class="unallowed-chars"></span>). Please remove them before exporting.
                    </div>
                    <div id="name-too-long-alert-modal" class="alert alert-warning alert-dismissable" style="display: none;">
                        <button type="button" class="close" data-hide="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        Your manifest file's name must be no more than 255 characters long.
                    </div>
                    <div id="no-column-alert-modal" class="alert alert-warning alert-dismissable" style="display: none;">
                        <button type="button" class="close" data-hide="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        At least one column needs to be selected to export manifest file.
                    </div>
                    <div id="file-manifest-max-exceeded" class="alert alert-warning alert-dismissable" style="display: none;">
                        <button type="button" class="close" data-hide="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        Your manifest is too large to be downloaded. Please use our BigQuery export option. (This requires a Google Account login.)
                    </div>
                    <div id="need-social-account" class="alert alert-warning alert-dismissable" style="display: none;">
                        <button type="button" class="close" data-hide="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        Your cohort exceeds the maximum size allowed for download, but your account doesn't appear to be a linked Google account.
                        A Google linked account is required for BigQuery table export.
                    </div>
                </div>
            </div>

            <form id="export-manifest-form" method="GET" data-uri-base="{{ export_uri }}" action="{{ export_uri }}">
                <div class="modal-body">
                    <div class="form-group list-group">
                        {% csrf_token %}
                        <ul class="nav nav-tabs manifest">
                            <li class="filter-tab active" role="presentation">
                                <a href="#manifest-file" role="tab" data-toggle="tab" title="CSV/TSV/JSON manifest"
                                   aria-expanded="true"
                                >
                                    CSV/TSV/JSON
                                </a>
                            </li>
                            <li class="filter-tab" role="presentation">
                                <a href="#manifest-s5cmd" role="tab" data-toggle="tab" title="s5cmd manifest"
                                   aria-expanded="false"
                                >
                                    s5cmd
                                </a>
                            </li>
                            <li class="filter-tab {% if not is_social %}bq-disabled{% endif %}" role="presentation">
                                <a href="#manifest-bq"{% if not is_social %} class="disabled" {% endif %}role="tab"
                                   data-toggle="tab" title="BigQuery manifest export" aria-expanded="false"
                                >
                                    BigQuery
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="manifest-bq" class="tab-pane manifest" role="tab-panel">
                                {% if is_social %}
                                    <div class="bq-table-name manifest-name">
                                        <label for="export-bq-name">Name</label>
                                        <p>BigQuery table names are automatically generated and will be provided once the manifest has exported.</p>
                                    </div>
                                    <!-- Columns -->
                                    <div id="bq-columns-container">
                                        <div id="bq-columns-heading" class="list-group-item__heading export-manifest-group__heading">
                                            <a role="button" data-toggle="collapse" href="#bq-columns" aria-expanded="true"
                                               aria-controls="bq-columns">
                                                <i class="fa fa-solid fa-caret-right"></i> <i class="fa fa-solid fa-caret-down"></i> Columns
                                            </a>
                                        </div>
                                        <div id="bq-columns" class="list-group list-group-item__body collapse in" aria-expanded="true">
                                            <li class="checkbox"><label>
                                                <input class="column-checkbox" type="hidden" value="collection_id" checked>
                                                <i class="fa fa-check-square" title="This column is required."></i> <span class="value">collection_id (Collection ID)</span>
                                            </label></li>
                                            <li class="checkbox"><label>
                                                <input class="column-checkbox" type="hidden" value="SeriesInstanceUID" checked>
                                                <i class="fa fa-check-square" title="This column is required."></i> <span class="value">SeriesInstanceUID (Series Instance UID)</span>
                                            </label></li>
                                            <li class="checkbox"><label>
                                                <input class="column-checkbox" type="hidden" value="source_DOI" checked>
                                                <i class="fa fa-check-square" title="This column is required."></i> <span class="value">source_DOI (Source DOI)</span>
                                            </label></li>
                                            <li class="checkbox"><label>
                                                <input class="column-checkbox" type="hidden" value="idc_version" checked>
                                                <i class="fa fa-check-square" title="This column is required."></i> <span class="value">idc_version (IDC Data Version)</span>
                                            </label></li>
                                            <li class="checkbox"><label>
                                                <input class="column-checkbox" type="hidden" value="gcs_url" checked>
                                                <i class="fa fa-check-square" title="This column is required."></i> <span class="value">gcs_url (Google Cloud Storage Path)</span>
                                            </label></li>
                                            <li class="checkbox"><label>
                                                <input class="column-checkbox" type="hidden" value="aws_url" checked>
                                                <i class="fa fa-check-square" title="This column is required."></i> <span class="value">aws_url (AWS Cloud Storage Path)</span>
                                            </label></li>
                                            <li class="checkbox"><label>
                                                <input class="column-checkbox" type="checkbox" value="PatientID" checked>
                                                <span class="value">PatientID (Patient ID)</span>
                                            </label></li>
                                            <li class="checkbox"><label>
                                                <input class="column-checkbox" type="checkbox" value="StudyInstanceUID" checked>
                                                <span class="value">StudyInstanceUID (Study Instance UID)</span>
                                            </label></li>
                                            <li class="checkbox bq-only"><label>
                                                <input class="column-checkbox" type="checkbox" value="SOPInstanceUID" checked>
                                                <span class="value">SOPInstanceUID (SOP Instance UID)</span>
                                            </label></li>
                                            <li class="checkbox"><label>
                                                <input class="column-checkbox" type="checkbox" value="crdc_study_uuid" checked>
                                                <span class="value">crdc_study_uuid (CRDC Study UUID)</span>
                                            </label></li>

                                            <li class="checkbox"><label>
                                                <input class="column-checkbox" type="checkbox" value="crdc_series_uuid" checked>
                                                <span class="value">crdc_series_uuid (CRDC Series UUID)</span>
                                            </label></li>
                                            <li class="checkbox bq-only"><label>
                                                <input class="column-checkbox" type="checkbox" value="crdc_instance_uuid" checked>
                                                <span class="value">crdc_instance_uuid (CRDC SOP Instance UUID)</span>
                                            </label></li>
                                        </div>
                                    </div>
                                    <div id="bq-manifest">
                                        <a id="get-bq-table" class="btn btn-primary get-manifest" title="Get BQ Table of this manifest.">
                                            Get BQ Table
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                            <div id="manifest-s5cmd" class="tab-pane manifest" role="tab-panel">
                                <div class="s5cmd-file-name manifest-name">
                                    <label for="export-s5cmd-name">Name</label>
                                    <input class="form-control" type="text" id="export-s5cmd-name" name="file_name" data-name-base="_{% now "Ymd_Gis" %}" value="" required />
                                </div>
                                <div class="s5cmd-loc-type">
                                    <p>Cloud Source</p>
                                    <li class="radio"><label for="export-s5cmd-loc-aws">
                                        <input class="" id="export-s5cmd-loc-aws" name="loc_type" type="radio" value="aws" checked />
                                        <span class="value">AWS (Amazon Web Services)</span>
                                    </label></li>
                                    <li class="radio"><label for="export-s5cmd-loc-gcp">
                                        <input class="" id="export-s5cmd-loc-gcp" name="loc_type" type="radio" value="gcs" />
                                        <span class="value">GCP (Google Cloud Platform)</span>
                                    </label></li>
                                </div>
                                <!-- Header Fields -->
<!--                                <div id="s5cmd-header-fields-container">
                                    <p><input id="include-header-s5cmd-checkbox" type="checkbox"> Include header fields</p>
                                    <div id="s5cmd-header-fields-heading" class="list-group-item__heading export-manifest-group__heading">
                                        <a role="button" data-toggle="collapse" href="#s5cmd-header-fields" aria-expanded="false"
                                           aria-controls="s5cmd-header-fields">
                                            <i class="fa fa-solid fa-caret-right"></i> <i class="fa fa-solid fa-caret-down"></i> Header Fields
                                        </a>
                                    </div>
                                    <div id="s5cmd-header-fields" class="collapse list-group list-group-item__body">
                                        <li class="checkbox"><label>
                                            <input class="field-checkbox" type="checkbox" value="cohort_name">
                                            <span class="value">Cohort Name</span>
                                        </label></li>

                                        <li class="checkbox"><label>
                                            <input class="field-checkbox" type="checkbox" value="user_email">
                                            <span class="value">User Email</span>
                                        </label></li>

                                        <li class="checkbox"><label>
                                            <input class="field-checkbox" type="checkbox" value="cohort_filters">
                                            <span class="value">Cohort Filters</span>
                                        </label></li>

                                        <li class="checkbox"><label>
                                            <input class="field-checkbox" type="checkbox" value="timestamp">
                                            <span class="value">Date Generated</span>
                                        </label></li>

                                        <li class="checkbox"><label>
                                            <input class="field-checkbox" type="checkbox" value="total_records">
                                            <span class="value">Total Records</span>
                                        </label></li>
                                    </div>
                                </div>
-->
                                <a id="download-s5cmd" class="btn btn-primary download-file get-manifest" title="Download this cohort's manifest in s5cmd format.">
                                    Download s5cmd
                                </a>
                            </div>
                            <div id="manifest-file" class="tab-pane manifest active" role="tab-panel">
                                <div class="manifest-file-name manifest-name">
                                    <label for="export-manifest-name">Name</label>
                                    <input class="form-control" type="text" id="export-manifest-name" name="file_name" data-name-base="_{% now "Ymd_Gis" %}" value="" required />
                                </div>
                                <!-- Header Fields -->
                                <p><input id="include-file-header-checkbox" type="checkbox" checked> Include header fields</p>
                                <div id="file-header-fields-container">
                                    <div id="file-header-fields-heading" class="list-group-item__heading export-manifest-group__heading">
                                        <a role="button" data-toggle="collapse" href="#file-header-fields" aria-expanded="false"
                                           aria-controls="file-header-fields">
                                            <i class="fa fa-solid fa-caret-right"></i> <i class="fa fa-solid fa-caret-down"></i> Header Fields
                                        </a>
                                    </div>
                                    <div id="file-header-fields" class="list-group list-group-item__body collapse">
                                        <li class="checkbox"><label>
                                            <input class="field-checkbox" type="checkbox" value="cohort_name" checked>
                                            <span class="value">Cohort Name</span>
                                        </label></li>

                                        <li class="checkbox"><label>
                                            <input class="field-checkbox" type="checkbox" value="user_email" checked>
                                            <span class="value">User Email</span>
                                        </label></li>

                                        <li class="checkbox"><label>
                                            <input class="field-checkbox" type="checkbox" value="cohort_filters" checked>
                                            <span class="value">Cohort Filters</span>
                                        </label></li>

                                        <li class="checkbox"><label>
                                            <input class="field-checkbox" type="checkbox" value="timestamp" checked>
                                            <span class="value">Date Generated</span>
                                        </label></li>

                                        <li class="checkbox"><label>
                                            <input class="field-checkbox" type="checkbox" value="total_records" checked>
                                            <span class="value">Total Records</span>
                                        </label></li>
                                    </div>
                                </div>
                                <!-- Columns -->
                                <div id="file-columns-container">
                                    <div id="file-columns-heading" class="list-group-item__heading export-manifest-group__heading">
                                        <a role="button" data-toggle="collapse" href="#file-columns" aria-expanded="true"
                                           aria-controls="file-columns">
                                            <i class="fa fa-solid fa-caret-right"></i> <i class="fa fa-solid fa-caret-down"></i> Columns
                                        </a>
                                    </div>
                                    <div id="file-columns" class="list-group list-group-item__body collapse in" aria-expanded="true">
                                        <li class="checkbox"><label>
                                            <input class="column-checkbox" type="hidden" value="collection_id" checked>
                                            <i class="fa fa-check-square" title="This column is required."></i> <span class="value">collection_id (Collection ID)</span>
                                        </label></li>
                                        <li class="checkbox"><label>
                                            <input class="column-checkbox" type="hidden" value="SeriesInstanceUID" checked>
                                            <i class="fa fa-check-square" title="This column is required."></i> <span class="value">SeriesInstanceUID (Series Instance UID)</span>
                                        </label></li>
                                        <li class="checkbox"><label>
                                            <input class="column-checkbox" type="hidden" value="source_DOI" checked>
                                            <i class="fa fa-check-square" title="This column is required."></i> <span class="value">source_DOI (Source DOI)</span>
                                        </label></li>
                                        <li class="checkbox"><label>
                                            <input class="column-checkbox" type="hidden" value="idc_version" checked>
                                            <i class="fa fa-check-square" title="This column is required."></i> <span class="value">idc_version (IDC Data Version)</span>
                                        </label></li>
                                        <li class="checkbox"><label>
                                            <input class="column-checkbox" type="checkbox" value="PatientID" checked>
                                            <span class="value">PatientID (Patient ID)</span>
                                        </label></li>
                                        <li class="checkbox"><label>
                                            <input class="column-checkbox" type="checkbox" value="StudyInstanceUID" checked>
                                            <span class="value">StudyInstanceUID (Study Instance UID)</span>
                                        </label></li>
                                        <li class="checkbox"><label>
                                            <input class="column-checkbox" type="checkbox" value="crdc_study_uuid" checked>
                                            <span class="value">crdc_study_uuid (CRDC Study UUID)</span>
                                        </label></li>

                                        <li class="checkbox"><label>
                                            <input class="column-checkbox" type="checkbox" value="crdc_series_uuid" checked>
                                            <span class="value">crdc_series_uuid (CRDC Series UUID)</span>
                                        </label></li>
                                    </div>
                                </div>
                                <div id="file-part-select-box">
                                    <select class="form-control">
                                    </select>
                                    <br />
                                </div>
                                <a id="download-csv" class="btn btn-primary download-file get-manifest" title="Download this cohort's manifest in CSV format.">
                                    Download CSV
                                </a>
                                <a id="download-tsv" class="btn btn-primary download-file get-manifest" title="Download this cohort's manifest in TSV format.">
                                    Download TSV
                                </a>
                                <a id="download-json" class="btn btn-primary download-file get-manifest" title="Download this cohort's manifest in JSON format.">
                                    Download JSON
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="downloadToken">
                <input type="hidden" name="file_type">
                <input type="hidden" name="file_part">
                <input type="hidden" name="columns">
                <input type="hidden" name="header_fields">
                <input type="hidden" name="include_header">
                <input type="hidden" name="ids">
                <input type="hidden" name="manifest-type">
            </form>
        </div>
    </div>
</div>

<!-- Download In Progress Modal -->
<div class="modal fade" id="manifest-in-progress" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"></div>
            <div class="modal-body">
                <p><i class="fa-solid fa-cog fa-spin"></i> Preparing cohort manifest...</p>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
