<!-- Export Manifest Modal -->
<div class="modal fade" id="export-manifest-modal" tabindex="-1" role="dialog" aria-labelledby="exportManifestModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exportManifestModal">Export Cohort Manifest</h4>
                <div class="modal-js-messages" id="export-manifest-modal-js-messages">
                    <div id="unallowed-chars-alert" class="alert alert-warning alert-dismissable" style="display: none;">
                        <button type="button" class="close" data-hide="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        Your manifest file's name contains invalid characters (<span class="unallowed-chars"></span>). Please remove them before exporting.
                    </div>
                    <div id="name-too-long-alert-modal" class="alert alert-warning alert-dismissable" style="display: none;">
                        <button type="button" class="close" data-hide="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        Your manifest file's name must be no more than 255 characters long.
                    </div>
                    <div id="no-column-alert-modal" class="alert alert-warning alert-dismissable" style="display: none;">
                        <button type="button" class="close" data-hide="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        At least one column needs to be selected to export manifest file.
                    </div>
                    <div id="file-manifest-max-exceeded" class="alert alert-warning alert-dismissable" style="display: none;">
                        <button type="button" class="close" data-hide="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        Your manifest is too large to be downloaded. Please use our BigQuery export option. (This requires a Google Account login.)
                    </div>
                    <div id="need-social-account" class="alert alert-warning alert-dismissable" style="display: none;">
                        <button type="button" class="close" data-hide="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        Your cohort exceeds the maximum size allowed for download, but your account doesn't appear to be a linked Google account.
                        A Google linked account is required for BigQuery table export.
                    </div>
                </div>
            </div>

            <form id="export-manifest-form" method="get" action="{% url 'cohort_manifest' cohort_id %}">
                <div class="modal-body">
                    <div class="form-group">
                        <!-- Name -->
                        <div>
                            <label for="export-manifest-name">Name</label>
                            <input class="form-control" type="text" id="export-manifest-name" name="file_name" value="{{ cohort.name }}_{{ cohort.id }}_{% now "Ymd_Gis" %}" required />
                        </div>
                        <br>

                        <!-- Header Fields -->
                        <div class="export-manifest-group__heading">
                            <a role="button" data-toggle="collapse" href="#header-fields" aria-expanded="false" aria-controls="header-fields" class="collapsed">
                                <i class="fa fa-caret-right"></i> Header Fields
                            </a>
                        </div>
                        <div id="header-fields" class="collapse">
                            <li class="checkbox"><label>
                                <input class="field-checkbox" type="checkbox" value="cohort_name" checked>
                                <span class="value">Cohort Name</span>
                            </label></li>

                            <li class="checkbox"><label>
                                <input class="field-checkbox" type="checkbox" value="user_email" checked>
                                <span class="value">User Email</span>
                            </label></li>

                            <li class="checkbox"><label>
                                <input class="field-checkbox" type="checkbox" value="cohort_filters" checked>
                                <span class="value">Cohort Filters</span>
                            </label></li>

                            <li class="checkbox"><label>
                                <input class="field-checkbox" type="checkbox" value="timestamp" checked>
                                <span class="value">Date Generated</span>
                            </label></li>

                            <li class="checkbox"><label>
                                <input class="field-checkbox" type="checkbox" value="total_records" checked>
                                <span class="value">Total Records</span>
                            </label></li>
                        </div>
                        <br>

                        <!-- Columns -->
                        <div class="export-manifest-group__heading">
                            <a role="button" data-toggle="collapse" href="#columns" aria-expanded="false" aria-controls="header-fields" class="collapsed">
                                <i class="fa fa-caret-right"></i> Columns
                            </a>
                        </div>
                        <div id="columns" class="collapse">
                            <li class="checkbox"><label>
                                <input class="column-checkbox" type="checkbox" value="PatientID" checked>
                                <span class="value">Patient ID</span>
                            </label></li>

                            <li class="checkbox"><label>
                                <input class="column-checkbox" type="checkbox" value="collection_id" checked>
                                <span class="value">Collection ID</span>
                            </label></li>

                            <li class="checkbox"><label>
                                <input class="column-checkbox" type="checkbox" value="StudyInstanceUID" checked>
                                <span class="value">Study Instance UID</span>
                            </label></li>

                            <li class="checkbox"><label>
                                <input class="column-checkbox" type="checkbox" value="SeriesInstanceUID" checked>
                                <span class="value">Series Instance UID</span>
                            </label></li>

                            <li class="checkbox"><label>
                                <input class="column-checkbox" type="checkbox" value="SOPInstanceUID" checked>
                                <span class="value">SOP Instance UID</span>
                            </label></li>

                            <li class="checkbox"><label>
                                <input class="column-checkbox" type="checkbox" value="source_DOI" checked>
                                <span class="value">Source DOI</span>
                            </label></li>

                            <li class="checkbox"><label>
                                <input class="column-checkbox" type="checkbox" value="crdc_instance_uuid" checked>
                                <span class="value">CRDC Instance UUID</span>
                            </label></li>

                            <li class="checkbox"><label>
                                <input class="column-checkbox" type="checkbox" value="gcs_url" checked>
                                <span class="value">GCS URL </span>
                            </label></li>
                        </div>
                        <br>

                        <!-- Export Option -->
                        <div class="export-option">
                            <span id="file-export-option" title="" class="value"><input type="radio" name="manifest-type" value="file-manifest" checked> Files</span>
                            <span id="bq-export-option" style="margin-left:10px" class="value" {% if not is_social %}title="Export to BigQuery is only available with a Google Account."{% endif %}>
                                <input type="radio" name="manifest-type" value="bq-manifest" {% if not is_social %}disabled{% endif %}> BigQuery</span>
                        </div>
                        <br>
                        {% if is_social %}
                        <div id="bq-manifest">
                            <a id="get-bq-table" class="btn btn-primary" title="Get BQ Table of this manifest.">
                               Get BQ Table
                            </a>
                        </div>
                        {% endif %}
                        <div id="file-manifest">
                            <div id="file-part-select-box">
                                <select class="form-control">
                                </select>
                                <br>
                            </div>

                            <span><input id="include-header-checkbox" type="checkbox" checked> Include header fields (CSV and TSV only)</span>
                            <br>
                            <br>

                            {% csrf_token %}
                            <a id="download-csv" class="btn btn-primary" title="Download this cohort's manifest in CSV format.">
                                Download CSV
                            </a>
                            <a id="download-tsv" class="btn btn-primary " title="Download this cohort's manifest in TSV format.">
                                Download TSV
                            </a>
                            <a id="download-json" class="btn btn-primary " title="Download this cohort's manifest in JSON format.">
                                Download JSON
                            </a>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="downloadToken">
                <input type="hidden" name="file_type">
                <input type="hidden" name="file_part">
                <input type="hidden" name="columns">
                <input type="hidden" name="header_fields">
                <input type="hidden" name="include_header">
            </form>
        </div>
    </div>
</div>