<tr class="case">
    <td class="study-expander"></td>
    <td>{{ collection }}</td>
    <td>{{ case_uuid }}</td>
    <td>{{ case_barcode }}</td>
</tr>
<tr class="studies">
    {% for study in case.studies %}
        <tr class="study">
            <td class="series-expander"></td>
            <td>{{ study.id }}</td>
        </tr>
        <tr class="series">
            {% for series in study.series %}
            <td>{{ series_id }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</tr>
