{% load static %}

    <!-- GCS Export Modal -->
    <div class="modal fade" id="export-to-gcs-modal" tabindex="-1" role="dialog" aria-labelledby="export-to-gcs-header" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="export-to-gcs-header" class="modal-title">{{ export_type }} Export to Cloud Storage</h4>
                    <div class="modal-js-messages" id="export-to-gcs-js-messages">
                    </div>
                </div>
                <form id="export-to-gcs-form" method="POST" action="{{ export_url }}">
                    {% csrf_token %}
                    <input type="hidden" class="param" name="build" value="{{ build }}" />
                    <input type="hidden" class="param" name="export-dest" value="gcs" />
                    <div class="loading-overlay" style="display: none;"><div class="spinner"><div><i class="fa fa-cog fa-spin"></i> Loading your projects and buckets...</div></div></div>
                    <div class="modal-body">
                        <div class="message-container"></div>
                        <div class="form-group bucket-list">
                            <label for="export-to-gcs-project-bucket">Choose a project and GCS bucket:</label>
                            <select id="export-to-gcs-project-bucket" name="gcs-bucket" class="form-control">
                                <option value="" disabled selected type="label">Please select a project and GCS bucket for the exported file</option>
                            </select>
                        </div>
                        <div class="form-group file-format">
                            <label for="file-format">File Format:</label>
                            <select id="file-format" title="Select a project and GCS bucket to enable this option." name="file-format" disabled class="form-control file-format">
                                <option value="" disabled selected type="label">Please select a file format (default: CSV)</option>
                                <option value="NEWLINE_DELIMITED_JSON" type="val">Newline delimited JSON</option>
                                <option value="CSV" type="val">Comma-separated values (CSV)</option>
                            </select>
                        </div>
                        <div class="form-group file-name">
                            <label for="file-name">Name:</label>
                            <input title="Select a project and GCS bucket to enable this option." disabled class="form-control file-name" type="text" maxlength="1024" placeholder="If left blank, a file name will be provided." id="file-name" name="file-name" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Export" class="btn btn-primary" />
                        <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                        <div id="gcs-export-underway" class="collapse" style="display: none;">
                            <i class="fa fa-circle-o-notch fa-spin"></i> Exporting {{ export_type }}...
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>