{% load l10n %}
{% load staticfiles %}
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <title>{% block title %}ISB-CGC{% endblock %}</title>
    {% block extra_css_libs %}{% endblock %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}" />
    <script type="text/javascript" src="{% static 'js/libs/modernizr.js' %}"></script>
    {% block header %}{% endblock %}

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-59242228-1', 'auto');
        ga('send', 'pageview');
    </script>

</head>
<body>
<a href="#{% block link_page_name %}content{% endblock %}" class="skip-nav">Skip to main content</a>
<div id="spinner-overlay" style="display:none;">
    <i class="fa fa-spinner fa-spin"></i>
</div>
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
        <div class="col-lg-9">
        <div class="nav navbar-left">

            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <a href="{% url 'user_landing' %}"><img class="navbar-brand" src="{% static 'img/isblogo.png' %}" alt="ISB Logo"/></a>
                    <li><a href="{% url 'user_landing' %}">ISB-CGC</a></li>
                    {% if '/user_landing/' in request.path %}
                        <li class="search-item col-lg-9">
                            <form id="search-submit">
                                <div class="input-group">
                                    <input type="text" class="form-control" aria-label="Search Box" placeholder="Search Cohorts and Visualizations">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit" aria-label="Search"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>
                        </li>
                    {% endif %}
{#                    <li {% if '/search/' in request.path %}class="active"{% endif %}><a href="{% url 'search' %}">Search</a></li>#}
{#                    <li {% if '/visualizations/' in request.path %}class="active"{% endif %}><a href="{% url 'vizlist' %}">Visualizations</a></li>#}
{#                    <li {% if '/users/' in request.path %}class="active"{% endif %}><a href="{% url 'users' %}">Users</a></li>#}
{#                    <li {% if '/genome/' in request.path %}class="active"{% endif %}><a href="/genome" target="_blank">Genome Browser</a></li>#}

                {% else %}
                    <a href="/"><img class="navbar-brand" src="{% static 'img/isblogo.png' %}" alt="ISB Logo"/></a>
                    <li><a href="/">ISB-CGC</a></li>
{#                    <li {% if request.path == '/' %}class="active"{% endif %}><a href="/">Home</a></li>#}
                {% endif %}
            </ul>
        </div>
        </div>
        <div class="nav navbar-right">
            <div id="user-login" class="navbar-form inline-block">

                {% if user.is_authenticated %}
                    <a class="avatar-link" href="{% url 'user_detail' user.id %}">
                        <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width="32" height="32" alt="Avatar Link to User Details">
                    </a>

                    <div class="dropdown">
                        <a role="button" class="dropdown-toggle" id="user-dropdown" data-toggle="dropdown" aria-label="User Dropdown" aria-expanded="true">
                            {{ user.first_name }} <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-label="user-dropdown">
                            <li role="menuitem"><a href="#logout-modal" data-toggle="modal" data-target="#logout-modal" title="Sign Out"><i class="fa fa-sign-out"></i>Sign Out</a></li>
                        </ul>
                    </div>
{#                    <a href="#logout-modal" data-toggle="modal" data-target="#logout-modal" title="Sign Out"><i class="fa fa-sign-out"></i>Sign Out</a>#}
                {% else %}
                    <!--same thing as /accounts/login-->
                    <a class="login-link" href="{% url 'account_login' %}" title="Sign In"><i class="fa fa-sign-in"></i> Sign In</a>

                {% endif %}
{#                <div id="signin"></div>#}
            </div>
        </div>
        </div>
    </div>
</nav>

<div id="secondary-nav" class="navbar-fixed-top">
    {% block secondary_nav %}{% endblock %}
</div>

<div id="{% block page_name %}content{% endblock %}" class="container">
    {% if messages %}
        <div class="row">
            <div class="col-lg-12">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="row">{% block content %}{% endblock %}</div>
    <!-- Logout Modal -->
    <div class="modal fade" id="logout-modal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="logoutModalLabel">Logout</h4>
                </div>
                <form method="post" action="{% url 'account_logout' %}">
                    <div class="modal-body">
                        <p>Are you sure you want to sign out?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
                        {% endif %}
                        <button type="submit" class="btn btn-primary">Sign Out</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% load session_security_tags %}
{% load i18n l10n %}
{% load url from future %}
{% load static from staticfiles %}

{# If the user is not authenticated then there is no session to secure ! #}
{% if request.user.is_authenticated %}
    <link rel="stylesheet" type="text/css" href="{% static 'session_security/style.css' %}"></link>

    {# Include the template that actually contains the modal dialog #}
    {% include 'session_security/dialog.html' %}
    {% localize off %}
    <script>
        var pingUrl = '{% url 'session_security_ping' %}';
        var warnAfter = {{ request|warn_after|unlocalize }};
        var expireAfter = {{ request|expire_after|unlocalize }};
        var confirmFormDiscard = "{% trans 'You have unsaved changes in a form of this page.' %}";

    </script>
    {% endlocalize %}
{% endif %}
<script data-main="{% block js_file %}{% endblock %}" src="{% static 'js/libs/require.js' %}"></script>
</body>
</html>