{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}Collections | IDC{% endblock %}}
{% block extra_css_libs %}{% endblock %}
{% block header %}

{% endblock %}

{% block link_page_name %}cart_list{% endblock %}
{% block page_name %}cart_list{% endblock %}

{% block page_header %}
<div class="container-fluid">
    <h3 class="pull-left">Cart Selections</h3>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class ="row">
        <div class="col-lg-12 col-md-12 collex-panel">
            <div class="panel panel-default short-inner-content" role="panel panel-default" id="cart-list">
                <div class="panel-body">
                <table id="cart-table" class="table collex-table sortable_table table-striped table-hover">
                    <thead>

                        <th class="del">Delete</th>
                        <th class="projid">Project ID</th>
                        <th class="caseid">Case ID</th>
                        <th class="studyid">StudyInstanceUID</th>
                        <th class="seriesid">SeriesInstanceUID</th>

                    </thead>
                    <colgroup>
                        <col style="width: 8%">
                        <col style="width: 23%">
                        <col style="width: 23%">
                        <col style="width: 23%">
                        <col style="width: 23%">

                    </colgroup>
                    <tbody>
                        {% for item in docs %}

                            <tr>
                                <td><input type="checkbox"></td>
                                <td>{{ item.collection_id }}</td>
                                <td>{{ item.PatientID }}</td>
                                <td>{{ item.StudyInstanceUID }}</td>
                                <td>{{ item.SeriesInstanceUID }}</td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Include footer here instead of base.html so it can be hidden by default -->
{% include 'share/site_footer.html' with hide="False" %}
{% endblock %}

{% block js_file %}
    {{ docs|json_script:"docs" }}
<script type="text/javascript" src="{% static 'js/cart_page.js' %}?v={{ APP_VERSION }}"></script>
{% endblock %}