{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}Cart | IDC{% endblock %}}
{% block extra_css_libs %}{% endblock %}
{% block header %}

    <link type="text/css" rel="stylesheet" href="{% static 'css/spinner.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">

{% endblock %}

{% block link_page_name %}cart{% endblock %}
{% block page_name %}cart{% endblock %}

{% block page_header %}
<div class="container-fluid">
<div class="spinner" style="display: none;"><i class="fa-solid fa-spinner fa-spin spin"></i></div>
    <h3 class="pull-left">Cart - Study Level Summary</h3>
    <button class="btn btn-default  pull-right cart-reset" title="Empty the cart." onclick="window.resetCartPageView()"
    > Clear <i class="fa fa-solid fa-trash-can"></i>
    </button>
    <button class="btn btn-special pull-right cart-modal-button" data-toggle="modal"
        data-target="#cart-description-modal" title="Display this cart's filter and selections."
    > Definition <i class="fa fa-solid fa-magnifying-glass"></i>
    </button>
    <button class="btn pull-right btn-special citations-button filter-activated-controls for-cart" data-toggle="modal" data-target="#citations-modal" role="button"
        title="Display the cart's citation list in Vancouver format."
    > Citations <i class="smaller-icon fa fa-quote-left"></i><i class="smaller-icon fa fa-quote-right"></i>
    </button>
    <button id="export-manifest-cart" class="btn btn-special pull-right cart-export-from-cp"  data-toggle="modal"
        data-target="#export-manifest-modal" title="Get the series manifest for this cart."
    > Manifest <i class="fa fa-solid fa-download"></i>
    </button>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class ="row">
        <div class="col-lg-12 col-md-12 collex-panel">
            <div class="cart-wrapper panel panel-default short-inner-content" role="panel panel-default" id="cart-list">
                <div class="panel-body">
                    <div id="stats"> {{ stats }}</div>
                <table id="cart-table" class="table collex-table sortable_table table-striped table-hover">
                    <thead id ="cart-head">

                        <!-- <th class="del">Remove</th> -->
                        <th class="projid">Project ID</th>
                        <th class="caseid">Case ID</th>
                        <th class="studyid">StudyInstanceUID</th>
                        <th>Number of Series in Cart</th>
                        <th class="viewer">View</th>

                    </thead>
                    <colgroup>
                       <!-- <col style="width: 10%"> -->
                        <col style="width: 20%">
                        <col style="width: 20%">
                        <col style="width: 20%">
                        <col style="width: 15%">
                        <col style="width: 15%">

                    </colgroup>
                    <tbody id="cart-body">

                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Include footer here instead of base.html so it can be hidden by default -->
{% include 'share/site_footer.html' with hide="False" %}
{% include "idc/cart-details-modal.html" %}

{% url 'get_explore_manifest' as export_uri %}


{% endblock %}


{% block js_file %}

    {{ carthist|json_script:"carthist" }}
    {{ mxstudies|json_script:"mxstudies" }}
    {{ mxseries|json_script:"mxseries" }}
	{{ block.super }}
    <script type="text/javascript" src="{% static 'js/cart_page.js' %}?v={{ APP_VERSION }}"></script>
    <script type="text/javascript" src="{% static 'js/cohorts/export-manifest.js' %}?v={{ APP_VERSION }}"></script>
    <script type="text/javascript" src="{% static 'js/citations_modal.js' %}?v={{ APP_VERSION }}"></script>
{% endblock %}

{% block modal_includes %}
    {% include "idc/citations-modal.html" %}
    {% include "cohorts/cart-description-modal.html" %}
    {% include "cohorts/export-manifest-modal.html" %}
{% endblock %}