{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block title %}System Data Dictionaries | IDC{% endblock %}}
{% block extra_css_libs %}{% endblock %}
{% block header %}{% endblock %}

{% block link_page_name %}system_data_dict{% endblock %}
{% block page_name %}system_data_dict{% endblock %}

{% block page_header %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Your Dashboard</a></li>
            <li><a href="{% url 'programs' %}">Saved Programs</a></li>
        </ol>
        <h1 class="page-header">System Data Dictionaries</h1>
    </div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="tabpanel" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            {% for key in attr_list_all %}
                <li role="presentation" class="{% if forloop.counter == 1 %}active{% endif %}"><a href="#dict-{{ key }}" role="tab" data-toggle="tab" title="{{ key }} Dictionary">{{ key }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
                {% for key, values in attr_list_all.items %}
                <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="dict-{{ key }}">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th nowrap>System Attribute Name</th>
                                <th>Type</th>
                                <th>Possible Values</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for attr in values %}
                            <tr>
                                <td>{{ attr.name }}</td>
                                <td>{{ attr.type }}</td>
                                <td>{{ attr.values }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block js_file %}
	{{ block.super }}
	<script src="{% static 'js/data_upload.js' %}"></script>
{% endblock %}