<tr class="form-group uploaded-file">
    <td>
        <span class="filename"><%- name %></span>
    </td>
    <td class="low-level-hide">
        <select class="form-control data-type-selector">
            <option value="" disabled selected hidden>-- Select Data Type --</option>
            <option value="meth">DNA Methylation</option>
            <option value="mrna">Gene Expression</option>
            <option value="mirna">microRNA</option>
            <option value="protein">Protein Expression</option>
            <option value="user_gen">Other</option>
        </select>
        <span class="file-format-check" style="visibility:hidden;"><i class="fa fa-tag"></i> <i>Double-check that your file fits the expected format before continuing.</i></span>
    </td>
    <td>
        <a href="#" class="close-btn pull-right"><i class="fa fa-close"></i><span class="sr-only">Remove File</span></a>
    </td>
</tr>