<div class="column-definitions" data-file="<%- uid %>">
    <h4>File <%- file.name %></h4>
    <label>
        Platform <input type="text" name="platform" class="form-control platform-field" required>
    </label>
    <label>
        Pipeline <input type="text" name="pipline" class="form-control pipeline-field" required>
    </label>
    <% if(processed) { %>
    <p>Below are all the fields we detected for the selected file. Please verify the field names and data types are correct.</p>
    <table class="table table-striped file-column-edit-table">
        <thead>
            <tr>
                <th></th>
                <th>Column Name</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <% _.each(processed.columns, function (column, i) { %>
                <tr data-index="<%- i %>">
                    <td><i class="fa fa-close text-danger ignore-row-btn"></i></td>
                    <td><%- column.name %>
                        <% if (!column.type) { %>
                        <span class="empty-column float-right"><i class="fa fa-exclamation-circle"></i> This column is empty.</span>
                        <% } %>
                    </td>
                    <td>
                        <select class="form-control type-selection">
                            <option value="" disabled <%- !column.type ? 'selected' : '' %>>Select an option</option>
                            <option value="int" <%- !column.controlled && column.type == 'int' ? 'selected' : '' %>>Integer</option>
                            <option value="float" <%- !column.controlled && column.type == 'float' ? 'selected' : '' %>>Decimal</option>
                            <option value="string" <%- !column.controlled && column.type == 'string' ? 'selected' : '' %>>Categorical</option>
                            <optgroup label="Barcodes">
                                <option value="sample" <%- column.controlled && column.controlled.key == 'sample_barcode' ? 'selected' : '' %>>Sample Barcode</option>
                                <option value="case" <%- column.controlled && column.controlled.key == 'case_barcode' ? 'selected' : '' %>>Case Barcode</option>
                            </optgroup>
                        </select>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <% } else { %>
    <p class="text-success"><i class="fa fa-check"></i> File structure is defined in the data dictionary.</p>
    <% } %>
</div>