{% extends "socialaccount/base.html" %}

{% load socialaccount %}
{% load static %}
{% load i18n %}
{% load custom_tags %}

{% block head_title %}{% trans "Account Connections" %}{% endblock %}

{% block page_name %}connections{% endblock %}

{% block content %}
        <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-4 col-md-4 col-sm-1"></div>
            <div class="col-lg-4 connections accounts-col">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>{% trans "Account Connections" %}</h4></div>
                <div class="panel-body">
                    {% if form.non_field_errors %}
                        <div id="errorMsg" class="space-bottom-20">
                            {{form.non_field_errors}}
                            <p>Please <b><a href="{% url 'account_set_password' %}">set a password</a></b> on your local account
                                before disconnecting it from your social account.</p>
                        </div>
                    {% endif %}

                    {% if form.accounts %}
                        <p><b>Your account is currently connect to the following social account(s):</b></p>

                    <form method="post" action="{% url 'socialaccount_connections' %}">
                    {% csrf_token %}

                    <fieldset>
                        {% for base_account in form.accounts %}
                            {% with account=base_account.get_provider_account %}
                                <div>
                                    <label for="id_account_{{base_account.id}}">
                                        <input id="id_account_{{base_account.id}}" type="radio" name="account" value="{{base_account.id}}"/>
                                        <span class="socialaccount_provider {{base_account.provider}} {{account.get_brand.id}}">{{account.get_brand.name}}</span>
                                        {{account}} ( {{ account|get_account_email }} )
                                    </label>
                                </div>
                            {% endwith %}
                        {% endfor %}

                        <div>
                            <button class="btn btn-special space-top-10" type="submit">{% trans 'Remove' %}</button>
                        </div>

                    </fieldset>

                    </form>

                    {% else %}
                    <p>{% trans 'You currently have no social network accounts connected to this account.' %}</p>
                    <a class="btn btn-primary google-sign-in" href="{% provider_login_url "google" process="connect" %}">
                        <img class="icon-small" alt="G" src="{%  static 'img/google_icon_sm.png' %}" />
                        <span>Sign in with Google</span>
                    </a>
                    {% endif %}
                </div>
                <div class="panel-footer">{% include "socialaccount/snippets/login_extra.html" %}</div>
            </div>
            </form>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-1"></div>
        </div>
    </div>
{% endblock %}
