{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block page_name %}social-signup{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4 col-md-4 col-sm-1"></div>
                <div class="col-lg-4 social-sign-up accounts-col">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1>{% trans "Sign Up" %}</h1>
                        </div>
                        <div class="panel-body">
                            <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
                                {% if not form.errors %}
                                    <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
                                    {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>
                                {% endif %}
                                {% csrf_token %}
                                {{ form.as_p }}
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                              <button class="btn btn-special" type="submit">{% trans "Sign Up" %} &raquo;</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-1"></div>
            </div>
        </div>
{% endblock %}
