{% load staticfiles %}
{% load cohort_filters %}
{% load custom_tags %}

<header class="navbar navbar-fixed-top site-header" role="header">
    <nav class="container">
        <div class="row">
            <div class="col-lg-12">
            <div class="nav navbar-left">
                 <ul class="">
                     {% if user.is_authenticated %}
                        <li class="navbar-item"> <a href="{% url 'dashboard' %}"><img class="navbar-brand" src="{% static 'img/isblogo.png' %}" alt="ISB Logo"/><span class="navbar-item">ISB-CGC</span></a></li>
                     {% else %}
                        <li class="navbar-item"> <a href="{% url 'landing_page' %}"><img class="navbar-brand" src="{% static 'img/isblogo.png' %}" alt="ISB Logo"/><span class="navbar-item">ISB-CGC</span></a></li>
                     {% endif %}

                    <li class="navbar-link navbar-item"><a href="{% url 'about_page' %}">About</a></li>
                    <li class="navbar-link navbar-item"><a href="{% url 'help' %}" target="_blank">Help</a></li>
                </ul>
            </div>

            <div class="nav navbar-right">
                {% if user.is_authenticated %}
                    <div id="user-login" class="navbar-item">
                        <a class="avatar-link" href="{% url 'user_detail' user.id %}">
                            <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width="32" height="32" alt="Avatar Link to User Details">
                        </a>

                        <div class="dropdown">
                            <a role="button" class="dropdown-toggle navbar-item__text" id="user-dropdown" data-toggle="dropdown" aria-label="User Dropdown" aria-expanded="true">
                                {{ user.first_name }} <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-label="user-dropdown">
                                <li role="menuitem"><a href="#logout-modal" data-toggle="modal" data-target="#logout-modal" title="Sign Out"><i class="fa fa-sign-out"></i>Sign Out</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="navbar-item">
                        <a type="button" class="navbar-item__text lines-button x collapsed" data-toggle="collapse" data-target="#subnav" aria-expanded="false" aria-controls="subnav">
                            <span class="lines"></span>
                            Menu
                        </a>
                    </div>
                {% else %}
                    <div id="user-login" class="navbar-form inline-block">
                        <!-- same thing as /accounts/login-->
                        <a class="login-link" href="{% url 'account_login' %}" title="Sign In"><i class="fa fa-sign-in"></i> Sign In</a>
                    </div>
                {% endif %}
            </div>
            </div>
        </div>
    </nav>
    {% if user.is_authenticated %}
    <nav class="nav subnav collapse" role="navigation" id="subnav">
        <ul class="container">
            <li class="menu-item has-drop-down">
                <a>WORKBOOKS <i class="fa fa-caret-down"></i></a>
                <ul class="sub-menu drop">
                    {% if user.workbook_last_view_set.all|length > 0 %}
                    <li class="menu-item">
                        <strong>Recent</strong>
                        <ul class="item-list">
                            {% for wlv in user.workbook_last_view_set.all|dictsortreversed:'last_view'|slice:':5' %}
                            <li class="menu-item"><a href="{% url 'workbook_detail' wlv.workbook.id %}">{{ wlv.workbook.name }}</a></li>
                            {% endfor %}
                            {% if user.workbook_last_view_set.all|length > 5 %}
                            <li class="menu-item has-drop-down__more"> More
                                <ul class="drop">
                                    {% for wlv in user.workbook_last_view_set.all|dictsortreversed:'last_view'|slice:'5:' %}
                                    <li class="menu-item"><a href="{% url 'workbook_detail' wlv.workbook.id %}">{{ wlv.workbook.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    <li class="menu-item"><a href="{% url 'workbooks' %}">Saved Workbooks ( {{ user.workbook_last_view_set.all|length }} )</a></li>
                    <li class="menu-item">
                        <form action="{% url 'workbook_create' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">Create a New Workbook</button>
                        </form>
                    </li>
                    <li class="menu-item"><a href="{% url 'workbook_samples' %}">Sample Workbooks</a></li>
                </ul>
            </li>
            <li class="menu-item has-drop-down">
                <a>PROJECTS <i class="fa fa-caret-down"></i></a>
                <ul class="sub-menu drop">
                    {% if user.project_last_view_set.all|active:'project'|length > 0 %}
                    <li class="menu-item">
                        <strong>Start New Workbook With ...</strong>
                        <ul class="item-list">
                            {% for plv in user.project_last_view_set.all|active:'project'|dictsortreversed:'last_view'|slice:':5' %}
                            <li class="menu-item">
                                <form action="{% url 'worksheet_create_with_projects' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="project_id" value="{{ plv.project.id }}">
                                    <button type="submit">{{ plv.project.name }}</button>
                                </form>
                            </li>
                            {% endfor %}
                            {% if user.project_last_view_set.all|length > 5 %}
                            <li class="menu-item has-drop-down__more"> More
                                <ul class="drop">
                                    {% for plv in user.project_last_view_set.all|active:'project'|dictsortreversed:'last_view'|slice:'5:' %}
                                    <li class="menu-item">
                                        <form action="{% url 'worksheet_create_with_projects' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="project_id" value="{{ plv.project.id }}">
                                            <button type="submit">{{ plv.project.name }}</button>
                                        </form>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    <li class="menu-item"><a href="{% url 'projects' %}">Saved Projects ( {{ user.project_last_view_set.all|active:'project'|length }}  )</a></li>
                    <li class="menu-item"><a href="{% url 'project_upload' %}">Upload Project Data</a></li>
                    <li class="menu-item"><a href="{% url 'projects' %}#public">Public Projects ({{ user.project_last_view_set.all|active:'project'|is_public:'project'|length}})</a></li>
                </ul>
            </li>
            <li class="menu-item has-drop-down">
                <a>ANALYSES <i class="fa fa-caret-down"></i></a>
                <ul class="sub-menu drop">
                    <li class="menu-item">
                        <strong>Start New Workbook With ...</strong>
                        <ul class="item-list">
                            <li class="menu-item">
                                <form action="{% url 'worksheet_create_with_analysis' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="analysis" value="barchart">
                                    <button type="submit">Bar Chart</button>
                                </form>
                            </li>
                            <li class="menu-item">
                                <form action="{% url 'worksheet_create_with_analysis' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="analysis" value="histogram">
                                    <button type="submit">Histogram </button>
                                </form>
                            </li>
                            <li class="menu-item">
                                <form action="{% url 'worksheet_create_with_analysis' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="analysis" value="scatterplot">
                                    <button type="submit">Scatter Plot</button>
                                </form>
                            </li>
                            <li class="menu-item">
                                <form action="{% url 'worksheet_create_with_analysis' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="analysis" value="violinplot">
                                    <button type="submit">Violin Plot</button>
                                </form>
                            </li>
                            <li class="menu-item">
                                <form action="{% url 'worksheet_create_with_analysis' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="analysis" value="violinplot2">
                                    <button type="submit">Violin Plot 2</button>
                                </form>
                            </li>
                            <li class="menu-item">
                                <form action="{% url 'worksheet_create_with_analysis' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="analysis" value="cubbyhole">
                                    <button type="submit">Cubby Hole</button>
                                </form>
                            </li>
                            <li class="menu-item">
                                <form action="{% url 'worksheet_create_with_analysis' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="analysis" value="seqpeak">
                                    <button type="submit">SeqPeak</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="{% url 'sample_analyses' %}">Browse All Analyses</a></li>
                </ul>
            </li>
            <li class="menu-item has-drop-down">
                <a>GENES <i class="fa fa-caret-down"></i></a>
                <ul class="sub-menu drop">
                    {% if user.genefavorite_last_view_set.all|active:'genefavorite'|length > 0 %}
                    <li class="menu-item">
                        <strong>Start New Workbook With ...</strong>
                        <ul class="item-list">
                            {% for gflv in user.genefavorite_last_view_set.all|active:'genefavorite'|dictsortreversed:'last_view'|slice:':5' %}
                            <li class="menu-item">
                                <form action="{% url 'worksheet_create_with_genes' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="gene_list_id" value="{{ gflv.genefavorite.id }}">
                                    <button type="submit">{{ gflv.genefavorite.name }}</button>
                                </form>
                            </li>
                            {% endfor %}
                            {% if user.genefavorite_last_view_set.all|active:'genefavorite'|length > 5 %}
                            <li class="menu-item has-drop-down__more"> More
                                <ul class="drop">
                                    {% for gflv in user.genefavorite_last_view_set.all|active:'genefavorite'|dictsortreversed:'last_view'|slice:'5:' %}
                                    <li class="menu-item">
                                        <form action="{% url 'worksheet_create_with_genes' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="gene_list_id" value="{{ gflv.genefavorite.id }}">
                                            <button type="submit">{{ gflv.genefavorite.name }}</button>
                                        </form>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    <li class="menu-item"><a href="{% url 'genes' %}">Manage Gene Favorite ( {{ user.genefavorite_last_view_set.all|active:'genefavorite'|length }} )</a></li>
                    <li class="menu-item"><a href="{% url 'gene_fav_create' %}">Create Gene Favorite(s)</a></li>
                    <li class="menu-item"><a href="{% url 'gene_select_and_create_workbook' %}">Select Genes for a New Workbook</a></li>
                </ul>
            </li>
            <li class="menu-item has-drop-down">
                <a>VARIABLES <i class="fa fa-caret-down"></i></a>
                <ul class="sub-menu drop">
                    <!--Temporary code to showcase recent variables items-->
                    {% if user.variablefavorite_last_view_set.all|active:'variablefavorite'|length > 0 %}
                    <li class="menu-item">
                        <strong>Start New Workbook With ...</strong>
                        <ul class="item-list">
                            {% for vflv in user.variablefavorite_last_view_set.all|active:'variablefavorite'|dictsortreversed:'last_view'|slice:':5' %}
                            <li class="menu-item">
                                <form action="{% url 'worksheet_create_with_variables' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="variable_list_id" value="{{ vflv.variablefavorite.id }}">
                                    <button type="submit">{{ vflv.variablefavorite.name }}</button>
                                </form>
                            </li>
                            {% endfor %}
                            {% if user.variablefavorite_last_view_set.all|active:'variablefavorite'|length > 5 %}
                            <li class="menu-item has-drop-down__more"> More
                                <ul class="drop">
                                    {% for vflv in user.variablefavorite_last_view_set.all|active:'variablefavorite'|dictsortreversed:'last_view'|slice:'5:' %}
                                    <li class="menu-item">
                                        <form action="{% url 'worksheet_create_with_variables' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="variable_list_id" value="{{ vflv.variablefavorite.id }}">
                                            <button type="submit">{{ vflv.variablefavorite.name }}</button>
                                        </form>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    <li class="menu-item"><a href="{% url 'variables' %}">Manage Variables Favorite ( {{ user.variablefavorite_last_view_set.all|active:'variablefavorite'|length }} )</a></li>
                    <li class="menu-item"><a href="{% url 'variable_fav_create' %}">Create Favorite Variable(s)</a></li>
                    <li class="menu-item"><a href="{% url 'select_and_create_workbook' %}">Select Variables for a New Workbook</a></li>
                </ul>
            </li>
            <li class="menu-item has-drop-down">
                <a>COHORTS <i class="fa fa-caret-down"></i></a>
                <ul class="sub-menu drop">
                    {% if user.cohort_last_view_set.all|active:'cohort'|length > 0 %}
                    <li class="menu-item">
                        <strong>Start New Workbook With ...</strong>
                        <ul class="item-list">
                            {% for clv in user.cohort_last_view_set.all|active:'cohort'|dictsortreversed:'last_view'|slice:':5' %}
                            <li class="menu-item">
                                <form action="{% url 'worksheet_create_with_cohort' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="cohort_id" value="{{ clv.cohort.id}}">
                                    <button type="submit">{{ clv.cohort.name }}</button>
                                </form>
                            </li>
                            {% endfor %}
                            {% if user.cohort_last_view_set.all|active:'cohort'|length > 5 %}
                            <li class="menu-item has-drop-down__more"> More
                                <ul class="drop">
                                    {% for clv in user.cohort_last_view_set.all|active:'cohort'|dictsortreversed:'last_view'|slice:'5:' %}
                                    <li class="menu-item">
                                        <form action="{% url 'worksheet_create_with_cohort' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="cohort_id" value="{{ clv.cohort.id}}">
                                            <button type="submit">{{ clv.cohort.name }}</button>
                                        </form>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    <li class="menu-item"><a href="{% url 'cohort_list' %}">Manage Saved Cohorts ({{ user.cohort_perms_set.all|active:'cohort'|cohort_owner_permission|length }})</a></li>
                    <li class="menu-item"><a href="{% url 'cohort_list' %}#public">Public Cohorts (1)</a></li>
                    <li class="menu-item"><a href="{% url 'cohort_select_for_new_workbook' %}">Select Cohort for a New Workbook</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    {% endif %}
</header>