<a href="{% url 'collaborators' %}" target="_blank" rel="noopener noreferrer">Team and Collaborators</a>

&nbsp; &nbsp; | &nbsp; &nbsp;
<a class="external-link" href="" url="https://discourse.canceridc.dev"
   data-toggle="modal" data-target="#external-web-warning">
    Discourse <i class="fa fa-external-link external-link-icon" aria-hidden="true"></i>
</a>
&nbsp; &nbsp; | &nbsp; &nbsp;
<a href="https://www.cancer.gov/policies/disclaimer" target="_blank" rel="noopener noreferrer">Disclaimer</a>
&nbsp; &nbsp; | &nbsp; &nbsp;


<p>Data hosted by IDC is subject to the <a href="https://wiki.cancerimagingarchive.net/x/c4hF" target="_blank" rel="noopener noreferrer">TCIA Data
    Usage License and Citation Requirements</a></p>
<p class="acknowledgement">
    <i>NCI Imaging Data Commons is supported by the contract number 19X037Q from Leidos
        Biomedical Research under Task Order HHSN26100071 from NCI.</i>
</p>

<div class="row">
            <span class="social-media-item">
                <a class="external-link" href="" url="https://www.youtube.com/channel/UCQxuVp3_3aTJZBA4zZLMQtQ"
                   data-toggle="modal" data-target="#external-web-warning">
                   &nbsp <i class="fa fa-youtube-play social-media-icon" aria-hidden="true"></i>Youtube
                    <i class="fa fa-external-link external-link-icon" aria-hidden="true"></i>
                </a>
            </span>
    &nbsp; &nbsp; | &nbsp; &nbsp;
    <span class="social-media-item">
                <a class="external-link" href="" url="http://github.com/ImagingDataCommons"
                   data-toggle="modal" data-target="#external-web-warning">
                   &nbsp <i class="fa fa-github-square social-media-icon" aria-hidden="true"></i>GitHub
                    <i class="fa fa-external-link external-link-icon" aria-hidden="true"></i>
                </a>
            </span>
    &nbsp; &nbsp; | &nbsp;&nbsp;
    <span class="social-media-item">
                <a class="external-link" href="" url="https://twitter.com/CancerIDC"
                   data-toggle="modal" data-target="#external-web-warning">
                   &nbsp <i class="fa fa-twitter-square social-media-icon" aria-hidden="true"></i>Twitter
                    <i class="fa fa-external-link external-link-icon" aria-hidden="true"></i>
                </a>
            </span>
</div>