{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    IDC|About
{% endblock %}

{% block description %}
    About IDC
{% endblock %}

{% block page_header %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}">Your Dashboard</a></li>
    </ol>
    <h1 class="page-header">About</h1>
</div>
{% endblock %}

{% block content %}
    <h4>This is a about page</h4>
{% endblock %}

{% block js_file %}
	{{ block.super }}
	<script src="{% static 'js/dashboard.js' %}"></script>
    <script>
    var showWarning = true;
    </script>
{% endblock %}