<!-- Citations Modal -->
<div class="modal fade" id="citations-modal" tabindex="-1" role="dialog"
     aria-labelledby="citationsModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="citationsModal">Citations</h4>
                <h5>If you use images from the selected cohort or cart, please acknowledge by citing the following:</h5>
            </div>
            <div class="modal-body">
                <div class="citations-wrapper">
                    <button type="button" class="citations copy-this btn btn-default"
                        content="cites"
                        title="Copy all citations to clipboard">
                        <i class="fa-solid fa-copy" aria-hidden="true"></i>
                    </button>
                    <pre class="code citations-list">

                    </pre>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
