{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    IDC|Team and Collaborators
{% endblock %}

{% block description %}
    IDC Team and Collaborators
{% endblock %}

{% block link_page_name %}collaborators{% endblock %}
{% block page_name %}collaborators{% endblock %}

{% block page_header %}
<div class="container-fluid">
    <h1 class="page-header">Team and Collaborators</h1>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="partners-div">
            <h4>Team</h4>
            <a href="https://www.massgeneralbrigham.org/" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'img/mgb_logo.svg' %}" alt="Mass General Brigham, Inc."/>
            </a>
            <a href="https://isbscience.org/" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'img/isb_logo.png' %}" alt="Institute for Systems Biology"/>
            </a>
            <a href="https://gdit.com/" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'img/gdit_logo.png' %}" alt="General Dynamics Information Technology, Inc."/>
            </a>
            <br>
            <a href="https://www.mevis.fraunhofer.de/" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'img/fraunhofer_logo.png' %}" alt="Fraunhofer MEVIS"/>
            </a>
            <a href="https://isomics.com/" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'img/isomics_logo.png' %}" alt="Isomics, Inc."/>
            </a>
            <a href="https://www.pixelmed.com/" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'img/pixelmed_logo.svg' %}" alt="PixelMed Publishing LLC"/>
            </a>
            <a href="https://radicalimaging.com/" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'img/radical_logo.jpg' %}" alt="Radical Imaging LLC"/>
            </a>
            <br><br><br><br>
            <h4>Collaborators</h4>
            <a href="https://cloud.google.com/" target="_blank" rel="noopener noreferrer">
                <img class="gcp-logo" src="{% static 'img/gcp-logo.svg' %}" alt="Google Cloud Platform"/>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block js_file %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'js/base.js' %}?v={{ APP_VERSION }}"></script>
{% endblock %}