<div class="modal fade" id="collection-modal" tabindex="-1" role="dialog" data-backdrop="static"
     aria-labelledby="CollectionModal" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content" id="collection-modal-content">
            <div class="modal-header">

                <button id="collection_modal_button" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title" id="collecton-modal-title">Collection</h4>

            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>