<table id="list-table" class="table table-striped file-list-table sortable_table" aria-label="Case Table">
    <thead>
        <tr>
            <th class="col-program" columnId="col-collection">Collection</th>
            <th class="col-uuid" columnId="col-case-uuid">Case UUID</th>
            <th class="col-barcode" columnId="col-case-barcode">Case Barcode</th>
        </tr>
    </thead>
    <colgroup>
        <col style="width: 15%">
        <col style="width: 20%">
        <col style="width: 25%">
        <col style="width: 40%">
    </colgroup>
    <tbody>
        {% for this_case in cases %}
            {% include "file-table-row.html" with case=this_case %}
        {% endfor %}
    </tbody>
</table>