{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% load cohort_filters %}
{% load idc_collections_custom_tags %}
{% load tz %}
{% block header %}
{% endblock %}

{% block link_page_name %}dashboard{% endblock %}
{% block page_name %}dashboard{% endblock %}

{% block page_header %}
    <div class="container">
        <h1 class="page-header">Your Dashboard</h1>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <!--
         Use this row to embed announcements for users to see on their dashboards.
         -->
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <section class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            A Panel
                        </h3>
                        <div class="min-max">
                            <a data-toggle="collapse" aria-label="Open/Close Notebook" href="#notebook-panel"><i
                                    class="show fa fa-angle-double-down"></i></a>
                        </div>
                    </div>
                    <div id="workbook-panel" class="panel panel-collapse collapse in" aria-expanded="true">
                        <div class="panel-body">
                        </div>
                        <div class="panel-footer">
                            <div style="height:40px">

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <section class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a href="{% url 'cohort_list' %}">Saved Cohorts ({{ cohorts.count }})</a>
                        </h3>
                        <div class="min-max">
                            <a data-toggle="collapse" aria-label="Open/Collapse Saved Cohorts" href="#cohorts-panel"><i
                                    class="show fa fa-angle-double-down"></i></a>
                        </div>
                    </div>
                    <div id="cohorts-panel" class="panel panel-collapse collapse in" aria-expanded="true">
                        <div class="panel-body">
                            {% if cohorts.count > 0 %}
                                <ul class="table-list">
                                    {% for cohort in cohorts|slice:':6' %}
                                        <li>
                                            <a href="{% url 'cohort_details' cohort.id %}">
                                                <div class="list-main col-3">
                                                    <span class="list-title"
                                                          title="{{ cohort.name|wrap_text }}">{{ cohort.name }}</span>
                                                </div>
                                            </a>
                                            {% if not cohort.only_user_data %}
                                                <a href="{% url 'cohort_filelist' cohort.id %}">
                                                    <div class="list-link">
                                                        <span class="list-title file-browser-link"
                                                              title="Browse this cohort's file manifest">File browser</span>
                                                    </div>
                                                </a>
                                            {% else %}
                                                <div class="list-link">
                                                    <span class="list-title file-browser-link"
                                                          title="File browsing is unavailable for cohorts which contain only user data.">File Browser</span>
                                                </div>
                                            {% endif %}
                                            <div class="list-info col-3">
                                                <span>{{ cohort.last_date_saved|date:'M d, Y, g:i a' }}</span>
                                            </div>
                                        </li>
                                    {% endfor %}
                                    {% if cohorts.count > 6 %}
                                        <a class="btn btn-link float-right" href="{% url 'cohort_list' %}">View all</a>
                                    {% endif %}
                                </ul>
                            {% else %}
                                <p>You don't have any saved Cohorts.</p>
                            {% endif %}
                            <div class="pull-right dropdown">
                                <a id="btnGroupDropCohortCreate" href="{% url 'explore_data' %}"
                                   class="btn btn-link dropdown-toggle"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-plus"></i>Create a Cohort</a>
                                <ul class="dropdown-menu" aria-labelledby="btnGroupDropCohortCreate">
                                    <li><a class="btn dropdown-item" href="{% url 'explore_data' %}">Filters</a></li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        {% if USER_DATA_ON %}
            <hr>
            <div class="row">
                <div class="col-md-12">
                    {% with program_count=programs.count %}
                        <section class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a href="{% url 'programs' %}">Saved Programs ({{ program_count }})</a>
                                </h3>
                                <div class="min-max">
                                    <a data-toggle="collapse" aria-label="Open/Collapse Saved Program"
                                       href="#programs-panel"><i class="show fa fa-angle-double-up"></i></a>
                                </div>
                            </div>
                            <div id="programs-panel" class="panel panel-collapse collapse" aria-expanded="false">
                                <div class="panel-body">
                                    <p>You can upload data from your own research programs.</p>
                                    {% if program_count > 0 %}
                                        <ul class="table-list">
                                            {% for program in programs|slice:':6' %}
                                                <li>
                                                    <a href="{% url 'program_detail' program.id %}">
                                                        <p class="list-title">{{ program.name }}</p>
                                                        {% if program.description %}
                                                            <p>{{ program.description|slice:':65' }}
                                                                {% if program.description|length > 65 %}
                                                                    &hellip;{% endif %}</p>
                                                        {% endif %}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                            {% if program_count > 6 %}
                                                <a class="btn btn-link" href="{% url 'programs' %}">View All</a>
                                            {% endif %}
                                        </ul>
                                    {% endif %}
                                </div>
                                <div class="panel-footer">
                                    <a href="{% url 'program_upload' %}" class="btn btn-link"><i
                                            class="fa fa-cloud-upload"></i>Upload
                                        Program Data</a>
                                </div>
                            </div>
                        </section>
                    {% endwith %}
                </div>
            </div>
        {% endif %}

    </div>

    <script type="text/javascript">
        var USER_SETTINGS_KEY = 'user_' + {{ request.user.id }} +'_dash_settings';
        var SOLR_URL = '{{ SOLR_URL }}';
    </script>
{% endblock %}


{% block js_file %}{% static 'js/dashboard.js' %}{% endblock %}