<!-- Warning Modal -->
<div class="modal fade" id="download-images" tabindex="-1" role="dialog" data-backdrop="static"
     aria-labelledby="download-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title" id="download-header">Warning</h4>
            </div>
            <div class="modal-body">
                <p>

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-warn">Close</button>
            </div>
        </div>
    </div>
</div>