<!-- Warning Modal -->
<div class="modal fade" id="download-warning" tabindex="-1" role="dialog" data-backdrop="static"
     aria-labelledby="download-warning-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title" id="download-header">Large Download</h4>
            </div>
            <div class="modal-body">
                <p>
                    The total disk size of the images in this download exceeds 1TB (one terabyte), and may
                    take a significant amount of time to transfer depending on your internet connection speed. Please do
                    not refresh this browser tab/window during the download process or your progress may be lost.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary download-all-instances" data-dismiss="modal" aria-label="Proceed with download">
                    Proceed with download <i class="fa fa-download"></i>
                </button>
                <button type="button" class="btn btn-primary btn-warn" data-dismiss="modal" aria-label="Cancel">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>