<!-- Warning Modal -->
<div class="modal fade" id="download-images" tabindex="-1" role="dialog" data-backdrop="static"
     aria-labelledby="download-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title" id="download-header">Download Images</h4>
            </div>
            <div class="modal-body">
                <p>
                    Instructions on how to download the files corresponding to the selection in the portal to either
                    Google Colab VM, compute engine VM, or your computer are here:
                    <b><a class="external-link download-link" href="" url="https://learn.canceridc.dev/data/downloading-data"
                          title="Download IDC Images"
                          data-toggle="modal" data-target="#external-web-warning"
                    >
                        https://learn.canceridc.dev/data/downloading-data <i class="fa-solid fa-external-link external-link-icon" aria-hidden="true"></i>
                    </a></b>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-warn" data-dismiss="modal" aria-label="Close">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>