{# Public Data Set Filter Template #}
<div id="{{ program.id }}-data" class="tab-pane data-tab" role="tabpanel">
    <div id="{{ program.id }}-data-filter-panel" class="col-lg-3 filter-panel" role="tabpanel" {% if cohort.id %}style="display:none;"{% endif %} data-prog-id="{{ program.id }}" data-prog-displ-name="{{ program.name }}">
        <div class="tabpanel" role="tabpanel">
            <ul class="nav nav-tabs nav-tabs-filters" role="tablist">
                <li role="presentation" class="filter-tab active"><a href="#clinical-filters-{{ program.id }}" role="tab" data-toggle="tab" title="Case Filters">Case</a></li>
                <li role="presentation" class="filter-tab {% if data_types.keys|length <= 0 %}disabled{% endif %}"><a href="#data-filters-{{ program.id }}" role="tab" data-toggle="tab" title="Data Type Filters">Data</a></li>
                <li role="presentation" class="filter-tab {% if molecular_attr.keys|length <= 0 %}disabled{% endif %}"><a class="molecular-filters" href="#p-{{ program.id }}-molecular-filters" role="tab" data-toggle="tab" title="Molecular Filters">Molec.</a></li>
            </ul>
            <div class="tab-content">
                <!-- case filters tab -->
                <div role="tabpanel" class="tab-pane active" id="clinical-filters-{{ program.id }}">
                    <ul class="list-group" id="clin-accordion-{{ program.id }}" role="tablist" aria-multiselectable="true">
                        {% for attr in clin_attr|get_sorted_items %}
                            {% if attr_counts|list_contains_name:attr.name %}
                                <li class="list-group-item">
                                    <div id="{{ program.id }}-heading-{{attr.name}}" class="list-group-item__heading">
                                        <a role="button" data-toggle="collapse" data-parent="#clin-accordion-{{ program.id }}" href="#{{ program.id }}-collapse-{{ attr.name }}" aria-expanded="false" aria-controls="collapse-{{ attr.name }}">
                                            <i class="fa fa-solid fa-caret-right"></i><i class="fa fa-solid fa-caret-down"></i> {{ attr.displ_name }}
                                        </a>
                                    </div>

                                    <div id="{{ program.id }}-collapse-{{ attr.name }}" class="list-group-item__body collapse cohort-feature-select-block" role="tabpanel" data-feature-type="donor"
                                         aria-labelledby="{{ program.id }}-heading-{{ attr.name }}" data-feature-name="{{ attr.name }}" data-feature-displ-name="{{ attr.displ_name }}"
                                         data-feature-id="{% if attr_counts|get_named_item:attr.name|get_item:'id' %}{{ attr_counts|get_named_item:attr.name|get_item:'id' }}{% endif %}">
                                        <ul class="search-checkbox-list" id="{{ program.id }}-{{ attr.name }}">
                                            {% with attr_counts|get_named_item:attr.name|get_item:'values'|how_many_more:6 as num_more %}
                                                {% for v in attr_counts|get_named_item:attr.name|get_item:'values'|check_for_order:attr.name %}
                                                    {% if forloop.counter0 < 6 %}
                                                        <li class="checkbox">
                                                            <label {% if v.tooltip %} title="{{ v.tooltip }}" {% endif %}>
                                                                <input type="checkbox" name="elements-selected" data-value-name="{{ v.value }}"
                                                                       id="{% if v.full_id %}{{ program.id }}-{{ v.full_id }}{% endif %}"
                                                                       data-value-displ-name="{% if v.displ_name %}{{ v.displ_name }}{% endif %}"
                                                                       data-value-id="{% if v.id %}{{ v.id }}{% elif v.name %}{{ v.name }}{% else %}{{ v.value }}{% endif %}">
                                                                {% if v.value == 'None' %}NA{% elif v.displ_name %}{{ v.displ_name|get_readable_name:attr.name }}{% else %}{{ v.value|get_readable_name:attr.name }}{% endif %}
                                                                <span class="float-right sample_count count">{{ v.count|format_num_with_commmas }}</span>
                                                            </label>
                                                        </li>
                                                    {% elif forloop.counter0 == 6 and num_more > 0 %}
                                                        <p class="more-checks"><a class="show-more">{{ num_more }} more</a><span class="checks"><a class="check-all">Check All</a> / <a class="uncheck-all">Uncheck All</a></span></p>
                                                        <li class="extra-values checkbox" style="display:none;">
                                                            <label {% if v.tooltip %} title="{{ v.tooltip }}" {% endif %}>
                                                                <input type="checkbox" name="elements-selected" data-value-name="{{ v.value }}"
                                                                       id="{% if v.full_id %}{{ program.id }}-{{ v.full_id }}{% endif %}"
                                                                       data-value-displ-name="{% if v.displ_name %}{{ v.displ_name }}{% endif %}"
                                                                       data-value-id="{% if v.id %}{{ v.id }}{% elif v.name %}{{ v.name }}{% else %}{{ v.value }}{% endif %}">
                                                                {% if v.value == 'None' %}NA{% elif v.displ_name %}{{ v.displ_name|get_readable_name:attr.name }}{% else %}{{ v.value|get_readable_name:attr.name }}{% endif %}
                                                                <span class="float-right sample_count count">{{ v.count|format_num_with_commmas }}</span>
                                                            </label>
                                                        </li>
                                                    {% else %}
                                                        <li class="extra-values checkbox" style="display:none;">
                                                            <label {% if v.tooltip %} title="{{ v.tooltip }}" {% endif %}>
                                                                <input type="checkbox" name="elements-selected" data-value-name="{{ v.value }}"
                                                                       id="{% if v.full_id %}{{ program.id }}-{{ v.full_id }}{% endif %}"
                                                                       data-value-displ-name="{% if v.displ_name %}{{ v.displ_name }}{% endif %}"
                                                                       data-value-id="{% if v.id %}{{ v.id }}{% elif v.name %}{{ v.name }}{% else %}{{ v.value }}{% endif %}">
                                                                {% if v.value == 'None' %}NA{% elif v.displ_name %}{{ v.displ_name|get_readable_name:attr.name }}{% else %}{{ v.value|get_readable_name:attr.name }}{% endif %}
                                                                 <span class="float-right sample_count count">{{ v.count|format_num_with_commmas }}</span>
                                                            </label>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                                {% if num_more > 0 %}
                                                    <p class="less-checks" style="display: none;"><a class="show-less">less</a><span class="checks"><a class="check-all">Check All</a> / <a class="uncheck-all">Uncheck All</a></span></p>
                                                {% endif %}
                                            {% endwith %}
                                        </ul>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
{#              <!-- data filters tab -->#}
                <div role="tabpanel" class="tab-pane" id="data-filters-{{ program.id }}">
                    <ul class="list-group" id="data-type-accordion" role="tablist" aria-multiselectable="true">
                        {% for attr in data_types|get_sorted_items %}
                            {% if data_type_counts|list_contains_name:attr.name %}
                                <li class="list-group-item">
                                <div class="list-group-item__heading" role="tab" id="{{ program.id }}-heading-{{ attr.name }}">
                                    <a role="button" data-toggle="collapse" data-parent="#data-type-accordion" href="#{{ program.id }}-collapse-{{ attr.name }}"
                                       aria-expanded="false" aria-controls="collapse-{{ attr.name }}" {% if 'mRNA' in attr.name or 'miRNA' in attr.name %}style="text-transform:none!important"{% endif %}>
                                        <i class="fa fa-solid fa-caret-right"></i><i class="fa fa-solid fa-caret-down"></i> {{ attr.displ_name|check_special_casing }}
                                    </a>
                                </div>
                                <div id="{{ program.id }}-collapse-{{ attr.name }}" class="list-group-item__body collapse cohort-feature-select-block" role="tabpanel"
                                     aria-labelledby="{{ program.id }}-heading-{{ attr.name }}" data-feature-name="{{ attr.name }}" data-feature-displ-name="{{ attr.displ_name }}"
                                     data-feature-type="datatype" data-feature-id="data_type">
                                    <ul class="search-checkbox-list" id="{{ program.id }}-{{ attr.name }}">
                                        {% for v in data_type_counts|get_named_item:attr.name|get_item:'values' %}
                                            <li class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="elements-selected" data-value-name="{{ v.value }}"
                                                           data-value-displ-name="{% if v.value == 'None' %}NA{% elif v.displ_name %}{{ v.displ_name }}{% else %}{{ v.value }}{% endif %}"
                                                           data-value-id="{% if v.id %}{{ v.id }}{% elif v.name %}{{ v.name }}{% else %}{{ v.value }}{% endif %}">
                                                     {% if v.value == 'None' %}NA{% elif v.displ_name %}{{ v.displ_name }}{% else %}{{ v.value }}{% endif %} <span class="float-right sample_count count">{{ v.count|format_num_with_commmas }}</span>
                                                </label>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
{#                <!-- molecular filters tab -->#}
                {% if molecular_attr.keys|length > 0 %}
                <div role="tabpanel" class="tab-pane" id="p-{{ program.id }}-molecular-filters">
                    <ul class="list-group molecular-accordion" id="p-{{ program.id }}-molecular-accordion" role="tablist" aria-multiselectable="true">
                        <li class="list-group-item">
                            <div id="p-{{ program.id }}-molecular-filter-alert" class="alert alert-warning alert-dismissable molecular-filter-alert" style="display: none;">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                A large amount of data must be processed to use these filters, which can result in some delays.
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="list-item__heading" role="tab" id="p-{{ program.id }}-heading-and-or-filters">
                                    Combine Mutation Filters with...
                            </div>
                            <div class="list-group-item__body">
                                <select id="p-{{ program.id }}-mut-filter-combine" class="form-control mut-filter-combine" aria-labelledby="p-{{ program.id }}-heading-and-or-filters">
                                    <option value="and" title="Filters will be combined using AND" selected>AND (Require all filters)</option>
                                    <option value="or" title="Filters will be combined using OR">OR (Require one or more filters)</option>
                                </select>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="list-group-item__heading" role="tab" id="p-{{ program.id }}-heading-gene-mutation-status">
                                <a class="collapse-gene-mutation-status" role="button" data-toggle="collapse" data-parent="#data-type-accordion" href="#p-{{ program.id }}-collapse-gene-mutation-status" aria-expanded="false" aria-controls="collapse-gene-mutation-status">
                                    <i class="fa fa-solid fa-caret-right"></i><i class="fa fa-solid fa-caret-down"></i> GENE MUTATION STATUS
                                </a>
                            </div>
                            <div id="p-{{ program.id }}-collapse-gene-mutation-status" class="list-group-item__body collapse cohort-feature-select-block gene-mutation-status" role="tabpanel"
                                 aria-labelledby="p-{{ program.id }}-heading-gene-mutation-status" data-feature-name="gene-mutation-status" data-feature-displ-name="Gene Mutation Status" data-feature-type="molecular">
                                <ul class="list">
                                    {% if molecular_attr_builds %}
                                        <li class="list-item">
                                            <button class="btn btn-primary build-mol-filter" disabled title="Choose a Gene and Mutation Type, then click this button to create the filter.">Build Filter</button>
                                            <button class="btn btn-primary clear-mol-filter" title="Clear the current filter settings (does not delete a filter from your Selected Filters).">Clear</button>
                                        </li>
                                        <li class="list-item">
                                            <label title="Make this filter a 'negative' filter, eg. 'TP53 does not have mutations'">
                                                <input class="inversion-checkbox" type="checkbox" name="invert-filter" /> Negative Filter?
                                            </label>
                                        </li>
                                        <li class="list-item">
                                            <!-- build selector -->
                                            <div class="list-item__heading" role="tab" id="p-{{ program.id }}-heading-sel-build">
                                                Genomic Build
                                            </div>
                                            <div id="p-{{ program.id }}-sel-build" class="list-group-item__body sel-build" role="tabpanel" aria-labelledby="p-{{ program.id }}-heading-sel-build">
                                                {% if molecular_attr_builds|length > 1 %}
                                                    <select id="p-{{ program.id }}-mutation-build" class="form-control mutation-build" aria-labelledby="p-{{ program.id }}-heading-sel-build">
                                                        {% for build in molecular_attr_builds %}
                                                            <option value="{{ build.value }}" data-bq-table="{{ build.displ_text }}" title="BQ table: {{ build.displ_text }}" {% if build.value == 'HG19' %}selected{% endif %}>{{ build.value }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    {% for build in molecular_attr_builds %}
                                                        {% if build.value == 'HG19' %}
                                                            <div class="bq-name"><span class="label bq-label">BQ Table:</span> <span class="bq-table-display" title="{{ build.displ_text }}" id="p-{{ program.id }}-bq-table">{{ build.displ_text }}</span></div>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <span>{{ molecular_attr_builds.0.value }}</span>
                                                    <div class="bq-name"><span class="label bq-label">BQ Table:</span> <span class="bq-table-display" title="{{ molecular_attr_builds.0.displ_text }}" id="p-{{ program.id }}-bq-table">{{ molecular_attr_builds.0.displ_text }}</span></div>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% endif %}
                                    <li class="list-item">
                                        <!-- gene selector -->
                                        <div class="list-item__heading" role="tab" id="p-{{ program.id }}-heading-sel-gene">
                                                Gene
                                        </div>
                                        <div id="p-{{ program.id }}-sel-gene" class="list-group-item__body sel-gene" role="tabpanel" aria-labelledby="p-{{ program.id }}-heading-sel-gene">
                                            <div id="p-{{ program.id }}-tokenfield-holder">
                                                <textarea name="genes-list" class="form-control tokenfield paste-in-genes" id="p-{{ program.id }}-paste-in-genes" aria-labelledby="p-{{ program.id }}-heading-sel-gene" placeholder="Enter a gene's name" required></textarea>
                                            </div>
                                            <div class="tokenfield">
                                                <p class="helper-text__invalid" style="display: none;"><i class="fa-solid fa-exclamation-circle"></i> The following <span class="token invalid">items</span>were not recognized as gene identifiers. You may either correct or delete these items -- or use them as-is.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <!-- Mutation Category Selector -->
                                        <div class="list-item__heading" role="tab" id="p-{{ program.id }}-heading-sel-molecular-attr-cat">
                                                Mutation Type Categories
                                        </div>
                                        <div id="p-{{ program.id }}-sel-molecular-attr-cat" class="list-group-item__body cohort-feature-select-block" role="tabpanel"
                                             aria-labelledby="p-{{ program.id }}-heading-sel-molecular-attr-cat" data-feature-displ-name="Mutation Category" data-feature-id="category"
                                             data-feature-name="mutation-category" data-feature-type="molecular">
                                            <select id="p-{{ program.id }}-mutation-category" class="mutation-category-selector form-control" aria-labelledby="p-{{ program.id }}-heading-sel-molecular-attr-cat">
                                                <option value="label" disabled selected>-- Select a Category --</option>
                                                <option value="any" data-value-displ-name="Any" data-value-name="Any" data-value-id="any">Any</option>
                                                {% for cat in molecular_attr.categories %}
                                                    <option value="{{ cat.value }}" data-value-displ-name="{{ cat.name }}" data-value-name="{{ cat.name }}"
                                                            data-value-id="{% if cat.id %}{{ cat.id }}{% else %}{{ cat.value }}{% endif %}">{{ cat.name }}</option>
                                                {% endfor %}
                                                <option value="indv-selex">Individual Selection</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <!-- Specific Mutation Type Checkboxes -->
                                        <div class="list-item__heading" role="tab" id="p-{{ program.id }}-heading-spec-molecular-attrs">
                                            <span title="Choose the 'Individual Selection' category to enable this section">Individual Mutation Types</span>
                                        </div>
                                        <span class="heading-note" id="p-{{ program.id }}-spec-mol-attr-heading-note">Choose the 'Individual Selection' category to enable</span>
                                        <div id="p-{{ program.id }}-spec-molecular-attrs" class="list-group-item__body cohort-feature-select-block spec-molecular-attrs" role="tabpanel"
                                             aria-labelledby="p-{{ program.id }}-heading-spec-molecular-attrs" data-feature-displ-name="Specific Mutation Type" data-feature-name="specific-mutation"
                                             data-feature-id="specific" data-feature-type="molecular">
                                            <ul class="mol-checkbox-list" id="p-{{ program.id }}-{{ attr.value }}" style="display: none;">
                                                {% for attr in molecular_attr.attrs %}
                                                    <li class="checkbox">
                                                        <label>
                                                            <input class="mutation-checkbox" type="checkbox" name="elements-selected" data-value-name="{{ attr.value }}"
                                                                   data-value-id="{% if attr.id %}{{ attr.id }}{% else %}{{ attr.value }}{% endif %}"
                                                                   data-value-displ-name="{{ attr.displ_name }}" data-category="{{ attr.category }}">
                                                            {{ attr.displ_name }} <!-- <span class="count">({{ attr.count }})</span> -->
                                                        </label>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="{% if cohort.id %}col-md-12{% else %}col-lg-9{% endif %} data-tab-content-panel">
        <div class="selected-filters {{ program.id }}-data-selected-filters panel panel-default" {% if cohort.id %}style="display: none;"{% endif %}>
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left">{% if cohort.id %}New Filters{% else %}Selected Filters{% endif %}</h4>
                <a class="pull-right clear-filters" role="button" id="{{ program.id }}-data-clear-filters">Clear All</a>
            </div>
            <div class="panel-body"></div>
        </div>
        <div class="cohort-info panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Program Details</h4>
            </div>
            <div class="panel-body">
                <div class="row col-md-6">
                    <span class="detail-label">Total Number of Cases:</span>
                    <div class="spinner" style="display:none;"><i class="fa-solid fa-spinner fa-spin"></i></div>
                    <span class="total-values total-cases" id="p-{{ program.id }}-data-total-participants">{{ metadata_counts.cases|format_num_with_commmas }}</span>
                </div>
                <div class="row col-md-6">
                    <span class="detail-label">Total Number of Samples:</span>
                    <div class="spinner" style="display:none;"><i class="fa-solid fa-spinner fa-spin"></i></div>
                    <span class="total-values total-samples" id="p-{{ program.id }}-data-total-samples">{{ metadata_counts.total|format_num_with_commmas }}</span>
                </div>
            </div>
        </div>
        <div class="clinical-trees panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Clinical Features</h4>
            </div>
            <div class="panel-body">
                <div class="spinner" style="display:none;"><i class="fa-solid fa-spinner fa-spin"></i></div>
                <div id="tree-graph-clinical-{{ program.id }}" class="tree-graph-clinical"></div>
            </div>
            <div class="more-graphs"><button class="btn btn-link" role="button">Show More</button></div>
            <div class="less-graphs" style="display: none;"><button class="btn btn-link" role="button">Show Less</button></div>
        </div>
        {% if cohort.id %}
        <div class="parallel-sets panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Data File Availability</h4>
            </div>
            <div class="panel-body">
                <div class="spinner" style="display:none;"><i class="fa-solid fa-spinner fa-spin"></i></div>
                <div class="multi-categorical" id="multi-categorical-{{ program.id }}"></div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    var total_samples = {{ total_samples|safe }};
    var metadata_counts = {{ metadata_counts|tojson|safe }};
    var metadata_filters = {{ metadata_filters|tojson|safe }};
    var attr_counts = {{ attr_counts|tojson|safe }};
    var molecular_attr = {{ molecular_attr|tojson|safe }}
</script>
