{% extends 'base.html' %}
{% load static %}

{% block title %}
    IDC | News
{% endblock %}

{% block description %}
    IDC News
{% endblock %}

{% block page_name %}news{% endblock %}

{% block page_header %}
    <div class="container-fluid">
        <h3 class="pull-left">News</h3>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class ="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-default short-inner-content" role="panel panel-default">
                    <div class="panel-heading"><h4>The list of posts below is populated automatically from the
                        <a href="https://discourse.canceridc.dev/c/announcements/5" target="_blank" rel="noreferrer nofollow">
                            "Announcements" category</a>
                        of the <a href="https://discourse.canceridc.dev" target="_blank" rel="noreferrer nofollow">IDC Discourse forum</a>.</h4>
                    </div>
                    <div class="panel-body">
                        <d-topics-list template="complete" discourse-url="https://discourse.canceridc.dev" category="5" per-page="5"></d-topics-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_file %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'js/news.js' %}?v={{ APP_VERSION }}"></script>
    <script>
    var showWarning = true;
    </script>
    <script type="text/javascript" src="https://discourse.canceridc.dev/javascripts/embed-topics.js"></script>
{% endblock %}